:host {
  padding: 32px;
  display: block;
}

h3 {
  font-family: Rajdhani, sans-serif;
  font-size: 32px !important;
  font-weight: 600 !important;
}

p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: #A6A5AC;
  font-weight: 400;
}
