/* ========================================================================
         Component: utils
 ========================================================================== */

// Utilities classes to simplify
// components constructions

.bg-transparent {
  background-color: transparent !important;
}

// Background image
.bg-center {
  background-position: center center;
  background-size: cover;
}

// List
.list-icon {
  em {
    font-size: 14px;
    width: 40px;
    vertical-align: middle;
    margin: 0;
    display: inline-block;
    text-align: center;
    @include transition(all 0.2s);
    line-height: 30px;
  }
  div:hover em {
    transform: scale(3, 3);
  }
}

// Fixed table layout algorithm
.d-table-fixed {
  table-layout: fixed;
}

// Components size

.wd-xxs {
  width: $wd-xxs;
}
.wd-xs {
  width: $wd-xs;
}
.wd-sm {
  width: $wd-sm;
}
.wd-sd {
  width: $wd-sd;
}
.wd-md {
  width: $wd-md;
}
.wd-lg {
  width: $wd-lg;
}
.wd-xl {
  width: $wd-xl;
}
.wd-xxl {
  width: $wd-xxl;
}
.wd-wide {
  width: $wd-wide;
}
.wd-auto {
  width: $wd-auto;
}
.wd-zero {
  width: $wd-zero;
}

// Simulate clickable element
.clickable {
  cursor: pointer;
}

// Absolute center element
// -----------------------------------

.abs-center-container {
  position: relative;
}
.abs-center {
  // width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &.abs-fixed {
    position: fixed;
    z-index: 999;
  }

  &.abs-right {
    left: auto;
    right: 20px;
    text-align: right;
  }

  &.abs-left {
    right: auto;
    left: 20px;
    text-align: left;
  }
}

@media (max-height: 720px) {
  .abs-center {
    position: relative;
  }
}

.link-unstyled {
  text-decoration: none !important;
  outline: none !important;
}

.no-resize {
  resize: none;
  max-width: 100%;
  min-width: 100%;
}

// Shadow

.shadow-z0 {
  @include box-shadow(0 0 0 #000);
}
.shadow-z1 {
  @include material-shadow(1);
}
.shadow-z2 {
  @include material-shadow(2);
}
.shadow-z3 {
  @include material-shadow(3);
}
.shadow-z4 {
  @include material-shadow(4);
}
.shadow-z5 {
  @include material-shadow(5);
}

.ie-fix-flex {
  -ms-flex: 0 0 auto;
}
