<div class="card card-default d-flex shadow-none d-flex pt-3 mb-3">
  <div class="row">
    <div class="col-lg-12 mb-2">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <span class='label default-color opacity-50 pl-3'>Fields</span>
        <button
          mat-icon-button
          *ngIf="!showFieldsForm"
          (click)="showAddFieldForm()"
          matTooltip="Add field"
          data-qa-id="show-field">
          <mat-icon class="btn-color-primary">add</mat-icon>
        </button>
      </div>
      <div>
        <app-field-form
          *ngIf="showFieldsForm"
          [data]="fieldToEdit"
          (added)="addFieldHandler($event)"
          (updated)="updateFieldHandler($event)"
          (canceled)="canceledHandler()"></app-field-form>

        <div class="field-list py-2" *ngIf="fieldsList?.length">
          <div
            class="field-list-item my-3 px-2 pb-3"
            *ngFor="let element of fieldsList; let i = index; let first = first; let last = last">
            <div class="d-flex justify-content-end align-items-center pt-2">
              <div class="d-flex align-items-center">
                <button
                  mat-icon-button
                  matSuffix
                  class="mat-primary"
                  *ngIf="!first"
                  matTooltip="Move up"
                  (click)="moveUp(i)">
                  <mat-icon>arrow_circle_up</mat-icon>
                </button>
                <button
                  mat-icon-button
                  matSuffix
                  class="mat-primary"
                  *ngIf="!last"
                  matTooltip="Move down"
                  (click)="moveDown(i)">
                  <mat-icon>arrow_circle_down</mat-icon>
                </button>

                <button
                  mat-icon-button
                  matSuffix
                  class="mat-primary btn-color-primary"
                  matTooltip="Edit Fields"
                  (click)="editField(i)"
                  data-qa-id="edit-field">
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  matSuffix
                  class="mat-primary color-error"
                  matTooltip="Delete"
                  (click)="deleteField(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
            <app-fields-summary [element]="element"></app-fields-summary>
          </div>
        </div>

        <div class="d-flex justify-content-center align-items-center mb-4" *ngIf="!fieldsList?.length">
          <div class='d-flex align-items-center no-record default-color'>
            <mat-icon class="mr-2 my-2">info</mat-icon>
            <i>Empty</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
