<ng-container *ngIf="claim?.isAccepted">
  <div class="d-flex flex-column align-items-md-center flex-md-row justify-content-between mr-2">
    <div class="color-success">Approved</div>
    <ng-container *ngIf="claim?.canPublishClaim">
      <div>
        <ng-content></ng-content>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="claim?.isPending">
  <span class="color-warned">Pending</span>
</ng-container>
<ng-container *ngIf="claim?.isRejected">
  <span class="color-error">Rejected</span>
</ng-container>
<ng-container *ngIf="claim?.isRevoked">
  <span class="color-error">Revoked</span>
</ng-container>
