<app-report-problem>
  <ng-container *ngIf="defaultValidityPeriod">
    Default expiration date of this role is <b>{{ defaultValidityPeriod | timeShift | defaultDate }} UTC</b>.
  </ng-container>
  <ng-container *ngIf="!defaultValidityPeriod"> Default expiration date is not set. </ng-container>
  This role will be issued with
  <ng-container *ngIf="expirationTime"
    ><b>{{ expirationTime | timeShift | defaultDate }} UTC</b></ng-container
  >
  <ng-container *ngIf="!expirationTime"><b>no</b></ng-container> expiration date
</app-report-problem>
