<app-report-problem>
  <ng-container *ngIf="defaultValidityPeriod">
    The default expiration date for this role is <b>{{ defaultValidityPeriod | timeShift | defaultDate }} UTC</b>.
  </ng-container>
  <ng-container *ngIf="!defaultValidityPeriod"> Default expiration date is not set. </ng-container>

  <ng-container *ngIf="expirationTime"
    >This role will now be issued with an expiration date of
    <b>{{ expirationTime | timeShift | defaultDate }} UTC</b></ng-container
  >
</app-report-problem>
