<mat-form-field class="md-search" appearance="outline">
    <input type="text"
        [placeholder]="placeholderSearch"
        matInput
        [formControl]="searchText"
        [matAutocomplete]="auto"
        (input)="updateSearchTxtFieldValue($event)"
    >
    <mat-error *ngIf="controlHasError('required')">Role Name is <strong>required</strong></mat-error>
    <mat-error *ngIf="controlHasError('roleNotFound')">Role does not exist</mat-error>
    <mat-error *ngIf="controlHasError('roleExist')">Role already exists</mat-error>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let item of filteredOptions | async" [value]="item" class="d-flex align-items-start">
            <div class=" d-flex flex-column">
                <span>{{ item?.namespace }}</span>
            </div>
        </mat-option>
    </mat-autocomplete>
    <div matSuffix class="d-flex" *ngIf="searchTxtFieldValue?.trim()?.length > 2">
        <ng-container *ngIf="!isAutolistLoading?.value">
            <button mat-icon-button (click)="search()" class="searchButton">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button (click)="addRole()">
                <mat-icon>add</mat-icon>
            </button>
        </ng-container>
        <mat-spinner *ngIf="isAutolistLoading?.value" diameter="21" class="color-white"></mat-spinner>
    </div>
</mat-form-field>
