<mat-form-field class="md-search" appearance="outline">
  <input type="text"
         data-qa-id="smart-search-input"
         [placeholder]="placeholderSearch"
         matInput
         [formControl]="searchText"
         [matAutocomplete]="auto">

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let item of filteredOptions | async" [value]="item" class="d-flex align-items-start">
      <div class=" d-flex flex-column">
        <span>{{ item }}</span>
      </div>
    </mat-option>
  </mat-autocomplete>
  <div matSuffix class="d-flex" *ngIf="showButtons()">
    <ng-container *ngIf="!isLoadingList">
      <button mat-icon-button (click)="search()" class="searchButton">
        <mat-icon>search</mat-icon>
      </button>
      <button *ngIf="isAdding" [disabled]="!searchText.value" mat-icon-button
              (click)="addRole()">
        <mat-icon>add</mat-icon>
      </button>
      <button *ngIf="isDefault" mat-icon-button (click)="clear()">
        <mat-icon>close</mat-icon>
      </button>
    </ng-container>
    <mat-spinner *ngIf="isLoadingList" diameter="21" class="color-white"></mat-spinner>
  </div>
  <ng-content></ng-content>
</mat-form-field>
