<h4 mat-dialog-title class="mb-0 d-flex justify-content-between align-items-center">
  {{ viewType === ViewType.UPDATE ? 'Update' : 'Create' }} Application
  <button mat-icon-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</h4>

<div mat-dialog-content>
  <div class="mb-2 mt-3">
    <div class="row">
      <mat-vertical-stepper class="w-100" [linear]="true" #stepper>
        <ng-template matStepperIcon="edit">
          <mat-icon>check</mat-icon>
        </ng-template>
        <mat-step [completed]="false">
          <form [formGroup]="appForm">
            <ng-template matStepLabel>{{ viewType === ViewType.UPDATE ? 'Update' : 'New' }} Application</ng-template>
            <div class="card card-info d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3">
              <mat-icon>info</mat-icon><span class="pb-2">ORGANIZATION: {{ appForm.value.orgNamespace }}</span>
            </div>
            <div class="card card-default d-flex shadow-none d-flex pt-3 mb-3">
            <div class="row mt-2">
              <!-- <div class="col-lg-12">
                <div class="d-flex justify-content-start">
                  <div class="image-wrapper w-50 d-flex align-items-center justify-content-center mb-3">
                    <span class="opacity-50">Logo Preview</span>
                  </div>
                </div>
              </div> -->
              <div class="col-lg-12" formGroupName="data">
                <mat-label class="ml-3 pl-1">Application Logo URL</mat-label>
                <mat-form-field class="mt-2" appearance="outline" floatPlaceholder="never">
                  <input matInput autocomplete="off" formControlName="logoUrl" type="text" maxlength="500" pattern="https?://.*" placeholder="https://www.example.com/images/logo.png"/>
                  <mat-error>URL format is incorrect</mat-error>
                </mat-form-field>
              </div>
            </div>
            </div>
            <div class="card card-default d-flex shadow-none d-flex pt-3 mb-3">
              <div class="row">
                <div class="col-lg-12">
                  <mat-label class="ml-3 pl-1">Application Namespace</mat-label>
                  <mat-form-field class="mt-2" appearance="outline" floatPlaceholder="never" *ngIf="viewType !== ViewType.UPDATE" >
                    <input matInput autocomplete="off" formControlName="appName" type="text" appBlockPaste placeholder="Application Namespace" required
                      oninput="this.value = this.value.toLowerCase()" (keypress)="alphaNumericOnly($event)" minlength="3" maxlength="256"/>
                      <mat-error>Application Namespace is <strong>required</strong></mat-error>
                  </mat-form-field>
                </div>
                <div *ngIf="appForm.get('appName').value" class="ml-3 card card-result d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3 mr-3">
                  <span class="pb-2">{{ appForm?.value?.appName + '.' + ENSPrefixes.Application + '.' + appForm?.value?.orgNamespace }}</span>
                </div>
                <ng-container formGroupName="data">
                  <div class="col-lg-12">
                    <mat-label class="ml-3 pl-1">Application Name</mat-label>
                    <mat-form-field class="mt-2" appearance="outline" floatPlaceholder="never">
                      <input matInput autocomplete="off" formControlName="applicationName" type="text" placeholder="Application Name" minlength="3" maxlength="256"/>
                      <mat-error>Application Name is <strong>required</strong></mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-12">
                    <mat-label class="ml-3 pl-1">Website URL</mat-label>
                    <mat-form-field class="mt-2" appearance="outline" floatPlaceholder="never">
                      <input matInput autocomplete="off" formControlName="websiteUrl" type="text" pattern="https?://.*" placeholder="http://www.example.com" maxlength="500"/>
                      <mat-error>URL format is incorrect</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-12">
                    <mat-label class="ml-3 pl-1">Description</mat-label>
                    <mat-form-field appearance="outline">
                      <textarea matInput formControlName="description" maxlength="1500"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-12">
                    <div class="d-flex justify-content-between">
                      <mat-label class="ml-3 pl-1">Others (JSON)</mat-label>
                      <div class="tooltip-wrapper">
                        <mat-icon class="tooltip-color cursor-pointer" matTooltipClass="multiline-tooltip"
                          matTooltipPosition="above"
                          matTooltip="bgcolor&#13; A 6-digit hexadecimal color code. &#13;(example: #00771A) to customize background color of the enrolment page.&#13;&#13;
                      btncolor&#13; A 6-digit hexadecimal color code. &#13;(example: #00771A) to customize button color in the enrolment page.&#13;&#13;
                      txtcolor&#13; A 6-digit hexadecimal color code. &#13;(example: #00771A) to customize text color in the enrolment page.&#13;&#13;
                      returnUrl&#13; After successful enrollment, the application will automatically redirect to the return URL.">info</mat-icon>
                      </div>
                    </div>
                    <mat-form-field appearance="outline">
                      <textarea matInput formControlName="others" maxlength="2000"></textarea>
                    </mat-form-field>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="d-flex justify-content-end mb-2">
              <button mat-stroked-button class="btn btn-small mr-2" (click)="closeDialog()">Cancel</button>
              <button mat-raised-button class="btn btn-small btn-primary" *ngIf="viewType !== ViewType.UPDATE" [disabled]="isChecking" (click)="createNewApp()">Next</button>
              <button mat-raised-button class="btn btn-small btn-primary" *ngIf="viewType === ViewType.UPDATE" [disabled]="isChecking" (click)="updateApp()">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [editable]="false" [completed]="false">
            <ng-template matStepLabel>Confirm Details</ng-template>
            <div class="card card-default d-flex shadow-none d-flex pt-3 mb-3">
              <div class="d-flex justify-content-center">
                <div class="image-wrapper d-flex align-items-center justify-content-center mb-3">
                  <span class="opacity-50 px-3" *ngIf="!appForm?.value?.data?.logoUrl">No image</span>
                  <img class="img-logo" *ngIf="appForm?.value?.data?.logoUrl" src="{{ appForm?.value?.data?.logoUrl }}"/>
                </div>
              </div>
              <div class="text-left my-3">
                <div class="label opacity-50 mb-2">Application Namespace</div>
                <span class="color-white mb-0">{{ appForm?.value?.appName + '.' + ENSPrefixes.Application + '.' + appForm?.value?.orgNamespace }}</span>
              </div>
              <mat-divider></mat-divider>
              <div class="text-left my-3">
                <div class="label opacity-50 mb-2">Application Name</div>
                <span class="color-white mb-0">{{ appForm?.value?.data?.applicationName }}</span>
              </div>
              <mat-divider></mat-divider>
              <div class="text-left my-3">
                <div class="label opacity-50 mb-2">Website URL</div>
                <span class="color-white mb-0">{{ appForm?.value?.data?.websiteUrl || 'None' }}</span>
              </div>
              <mat-divider></mat-divider>
              <div class="text-left my-3">
                <div class="label opacity-50 mb-2">Description</div>
                <span class="color-white mb-0">{{ appForm?.value?.data?.description || 'None' }}</span>
              </div>
              <mat-divider></mat-divider>
              <div class="text-left my-3">
                <div class="label opacity-50 mb-2">Others (JSON)</div>
                <span class="color-white mb-0">{{ appForm?.value?.data?.others || 'None' }}</span>
              </div>
            </div>
            <div>
              <div class="d-flex justify-content-end mb-2">
                <button mat-stroked-button class="btn btn-small mr-2" (click)="cancelAppDetails()">Back</button>
                <button mat-raised-button class="btn btn-small btn-primary" (click)="confirmApp()">Next</button>
              </div>
            </div>
        </mat-step>
        <mat-step [editable]="false" *ngIf="viewType !== ViewType.UPDATE" [completed]="false">
          <ng-template matStepLabel>Creating Application Namespace</ng-template>
          <div
            class="card card-hint d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3">
            <mat-icon>notifications_none</mat-icon><span class="pb-2">Please confirm this transaction in
              your connected Wallet.</span>
          </div>
          <div class="d-flex justify-content-end mb-2">
            <button mat-stroked-button class="btn btn-small mr-2" (click)="closeDialog()">Cancel</button>
            <button mat-raised-button class="btn btn-small btn-primary" [disabled]="true">Next</button>
          </div>
        </mat-step>
        <mat-step [editable]="false" *ngIf="viewType !== ViewType.UPDATE" [completed]="false">
          <ng-template matStepLabel>Registering Reverse Name for Namespace</ng-template>
          <div
            class="card card-hint d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3">
            <mat-icon>notifications_none</mat-icon><span class="pb-2">Please confirm this transaction in your connected Wallet.</span>
          </div>
          <div class="d-flex justify-content-end mb-2">
            <button mat-stroked-button class="btn btn-small mr-2" (click)="closeDialog()">Cancel</button>
            <button mat-raised-button class="btn btn-small btn-primary" [disabled]="true">Next</button>
          </div>
        </mat-step>
        <mat-step [editable]="false" [completed]="false">
          <ng-template matStepLabel>Setting up definitions</ng-template>
          <div
            class="card card-hint d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3">
            <mat-icon>notifications_none</mat-icon><span class="pb-2">Please confirm this transaction in your connected Wallet.</span>
          </div>
          <div class="d-flex justify-content-end mb-2">
            <button mat-stroked-button class="btn btn-small mr-2" (click)="closeDialog()">Cancel</button>
            <button mat-raised-button class="btn btn-small btn-primary" [disabled]="true">Next</button>
          </div>
        </mat-step>
        <mat-step [editable]="false" *ngIf="viewType !== ViewType.UPDATE" [completed]="false">
          <ng-template matStepLabel>Creating Role Sub-domain</ng-template>
          <div class="card card-info d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3">
            <mat-icon>info</mat-icon><span class="pb-2">Creating below sub-domain: <br>{{ ENSPrefixes.Roles }}.{{ appForm?.value?.appName + '.' + ENSPrefixes.Application + '.' + appForm?.value?.orgNamespace }}</span>
          </div>
          <div class="card card-hint d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3">
            <mat-icon>notifications_none</mat-icon><span class="pb-2">Please confirm this transaction in your connected Wallet.</span>
          </div>
          <div class="d-flex justify-content-end mb-2">
            <button mat-stroked-button class="btn btn-small mr-2" (click)="closeDialog()">Cancel</button>
            <button mat-raised-button class="btn btn-small btn-primary" [disabled]="true">Next</button>
          </div>
        </mat-step>
        <mat-step [editable]="false" *ngIf="viewType !== ViewType.UPDATE" [completed]="false">
          <ng-template matStepLabel>Registering Reverse Name for Role Sub-domain</ng-template>
          <div class="card card-hint d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3">
            <mat-icon>notifications_none</mat-icon><span class="pb-2">Please confirm this transaction in your connected Wallet.</span>
          </div>
          <div class="d-flex justify-content-end mb-2">
            <button mat-stroked-button class="btn btn-small mr-2" (click)="closeDialog()">Cancel</button>
            <button mat-raised-button class="btn btn-small btn-primary" [disabled]="true">Next</button>
          </div>
        </mat-step>
        <mat-step [completed]="false">
            <ng-template matStepLabel>Application {{ viewType === ViewType.UPDATE ? 'Updated' : 'Created' }} </ng-template>
            <div class="card card-hint d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3">
              <mat-icon>notifications_none</mat-icon><span class="pb-2">All transactions are completely processed.</span>
            </div>
            <div>
              <div class="d-flex justify-content-end mb-2">
                <button mat-raised-button class="btn btn-small btn-primary" (click)="closeDialog(true)">Complete</button>
              </div>
            </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>
