<div class="mb-3">
  <table mat-table [dataSource]="dataSource" matSort matSortActive="requestDate" matSortDirection="desc">
    <!-- Request Date -->
    <ng-container matColumnDef="requestDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Request Date </th>
      <td mat-cell *matCellDef="let element" data-label="Request Date">
        <ng-container> {{ element?.requestDate | date: 'MM/dd/yyyy HH:mm:ss' }} </ng-container>
      </td>
    </ng-container>

    <!-- Role Name -->
    <ng-container matColumnDef="roleName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role Name </th>
      <td mat-cell *matCellDef="let element" data-label="Role Name">
        <ng-container> {{ element?.roleName }} </ng-container>
      </td>
    </ng-container>

    <!-- Role Namespace -->
    <ng-container matColumnDef="parentNamespace">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Parent Namespace </th>
      <td mat-cell *matCellDef="let element" data-label="Parent Namespace">
        <ng-container> {{ element?.parentNamespace }} </ng-container>
      </td>
    </ng-container>

    <!-- Requestor DID -->
    <ng-container matColumnDef="requester" *ngIf="listType === ListType.ISSUER">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Requestor DID </th>
      <td mat-cell *matCellDef="let element" data-label="Requestor DID">
        <div matTooltip="{{ element?.requester }}" [appMinifiedDidViewer]="element?.requester"
          matTooltipClass="tooltip-full-width"> {{ element?.requester | didFormatMinifier}} </div>
      </td>
    </ng-container>

    <!-- Asset DID -->
    <ng-container matColumnDef="asset" *ngIf="listType === ListType.ISSUER">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Asset DID </th>
      <td mat-cell *matCellDef="let element" data-label="Asset DID">
        <div matTooltip="{{ element?.subject }}" [appMinifiedDidViewer]="element?.subject"
          matTooltipClass="tooltip-full-width" *ngIf="element?.subject !== element?.claimType"> {{ element?.subject |
          didFormatMinifier}} </div>
      </td>
    </ng-container>

    <!-- Request Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element" data-label="Status">
        <ng-container *ngIf="element?.isAccepted && element?.isSynced"> <span class="color-success">Approved</span>
        </ng-container>
        <ng-container *ngIf="element?.isAccepted && !element?.isSynced"> <span class="color-success">Approved</span>
          <div *ngIf="listType !== ListType.ISSUER">Pending Sync to DID Document</div>
        </ng-container>
        <ng-container *ngIf="!element?.isAccepted && !element?.isRejected"> <span class="color-warned">Pending</span>
        </ng-container>
        <ng-container *ngIf="!element?.isAccepted && element?.isRejected"> <span class="color-error">Rejected</span>
        </ng-container>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex justify-content-end">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Action button list">
            <mat-icon class="btn-color-primary">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <!-- View Details -->
            <button mat-menu-item class="btn-color-primary" (click)="view(element)">
              <mat-icon class="btn-color-primary">preview</mat-icon>
              <span>Preview</span>
            </button>

          <!-- Sync to DID -->
          <button mat-menu-item class="btn-color-primary" (click)="addToDidDoc(element)"
            *ngIf="listType !== ListType.ISSUER && element?.isAccepted && !element?.isSynced">
            <mat-icon class="btn-color-primary">note_add</mat-icon>
            <span>Add to DID Document</span>
          </button>

          <!-- Cancel Claim Request -->
          <button mat-menu-item class="btn-color-error" (click)="cancelClaimRequest(element)"
            *ngIf="listType !== ListType.ISSUER && !element?.isAccepted && !element?.isRejected">
            <mat-icon class="btn-color-error">highlight_off</mat-icon>
            <span>Cancel Claim Request</span> 
          </button>
          </mat-menu>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- Shows when table is empty -->
  <div class="d-flex justify-content-center align-items-center mt-4 mb-3 pb-3" *ngIf="!dataSource?.data?.length">
    <div class="d-flex align-items-center no-record color-white">
      <mat-icon class="mr-2">info</mat-icon>
      <i>No Record Found</i>
    </div>
  </div>
  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" [hidePageSize]="true" showFirstLastButtons>
  </mat-paginator> -->
</div>