<h2 mat-dialog-title class="mb-0 d-flex flex-column">Create New Role</h2>

<div mat-dialog-content>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <div class="mb-2 mt-4">
    <form role="form" [formGroup]="newRoleForm">
      <div class="row">
        <div class="col-lg-12">
          <mat-label class="ml-3 pl-1">Role Type</mat-label>
          <mat-form-field class="mt-2" appearance="outline" floatPlaceholder="never">
            <mat-select placeholder="Role Type" formControlName="roleType">
              <mat-option *ngFor="let roleType of RoleTypes | keyvalue" [value]="roleType.key">{{ roleType.value }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <mat-label class="ml-3 pl-1">Role Name</mat-label>
          <mat-form-field class="mt-2" appearance="outline" floatPlaceholder="never">
            <input formControlName="roleName" matInput placeholder="Role Name" autocomplete="off" oninput="this.value = this.value.toUpperCase()" formControlName="roleName">
            <mat-error *ngIf="">Role Name is <strong>required</strong></mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <mat-label class="ml-3 pl-1">ENS Name</mat-label>
          <mat-form-field class="mt-2" appearance="outline" floatPlaceholder="never">
            <input formControlName="ensName" matInput placeholder="ENS Name" autocomplete="off" disabled formControlName="ensName">
          </mat-form-field>
        </div>

        <div class="col-lg-12 mt-3">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <span class="pl-3">Fields</span>
            <button mat-raised-button class="btn btn-primary btn-small mb-3 mb-lg-0">Add field</button>
          </div>
          <div class="card card-default mb-3 pb-0 shadow-none">
            <!-- <table mat-table [dataSource]="dataSource">
 
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element" data-label="Type"> {{element.type}} </td>
              </ng-container>

              <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef> Label </th>
                <td mat-cell *matCellDef="let element" data-label="Label"> {{element.label}} </td>
              </ng-container>

              <ng-container matColumnDef="validation">
                <th mat-header-cell *matHeaderCellDef> Validation </th>
                <td mat-cell *matCellDef="let element" data-label="Validation"> {{element.validation}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element" data-label=""> {{element.actions}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table> -->
            <!-- Shows when table is empty -->
            <div class="d-flex justify-content-center align-items-center">
              <div class="d-flex align-items-center no-record color-white">
                <mat-icon class="mr-2 my-2">info</mat-icon>
                <i>Empty</i>
              </div>
            </div>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" [hidePageSize]="true" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-between">
  <button mat-raised-button class="btn btn-primary w-100" type="submit">Create</button>
</div>