<div class="nav-link cursor-pointer" [matMenuTriggerFor]="menu">
  <mat-spinner *ngIf="isLoadingNotif; else icon" diameter="21" class="color-white"></mat-spinner>
  <ng-template #icon>
    <em
      class="fas fa-tasks icon-color"
      matBadgeColor="warn"
      matBadgeSize="small"
      [matBadgeHidden]="totalCount === 0"
      [matBadge]="totalCount"></em>
  </ng-template>
</div>
<mat-menu #menu="matMenu" xPosition="before">
  <app-notification-container>
    <app-notification-header title="Tasks" [showClear]="false"></app-notification-header>
    <a [routerLink]="['/assets']" routerLinkActive="active" [queryParams]="{ notif: 'assetsOfferedToMe' }">
      <div class="list-group-item list-group-item-action border-0">
        <div class="media d-flex align-items-center cursor-pointer">
          <div class="align-self-start mr-2">
            <mat-icon svgIcon="new-claim-icon"></mat-icon>
          </div>
          <div class="media-body d-flex flex-row justify-content-between align-items-center">
            <p class="m-0 pr-2 color-white">Accept the transfer of the Asset</p>
            <span *ngIf="assetsOfferedToMeCount" class="badge badge-danger ml-2">
              {{ assetsOfferedToMeCount }}
            </span>
          </div>
        </div>
      </div>
    </a>
    <a routerLink="/enrolment" routerLinkActive="active">
      <div class="list-group-item list-group-item-action border-0">
        <div class="media d-flex align-items-center cursor-pointer">
          <div class="align-self-start mr-2">
            <mat-icon svgIcon="approved-claim-icon"></mat-icon>
          </div>
          <div class="media-body d-flex flex-row justify-content-between align-items-center">
            <p class="m-0 pr-2 color-white">For approval</p>
            <span *ngIf="pendingApprovalCount" class="badge badge-danger ml-2">
              {{ pendingApprovalCount }}
            </span>
          </div>
        </div>
      </div>
    </a>
    <a href="#">
      <div class="list-group-item list-group-item-action border-0">
        <div class="media d-flex align-items-center cursor-pointer">
          <div class="align-self-start mr-2">
            <mat-icon>timelapse</mat-icon>
          </div>
          <div class="media-body d-flex flex-row justify-content-between align-items-center">
            <p class="m-0 pr-2 color-white">Pending Sync to DID Document</p>
            <span *ngIf="pendingAssetSyncCount" class="badge badge-danger ml-2">
              {{ pendingAssetSyncCount }}
            </span>
          </div>
        </div>
      </div>
    </a>
  </app-notification-container>
</mat-menu>
