<app-enrolment-list [list]="list" [columDefinitions]="columns" [enrolmentViewFilters]="enrolmentViewFilters">
</app-enrolment-list>
<ng-template #actions let-element>
  <app-preview [element]="element" [enrolmentType]="enrolmentType" (refreshList)="updateList()"></app-preview>

  <button
    mat-menu-item
    class="btn-color-primary"
    (click)="addToDidDoc(element)"
    *ngIf="isPendingSync(element) && isAccepted(element)">
    <mat-icon class="btn-color-primary">note_add</mat-icon>
    <span>Publish</span>
  </button>

  <button
    mat-menu-item
    class="btn-color-error"
    (click)="cancelClaimRequest(element)"
    *ngIf="!element?.isAccepted && !element?.isRejected && !element.isRevokedOffChain && !element.isRevokedOnChain">
    <mat-icon class="btn-color-error">highlight_off</mat-icon>
    <span>Cancel Claim Request</span>
  </button>
</ng-template>
<ng-template #status let-element>
  <app-enrolment-status [claim]="element">
    <div class="mt-2 mt-md-2 mb-md-2">
      <mat-icon class="color-warned icon-small mr-2" svgIcon="sync-did-icon"></mat-icon>
      <span class="default-color cursor-pointer" (click)="addToDidDoc(element)">Publish</span>
    </div>
  </app-enrolment-status>
</ng-template>
