<div class="overflow-hidden h-100">
  <div class="position-brand m-lg-4">
    <img src="assets/img/logo-ew-switchboard.svg" />
  </div>
  <div class="position-absolute help-wrapper mt-3 p-3">
    <a class="help-color" href="https://energyweb.atlassian.net/wiki/spaces/SWITCH/pages/1712554033/Using+Switchboard" target="_blank">
      <em class="far fa-lg fa-question-circle mr-2"></em> <span class="position-relative help-icon">Help</span>
    </a>
  </div>
  <div class="bg-register wrapper d-flex justify-content-center justify-content-lg-center align-items-lg-center align-items-center">
    <app-loading></app-loading>
    <div class="bg-energy-cloud"></div>
    <!-- <div class="bg-energy-turbine-1"></div> -->
    <div>
      <!-- START card-->
      <mat-card class="card-register">
        <div class="top-layer">
          <h1 class="font-weight-600 text-center mt-5 mt-md-2 pt-5 pt-md-0 mb-4 pb-2 pb-md-5">Welcome to Energy Web Switchboard</h1>
          <div class="my-3 pb-1">
            <button mat-raised-button (click)="connectToWalletConnect()" class="btn btn-connect-1 w-100" type="submit"><img
              width="48px" height="40px" class="float-left pt-1 pl-1" src="assets/img/icons/wallet-connect-icon.svg" /> USE MOBILE WALLET</button>
          </div>
          <div class="my-3 pb-1">
            <button mat-raised-button (click)="connectToEwKeyManager()" class="btn btn-connect-3 w-100" type="submit"><img
              width="48px" height="41px" class="float-left pt-1 pt-md-0 pb-md-0 pl-1" src="assets/img/icons/key-manager-icon.svg" /> USE EW KEY MANAGER</button>
          </div>
          <div class="my-3" *ngIf="isMetamaskExtensionAvailable">
            <button mat-raised-button (click)="connectToMetamask()" class="btn btn-connect-2 w-100" type="submit"><img
              width="48px" height="40px" class="float-left pt-1 pl-1" src="assets/img/icons/metamask-logo.svg" /> USE METAMASK</button>
          </div>
        </div>
      </mat-card>
      <!-- END card-->
    </div>
    <div class="welcome-footer">
      <div class="d-flex justify-content-between align-items-center mx-4 mt-3 mb-1">
        <img src="assets/img/icons/ew-logo-white.png" width="100px" height="auto"/>
        <div class="color-white-flat opacity-50 mr-1 small">Version {{ version }}</div>
      </div>
    </div>
    <div class="welcome-bottom-footer d-flex justify-content-center justify-content-lg-between">
      <span>Energy Web is incorporated in Zug, Switzerland</span>
      <div>
        <a class="color-white mx-2" href="#">Privacy Policy</a>
        <a class="color-white mx-2" href="#">Cookies Policy</a>
      </div>
    </div>
  </div>
</div>
