<div class="w-100 h-responsive bg-color" [ngStyle]="bgColor">
  <div
    class="header-enroll bg-color d-flex justify-content-center justify-content-between position-fixed pl-4 py-2 w-100"
    [ngStyle]="bgColor">
    <img src="{{ orgAppDetails?.logoUrl }}" height="48px" *ngIf="orgAppDetails?.logoUrl" />
    <ng-container *ngIf="!orgAppDetails?.logoUrl">
      <img src="../assets/img/no-organization-image.png" height="48px" *ngIf="isOrganization()" />
      <img src="../assets/img/no-application-image.png" height="48px" *ngIf="isApplication()" />
    </ng-container>
    <div>
      <button mat-button class="btn btn-small md-enroll px-4 mr-2" (click)="logout()" *ngIf="isLoggedIn">
        <div [ngStyle]="txtColor">Logout</div>
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-center flex-column align-items-center w-100">
    <div
      class="content-enroll d-flex txt-color justify-content-start justify-content-md-center align-items-md-center flex-column px-4 mb-1 w-100"
      [ngStyle]="txtColor" *ngIf="isLoggedIn">
      <h2 class="font-weight-600 mb-1">Enrol to {{ orgAppDetails?.appName || orgAppDetails?.orgName }}</h2>
      <span class="opacity-50">Please fill in below details</span>
    </div>
    <mat-card class="card-enroll" *ngIf="isLoggedIn">
      <form role="form" [formGroup]="roleTypeForm">
        <div class="row">
          <div class="col-lg-12">
            <mat-label class="ml-3 pl-1" [ngStyle]="txtColor">Enrol For</mat-label>
            <mat-form-field class="mt-2 md-enroll" appearance="outline" floatPlaceholder="never" [ngStyle]="txtColor">
              <mat-select class="md-enroll" placeholder="Enrol For" formControlName="enrolFor"
                (selectionChange)="enrolForSelected($event)">
                <mat-option class="md-enroll" [ngStyle]="listColor" [value]="EnrolForType.ME">Myself</mat-option>
                <mat-option class="md-enroll" [ngStyle]="listColor" [value]="EnrolForType.ASSET">My Asset</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <ng-container *ngIf="roleTypeForm?.value?.enrolFor === EnrolForType.ASSET">
            <div class="col-lg-12 mt-2 mb-4">
              <button button mat-raised-button class="btn btn-primary md-enroll w-100" [ngStyle]="btnColor"
                (click)="selectAsset()">Select Asset</button>
            </div>
            <div class="col-lg-12">
              <mat-label class="ml-3 pl-1 pb-1" [ngStyle]="txtColor">Asset DID</mat-label>
              <div [ngStyle]="txtColor"
                class="card card-result d-flex flex-row justify-content-start align-items-center shadow-none d-flex mt-2 pt-3 pb-2 mb-4 mr-3">
                <span class="pb-2 opacity-50">{{ roleTypeForm?.value?.assetDid || 'Please select an asset.' }}</span>
              </div>
            </div>
          </ng-container>
          <div class="col-lg-12"
            *ngIf="roleTypeForm?.value?.enrolFor === EnrolForType.ME || (roleTypeForm?.value?.enrolFor === EnrolForType.ASSET && roleTypeForm?.value?.assetDid)">
            <mat-label class="ml-3 pl-1" [ngStyle]="txtColor">Role</mat-label>
            <mat-form-field class="mt-2 md-enroll" appearance="outline" floatPlaceholder="never" [ngStyle]="txtColor">
              <mat-select class="md-enroll" placeholder="Role" formControlName="roleType"
                (selectionChange)="roleTypeSelected($event)">
                <mat-option class="md-enroll" [ngStyle]="listColor" *ngFor="let role of roleList" [value]="role">{{
                  role.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>

      <!-- PRE-CHECK Error Messages-->
      <ng-container *ngIf="!isPrecheckSuccess && rolePreconditionList?.length">
        <ng-container *ngFor="let precondition of rolePreconditionList">
          <!-- Role is Approved but NOT SYNCED -->
          <div *ngIf="isRolePreconditionApproved(precondition.status)"
            matTooltip="Please sync this role to your DID Document."
            class="card card-success d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-4">
            <mat-icon>check_circle</mat-icon><span class="pb-2">{{  precondition.namespace }}</span>
          </div>
          <!-- Request is Pending or No Request at all -->
          <div *ngIf="isRolePreconditionPending(precondition.status)" matTooltip="You don't have this role yet."
            class="card card-warning d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-4">
            <mat-icon>pending_actions</mat-icon><span class="pb-2">{{  precondition.namespace }}</span>
          </div>
        </ng-container>
      </ng-container>

      <form role="form" [formGroup]="enrolmentForm"
        *ngIf="isPrecheckSuccess">
        <div formGroupName="registrationTypes">
          <mat-checkbox class="pl-3 md-enroll"
                        formControlName="onChain"
                        [ngStyle]="txtboxColor">
                  <span class="mb-3 d-inline-flex"
                        [ngStyle]="txtColor"
                        matTooltip="Short description of what is On-chain.">
                      On-chain
                  </span>
          </mat-checkbox>
          <mat-checkbox class="pl-3 md-enroll"
                        formControlName="offChain"
                        [ngStyle]="txtboxColor">
                    <span class="mb-3 d-inline-flex"
                          [ngStyle]="txtColor"
                          matTooltip="Short description of what is Off-chain.">
                        Off-chain
                    </span>
          </mat-checkbox>
        </div>

        <ng-container *ngIf="roleTypeForm?.value?.roleType && fieldList.length">
          <div class="row">
            <!-- START: Dynamic Form Fields -->
            <ng-container *ngFor="let field of enrolmentForm?.get('fields')?.controls; let i = index;">
              <div
                      [ngClass]="{ 'col-lg-12': (fieldList[i].fieldType === 'text' || fieldList[i].fieldType === 'boolean'), 'col-lg-6': (fieldList[i].fieldType === 'number' || fieldList[i].fieldType === 'date') }">
                <mat-label [ngStyle]="txtColor" class="ml-3 pl-1" *ngIf="fieldList[i].fieldType !== 'boolean'">{{
                  fieldList[i].label }} {{ fieldList[i].required ? '' : '(Optional)'}}
                </mat-label>

                <!-- TYPE: Text -->
                <mat-form-field class="mt-2 md-enroll" appearance="outline" floatPlaceholder="never"
                                *ngIf="fieldList[i].fieldType === 'text'" [ngStyle]="txtColor">
                  <input matInput type="text" placeholder="{{ fieldList[i].label }}"
                         [formControl]="enrolmentForm?.get('fields')?.controls[i]" />
                  <mat-error *ngIf="enrolmentForm?.get('fields')?.controls[i]?.errors?.required">This field is required.
                  </mat-error>
                  <mat-error *ngIf="enrolmentForm?.get('fields')?.controls[i]?.errors?.minlength">Please input at least {{
                    fieldList[i].minLength }} characters.</mat-error>
                  <mat-error *ngIf="enrolmentForm?.get('fields')?.controls[i]?.errors?.maxlength">Please input at most {{
                    fieldList[i].maxLength }} characters.</mat-error>
                  <mat-error *ngIf="enrolmentForm?.get('fields')?.controls[i]?.errors?.pattern">Incorrect data format.
                  </mat-error>
                </mat-form-field>

                <!-- TYPE: Number -->
                <mat-form-field class="mt-2 md-enroll" appearance="outline" floatPlaceholder="never"
                                *ngIf="fieldList[i].fieldType === 'number'" [ngStyle]="txtColor">
                  <input matInput type="number" placeholder="{{ fieldList[i].label }}"
                         [formControl]="enrolmentForm?.get('fields')?.controls[i]" />
                  <mat-error *ngIf="enrolmentForm?.get('fields')?.controls[i]?.errors?.required">This field is required.
                  </mat-error>
                  <mat-error *ngIf="enrolmentForm?.get('fields')?.controls[i]?.errors?.max">Max value is {{
                    fieldList[i].maxValue }}.</mat-error>
                  <mat-error *ngIf="enrolmentForm?.get('fields')?.controls[i]?.errors?.min">Min value is {{
                    fieldList[i].minValue }}.</mat-error>
                </mat-form-field>

                <!-- TYPE: Date -->
                <mat-form-field class="mt-2 md-enroll bg-transparent" appearance="outline" floatPlaceholder="never"
                                *ngIf="fieldList[i].fieldType === 'date'" [ngStyle]="txtColor">
                  <input [matDatepicker]="picker" [max]="fieldList[i].maxDateValue" [min]="fieldList[i].minDateValue"
                         matInput placeholder="{{ fieldList[i].label }}" autocomplete="off"
                         [formControl]="enrolmentForm?.get('fields')?.controls[i]" (keypress)="$event.preventDefault()">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="enrolmentForm?.get('fields')?.controls[i]?.errors?.required">This field is required.
                  </mat-error>
                </mat-form-field>

                <!-- TYPE: Boolean -->
                <mat-checkbox class="pl-3 md-enroll" *ngIf="fieldList[i].fieldType === 'boolean'"
                              [formControl]="enrolmentForm?.get('fields')?.controls[i]" [ngStyle]="txtboxColor"><span
                        class="mb-3 d-inline-flex" [ngStyle]="txtColor">{{ fieldList[i].label }}</span></mat-checkbox>
              </div>
            </ng-container>
            <!-- END: Dynamic Form Fields -->
          </div>
        </ng-container>
      </form>
      <div class="mt-3" *ngIf="!isLoading">
        <button mat-raised-button class="btn btn-primary md-enroll w-100" type="submit" (click)="submit()"
          *ngIf="isPrecheckSuccess"
          [disabled]="!roleTypeForm?.value?.roleType || submitting || !roleTypeForm?.valid || !enrolmentForm.valid || (roleTypeForm?.value?.enrolFor === EnrolForType.ASSET && !roleTypeForm?.value?.assetDid)"
          [ngStyle]="btnColor">Submit Request</button>
        <button mat-raised-button class="btn btn-primary md-enroll w-100" type="submit" (click)="goToEnrolment()"
          *ngIf="!isPrecheckSuccess" [ngStyle]="btnColor"
          [disabled]="roleTypeForm?.value?.enrolFor === EnrolForType.ASSET && !roleTypeForm?.value?.assetDid">
          View {{ roleTypeForm?.value?.enrolFor === EnrolForType.ASSET ? 'Asset' : 'My' }} Enrolments
        </button>
      </div>
    </mat-card>
    <app-loading></app-loading>

    <div class="footer-enroll">
      <div class="d-flex justify-content-between align-items-center mx-3 mx-md-4 h-100">
        <div>
          <img src="assets/img/icons/ew-logo-white.png" width="98px" height="auto" />
        </div>
        <div>
          <a class="color-white mx-2" href="#">Privacy Policy</a>
          <a class="color-white mx-2" href="#">Cookies Policy</a>
        </div>
      </div>
    </div>
  </div>
</div>
