
<div mat-dialog-title class="mt-0 mt-md-4 mb-0 d-flex justify-content-center text-center align-items-center mat-dialog-title"><h1 class="font-weight-600 text-center mt-2 pt-2 pt-md-0 mb-2 pb-0 pb-md-1">Welcome to {{ appName }}</h1></div>
<div mat-dialog-content class="connect-wallet-dialog">
  <div class="py-3 px-2">
    <div class="my-3">
      <button mat-raised-button (click)="connectToWallet()" class="btn btn-connect-1 w-100" type="submit"><img
          width="48px" class="float-left pt-1" src="assets/img/icons/wallet-connect-icon.svg" /> USE MOBILE WALLET</button>
    </div>
    <div class="mt-4 mb-3" *ngIf="isMetamaskExtensionAvailable">
      <button mat-raised-button (click)="connectToMetamask()" class="btn btn-connect-2 w-100" type="submit"><img
          width="36px" class="float-left pt-1 ml-2" src="assets/img/icons/metamask-logo.svg" /> USE METAMASK</button>
    </div>
  </div>
</div>
