<h4 mat-dialog-title class="mb-0 d-flex justify-content-center align-items-center">Welcome to {{ appName }}</h4>
<div mat-dialog-content>
  <div class="top-layer">
    <div class="my-3">
      <button mat-raised-button (click)="connectToWallet()" class="btn btn-connect-1 w-100" type="submit"><img
          width="48px" class="float-left pt-1" src="assets/img/icons/wallet-connect-icon.svg" /> Connect to your
        wallet</button>
    </div>
    <div class="mt-4 mb-3" *ngIf="isMetamaskExtensionAvailable">
      <button mat-raised-button (click)="connectToMetamask()" class="btn btn-connect-2 w-100" type="submit"><img
          width="36px" class="float-left pt-1 ml-2" src="assets/img/icons/metamask-logo.svg" /> Login with Metamask</button>
    </div>
  </div>
</div>