<div mat-dialog-content class="connect-wallet-dialog">
    <div class="py-3 px-2">
        <div class="my-3">
            <button mat-raised-button (click)="connectToWalletConnect()"
                    class="btn btn-connect btn-connect-wallet w-100" type="submit"><img
                    width="48px" height="40px" class="float-left pt-1 pl-1"
                    src="assets/img/icons/wallet-connect-icon.svg"/> USE MOBILE WALLET
            </button>
        </div>
        <div class="my-3">
            <button mat-raised-button disabled class="btn btn-connect btn-connect-ew w-100" type="submit"><img
                    width="48px" height="40px" class="float-left pt-1 ml-1"
                    src="assets/img/icons/key-manager-icon.svg"/> USE EW KEY MANAGER
            </button>
        </div>
        <div class="mt-4 mb-3" *ngIf="isMetamaskExtensionAvailable$ | async">
            <button mat-raised-button (click)="connectToMetamask()" class="btn btn-connect btn-connect-metamask w-100"
                    type="submit" [disabled]="disableMetamaskButton$ | async"><img
                    width="48px" height="40px" class="float-left pt-1 ml-1" src="assets/img/icons/metamask-logo.svg"/>
                USE METAMASK
            </button>
            <div class="d-flex justify-content-center mt-1" *ngIf="disableMetamaskButton$ | async">
                <span class="opacity-50 pr-1">You are not connected to Volta Network.</span> <a
                    href="https://energyweb.atlassian.net/wiki/spaces/EWF/pages/703201459/Volta+Connecting+to+Remote+RPC+and+Metamask"
                    target="_blank">Help?</a>
            </div>
        </div>
    </div>
</div>
