<div *ngIf="claim.isRevocableOnChain">
  <button
    mat-raised-button
    [disabled]="claim.isRevokedOnChain || !claim.isSyncedOnChain"
    class="btn btn-secondary w-100 ml-0 mt-3 mx-3"
    type="submit"
    (click)="revokeOnChain()">
    Revoke OnChain
  </button>
</div>
<div *ngIf="claim.isRevocableOffChain">
  <button
    mat-raised-button
    [disabled]="claim.isRevokedOffChain || !claim.isSyncedOffChain"
    class="btn btn-secondary w-100 ml-0 mt-3 mx-3"
    type="submit"
    (click)="revokeOffChain()">
    Revoke OffChain
  </button>
</div>
