<mat-tab-group mat-align-tabs="start" #enrolmentTabGroup (selectedTabChange)="showMe($event)">
  <mat-tab label="Enrolment Requests">
    <div class="row mx-0 mt-1">
      <div class="col-xl-12">
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
          <h4 class="default-color strong my-4">Issue Role</h4>
          <button
            *ngIf="(isExperimental$ | async) && issuesRoles"
            mat-raised-button
            class="btn btn-primary btn-small mb-3 mb-lg-0"
            (click)="createVC()">
            Create VC
          </button>
        </div>
        <div class="card card-default mb-3 pb-0">
          <app-requested-enrolment-list
            [list]="requestedEnrolmentsList$ | async"
            [enrolmentStatus]="enrolmentStatus"
            (refreshList)="refreshIssuerList($event)">
          </app-requested-enrolment-list>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="My Enrolments">
    <div class="row mx-0 mt-1">
      <div class="col-xl-12">
        <div class="d-flex flex-column flex-md-row justify-content-md-start align-items-center">
          <h4 class="default-color strong my-4">My Enrolments</h4>
        </div>
        <div class="card card-default mb-3 pb-0">
          <app-my-enrolment-list
            [list]="myEnrolmentList$ | async"
            (refreshList)="refreshMyEnrolmentsList($event)"
            (removeEnrolment)="removeEnrolment($event)">
          </app-my-enrolment-list>
          <ng-container *ngIf="myEnrolmentPagination$ | async as pagination">
            <div class="owned-pagination" *ngIf="pagination.skip > 0 || pagination.hasNextPage">
              <button
                mat-icon-button
                class="owned-pagination__button"
                matTooltip="Previous page"
                aria-label="Previous page"
                [disabled]="pagination.skip === 0"
                (click)="goToOwnedPage(pagination.skip - pagination.take)">
                <mat-icon>chevron_left</mat-icon>
              </button>
              <div class="owned-pagination__label" aria-live="polite">
                <span class="owned-pagination__label-caption">Page</span>
                <span class="owned-pagination__label-number">{{ pagination.skip / pagination.take + 1 }}</span>
              </div>
              <button
                mat-icon-button
                class="owned-pagination__button"
                matTooltip="Next page"
                aria-label="Next page"
                [disabled]="!pagination.hasNextPage"
                (click)="goToOwnedPage(pagination.skip + pagination.take)">
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Revocable Enrolments">
    <div class="row mx-0 mt-1">
      <div class="col-xl-12">
        <div class="d-flex flex-column flex-md-row justify-content-md-start align-items-center">
          <h4 class="default-color strong my-4">Revoke</h4>
        </div>
        <div class="card card-default mb-3 pb-0">
          <app-revoke-enrolment-list [list]="revocableList$ | async" (refreshList)="refreshRevocableList($event)">
          </app-revoke-enrolment-list>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
