<div style="height: 100%; width: 100%">
  <ngx-spinner
      bdColor="rgba(16, 14, 22, .9)"
      size="medium"
      color="#a567ff"
      type="ball-spin-fade"
      class="text-center"
  >
    <p class="label-role mt-4" *ngIf='!msg && !msgList'>Loading...</p>
    <p class="label-role mt-4" *ngIf='msg'>{{ msg }}</p>
    <ng-container *ngIf='msgList'>
      <ng-container *ngFor="let message of msgList; let i = index;">
        <p class="label-role position-relative" style="top: 10px" *ngIf="!i">{{ message }}</p>
        <p class="label-role position-relative" *ngIf="i">{{ message }}</p>
      </ng-container>
    </ng-container>
    <button mat-stroked-button *ngIf="isCancellable" class="btn btn-small" (click)="cancel()">Cancel</button>
  </ngx-spinner>
</div>
