.staking-container {
    background-color: #130E21;
    background-image: url("../../../../assets/img/staking/staking-gradient-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
        content: " ";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-image: url("../../../../assets/img/staking/staking-lines-background.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

h2 {
    font-size: 46px !important;
    font-weight: 600 !important;

    @media screen and (max-width: 800px) {
        font-size: 38px !important;
        margin-top: 8px;
    }
}

h3 {
    font-weight: 600 !important;
    letter-spacing: 0.25px !important;
    font-size: 34px !important;

    .staking-currency {
        font-size: 16px !important;
    }
}

h5 {
    letter-spacing: 1.25px !important;
    font-weight: 700 !important;
} 

p {
    color: #A6A5AC;
    line-height: 24px;
}

a {
    color: #A566FF;
    letter-spacing: 1.25px;
}

.staking-widget-xs-label {
    font-family: Roboto;
    font-size: 10px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.staking-widget-sm-label {
    font-family: Roboto;
    font-weight: 600;
    font-size: 10px;
}

.staking-widget-xl-label {
    font-family: Roboto;
    font-size: 24px;
}

.staking-card {
    background: linear-gradient(337deg, #231F32 2%, #050608 98%);
    border-radius: 64px;
    height: 100%;

    &::before {
        content: " ";
        width: 800px;
        height: 100%;
        bottom: 0;
        right: 0;
        position: absolute;
        background-image: url("../../../../assets/img/staking/staking-banner.png");
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
    }

    @media screen and (max-width: 800px) {
        &::before {
            width: 100%;
        }
    }
}

.staking-terms {
    background: rgba(13, 10, 25, 0.7);
    border-radius: 32px;
}

.staking-widget {
    position: relative;
    border: 1px solid transparent;
    border-radius: 32px;
    background: linear-gradient(320.92deg, rgba(37, 232, 232, 0.1) -1.22%, rgba(98, 104, 249, 0.1) 47.93%, rgba(155, 84, 255, 0.1) 95.01%);
    background-clip: padding-box;
    padding: 10px;
    backdrop-filter: blur(4px);

    &::before {
        content:"";
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        border-radius: 32px; 
        padding: 1px; 
        background: linear-gradient(314.24deg, #25E8E8 1.72%, rgba(83, 134, 245, 0.16) 33.86%, rgba(98, 104, 249, 0.16) 62.17%, #9B54FF 97.07%);
        mask: 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
        -webkit-mask: 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
        mask-composite: exclude;     
        -webkit-mask-composite: destination-out; 
    }   
}

.widget-main {
    min-height: 440px !important;

    @media screen and (max-width: 800px) {
        min-height: 600px !important; 
    }
}

.widget-inner {
    max-width: 226px;
    
    @media screen and (max-width: 800px) {
        width: 100%;
        max-width: 300px; 
    }
}

#arrow {
    border-right:2px solid black;
    border-bottom:2px solid black;
    width:10px;
    height:10px;
    transform: rotate(-45deg);
    margin-top:40px;
}



ul li {
  position: relative;
  padding-bottom: 10px;
}

ul {
  list-style: none;
}

ul li:before{
   content: '';
   position: absolute;
   border-right:2px solid #33CBCB;
   border-bottom:2px solid #33CBCB;
   width:10px;
   height:10px;
   top: calc(50% - 4px);
   left: -23px;
   transform: translateY(-50%) rotate(-45deg);
}

li {
    color: #FFF;
    font-size: 16px;
    letter-spacing: 0.30px;
    left: 17px;
    padding-left: 3px;
    font-weight: 400;
}