<app-loading class="d-block"></app-loading>

<div class="staking-container" *ngIf="(details$ | async) as details">
  <app-staking-header></app-staking-header>
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 mb-md-0 mb-lg-0">
        <div class="staking-card widget-main row p-3 p-md-5 pt-md-4 m-1 m-md-0">
          <div class="col-md-12">
            <div class="d-flex flex-row align-items-center">
              <img [src]="details.logoUrl" width="61px" height="61px">
              <div class="d-flex flex-column text-color ml-3 pt-3">
                <h5 class="mb-0 small letter-spacing text-uppercase">Staking</h5>
                <h2>{{details.orgName}}</h2>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-8 description">
            <p>
              {{details.description}}
            </p>
            <a *ngIf="details?.websiteUrl" [href]="details?.websiteUrl" target="_blank" class="mx-1">READ
              MORE</a>
          </div>
        </div>
      </div>
      <div class="col-xl-8 mt-2 mt-xl-4">
        <div class="row">
          <div class="col-md-12 mt-0 mt-md-0 mb-xl-3">
            <app-stake></app-stake>
          </div>
        </div>
      </div>
      <div class="col-xl-4 mt-3 mt-md-4">
        <div class="staking-terms p-4">
          <div class="d-flex flex-row align-items-center ml-0 ml-md-2 mt-2">
            <img src="../../../../assets/img/staking/terms-condition-image.png" width="65" height="64">
            <div class="staking-widget-xl-label text-color ml-0 ml-md-2">Terms and Conditions</div>
          </div>
          <div>
            <ul class="staking-list d-flex flex-column mt-4 mr-3 pl-2">
              <li>Daily reward: 0.0270% (yields 10.355% per year when compounded)
              </li>
              <li>Rewards paid daily on tokens staked for 24h continuously</li>
              <li>Stake can be withdrawn at any time</li>
              <li>Daily rewards will be added to the stake. They can earn interest, but can only be
                withdrawn as part of the stake ("unstaked")
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-12 my-2">
          <div class="staking-widget widget-inner px-4 py-4">
            <div class="staking-widget-xs-label text-color mb-2">Staking pool stats</div>
            <h3 class="mb-0 text-color">
              <ng-container *ngIf="getTotalStaked$ | async as totalStaked">{{totalStaked | lastDigits}}
              </ng-container>
              <span class="staking-currency">EWT</span>

            </h3>
            <mat-progress-bar mode="determinate" [value]="getTotalStakedPercent$ | async"></mat-progress-bar>
            <span class="limit-text text-color mt-2">{{getTotalStakedPercent$ | async}}% of {{hardCap$ | async }} EWT Staking Pool limit</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-staking-footer></app-staking-footer>
</div>
