<div class="staking-container">
    <div class="content-wrapper">
        <app-loading></app-loading>
        <div class="row">
            <div class="col-12">
                <div class="color-white">
                    <div (click)="launch()"> LAUNCH</div>
                    <div (click)="services()">get services</div>
                </div>
                <div class="staking-card widget-main row p-3 p-md-5 pt-md-4 m-1 m-md-0">
                    <div class="col-md-6">
                        <div class="d-flex flex-row align-items-center">
                            <img src="../../../../assets/img/ew-flex-single-logo.png" width="61px" height="61px">
                            <div class="d-flex flex-column color-white ml-3 pt-3">
                                <h5 class="mb-0 color-primary letter-spacing text-uppercase">Staking</h5>
                                <h2>Energy Web Foundation</h2>
                            </div>
                        </div>
                        <p class="mt-3 mt-md-5 pt-0 pt-md-4">
                            Energy Web (EW) is a global nonprofit organization accelerating a low-carbon,
                            customer-centric electricity system by unleashing the potential of open-source,
                            decentralized technologies. EW focuses on building core infrastructure and shared
                            technology, speeding adoption of commercial solutions, and fostering a community of
                            practice.
                        </p>
                        <a href="#" target="_blank" class="mx-1">READ MORE</a>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex justify-content-md-end">
                            <div class="staking-widget widget-inner px-4 py-4">
                                <div class="staking-widget-xs-label color-white mb-2">Your account balance</div>
                                <h3 class="mb-0 color-white">
                                    <ng-container *ngIf="balance$ | async as balance">{{balance | lastDigits}} </ng-container>
                                        <span class="staking-currency ml-2">EWT</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 mt-2 mt-xl-4">
                <div class="row">
                    <div class="col-md-6 mt-3 mb-0 my-xl-0">
                        <div class="staking-widget p-4">
                            <ng-container *ngIf="(performance$ | async) as performance">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex flex-column">
                                        <div class="staking-widget-xl-label color-white">Performance</div>
                                        <div class="staking-widget-sm-label color-white">Excellent</div>
                                    </div>
                                    <h3 class="mb-0 color-white">{{performance}}%</h3>
                                </div>
                                <div class="mt-3">
                                    <mat-progress-bar mode="determinate" [value]="performance"></mat-progress-bar>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-md-6 mt-3 my-xl-0">
                        <div class="staking-widget py-3 px-4">
                            <div class="d-flex justify-content-between align-items-center my-1">
                                <img src="../../../../assets/img/staking/annual-reward-image.png" width="82px"
                                     height="88px">
                                <div class="d-flex flex-column">
                                    <div class="staking-widget-xl-label color-white">Annual Reward</div>
                                    <div class="staking-widget-sm-label color-white">Estimated daily reward 0.03%</div>
                                </div>
                                <h3 class="mb-0 color-white">{{annualReward$ | async}}%</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3 my-xl-4">
                        <app-stake></app-stake>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 mt-3 mt-md-4">
                <div class="staking-terms p-4">
                    <div class="d-flex flex-row align-items-center ml-0 ml-md-2 mt-2">
                        <img src="../../../../assets/img/staking/terms-condition-image.png" width="65" height="64">
                        <div class="staking-widget-xl-label color-white ml-0 ml-md-2">Terms and Conditions</div>
                    </div>
                    <div>
                        <ul class="staking-list d-flex flex-column mt-4 mr-3 pl-2">
                            <li>Daily reward: 0.0270% (yields 10.355% per year when compounded daily or 9.855% per year
                                not compounded)
                            </li>
                            <li>Rewards paid daily on tokens staked for 24h continuously</li>
                            <li>Stake can be withdrawn at any time</li>
                            <li>Compound on: daily rewards will be added to the stake. They can earn interest, but can
                                only be withdrawn as part of the stake ("unstaked")
                            </li>
                            <li>Compound off: daily rewards not added to the stake. Don't earn interest, but can can be
                                claim at any time
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
