.selection-list {
    background-color: #191827 !important;
    border-color: transparent !important;
    border-radius: 3px;
  
    .mat-list-base {
        padding-top: 0;
    }
  }
  
  ::ng-deep mat-pseudo-checkbox.mat-pseudo-checkbox-checked, .mat-pseudo-checkbox.mat-pseudo-checkbox-indeterminate {
    border-color: transparent !important;
    background-color: #a567ff !important; 
  }
  
  ::ng-deep .mat-pseudo-checkbox {
    border: 2px solid #9080BA !important;
    width: 22px !important;
    height: 22px !important;
    border-radius: 50px !important;
  
  }  
  
  ::ng-deep .mat-pseudo-checkbox-checked::after {
    top: 4.0px !important;
    left: 2px !important;
    width: 11px !important;
    height: 5px !important;
  }
  
  .mat-list-base .mat-list-option {
    color: #FFF !important;
  }