<ng-container *ngIf="!countFinished else withdrawTemplate">
    <mat-progress-bar
            color="primary"
            mode="indeterminate">
    </mat-progress-bar>
    <p class="text-center mt-2">Preparing your withdrawal…</p>
</ng-container>
<ng-template #withdrawTemplate>
    <div class="confirm-wrapper">
        <p class="text-center">You are going to withdraw your tokens. <br>Please confirm.</p>
        <app-divider></app-divider>
        <div class="d-flex justify-content-center mt-3">
            <button mat-raised-button class="stake-btn color-white text-uppercase" (click)="withdraw()">Confirm</button>
        </div>
    </div>
</ng-template>


