:host {
  padding: 32px;
  display: block;
}

//.stake-success-container {
//  background: #13111B;
//  padding: 32px;
//}

h3 {
  font-family: Rajdhani, sans-serif;
  font-size: 32px !important;
  font-weight: 600 !important;
}

p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.44px;
  color: #A6A5AC;
  font-weight: 400;
}

.stake-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  border-radius: 16px;
  letter-spacing: 1.25px;
  background-color: #A566FF;
  padding: 0 0 !important;
  height: 44px;
  width: 124px;

  &:hover {
    background-color: #ad74ff;
  }
}

.stake-secondary-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px !important;
  border-radius: 16px;
  letter-spacing: 1.25px;
  color: #A566FF;
  border: 1px solid #A566FF;
  background-color: transparent;
  padding: 0 0 !important;
  height: 44px;
  width: 124px;

  &:hover {
    color: #ad74ff;
    border: 1px solid #ad74ff;
  }
}

::ng-deep {
  .mat-dialog-container {
    height: auto !important;
    box-shadow: 0px 0px 4px #a2a1ff, 0px 4px 20px rgb(193 192 255 / 25%);
    border-radius: 24px;
  }
}
