<div class="position-brand m-lg-5">
    <img src="assets/img/ew-flex-logo.png" />
</div>

<div class="bg-register wrapper d-flex justify-content-center justify-content-lg-end align-items-lg-center align-items-center">
    <div class="mr-0 mr-lg-5 pr-0 pr-lg-5">
        <!-- START card-->
        <mat-card class="card-register mb-3">
            <div class="top-layer">
                <h1 class="font-weight-700">Register</h1>
                <h4 class="text-muted mb-4 pb-2">Provide your details to register</h4>
                <form role="form" >
                    <div class="row">
                        <div class="col-lg-12">
                            <mat-label class="ml-3 pl-1">Organization Type</mat-label>
                            <mat-form-field  class="mt-2 select-org" appearance="outline" floatPlaceholder="never">
                                <mat-select  placeholder="Select Organization Type">
                                    <mat-option value="TSO">TSO</mat-option>
                                    <mat-option value="DSO">DSO</mat-option>
                                    <mat-option value="BRP">BRP</mat-option>
                                    <!-- <mat-option value="Installer">Installer</mat-option> -->
                                    <mat-option value="OEM">OEM</mat-option>
                                    <!-- <mat-option value="Asset-owner">Asset Owner</mat-option> -->
                                    <!-- <mat-option value="Governing-body">Governing Body</mat-option> -->
                                </mat-select>
                                <!-- <mat-error *ngIf="formGroupRegister.controls.organizationType.invalid">Organization is <strong>required</strong></mat-error> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="my-3 pb-2">
                        <button mat-raised-button class="btn btn-primary w-100" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </mat-card>
        <!-- END card-->
    </div>
</div>