:host ::ng-deep {
  .mat-form-field-prefix,
  .mat-form-field-suffix {
    display: inline-flex;
    align-items: center;
  }
  .mat-form-field-flex {
    align-items: center;
  }
}

.close-icon {
  margin-left: 8px;
  cursor: pointer;
}
