:host {
  display: block;
  margin-bottom: 60px;
}
.title {
  font-weight: 700;
}

.description {
  color: #8B8A91;
}

.patrons {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  text-align: right;
  letter-spacing: 0.05em;

  color: #8A898F;
}