<div class="position-brand-form m-lg-4">
    <img src="assets/img/logo-ew-switchboard.svg"/>
</div>
<ngx-spinner [fullScreen]="false" type="ball-circus" size="medium" bdColor="#181424" bdOpacity=0.9 color="#A466FF">
    <p class="loading">Creating new identity...</p>
</ngx-spinner>
<div class="bg-register wrapper d-flex justify-content-center justify-content-lg-center align-items-lg-center align-items-center">
    <div>
        <!-- START card-->
        <mat-card class="card-register create-new-identity mb-3">
            <div class="top-layer">
                <h1 class="font-weight-700 text-center mt-4 mt-md-2 mb-5">Create new identity</h1>
                <form role="form" [formGroup]="formGroupRegister" (ngSubmit)="onFormRegisterSubmit()">
                    <div class="row">
                        <div class="col-lg-12">
                            <mat-label class="ml-3 pl-1">Name</mat-label>
                            <mat-form-field class="mt-2" appearance="outline" floatPlaceholder="never">
                                <input matInput formControlName="name" placeholder="Name" autocomplete="off">
                                <mat-error *ngIf="formGroupRegister.controls.name.invalid">Full name is <strong>required</strong></mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-12">
                            <mat-label class="ml-3 pl-1">Date of Birth</mat-label>
                            <mat-form-field class="mt-2" appearance="outline" floatPlaceholder="never">
                                <input formControlName="postalAddress" matInput placeholder="Date of Birth" autocomplete="off">
                                <mat-error *ngIf="">Date of birth is <strong>required</strong></mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-12">
                            <mat-label class="ml-3 pl-1">Address</mat-label>
                            <mat-form-field class="mt-2" appearance="outline" floatPlaceholder="never">
                                <input formControlName="postalAddress" matInput placeholder="Address" autocomplete="off">
                                <mat-error *ngIf="">Address is <strong>required</strong></mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="my-3">
                        <button mat-raised-button class="btn btn-primary w-100" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </mat-card>
        <!-- END card-->
    </div>
</div>