<!-- START Top Navbar-->
<nav class="navbar topnavbar" role="navigation">
    <!-- START navbar header-->
    <div class="navbar-header">
        <a href="#/">
            <img src="assets/img/logo-ew-switchboard.svg" width="150px" height="auto" />
        </a>
    </div>
    <ul class="navbar-nav mx-auto flex-row align-items-center" *ngIf="isNavMenuVisible">
        <li class="nav-item">
            <a class="nav-link d-none d-lg-block d-xl-block cursor-pointer" routerLink="dashboard">
                <h6 class="mb-0">Dashboard</h6>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-none d-lg-block d-xl-block cursor-pointer">
                <h6 class="mb-0">Assets</h6>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-none d-lg-block d-xl-block cursor-pointer">
                <h6 class="mb-0">Applications</h6>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-none d-lg-block d-xl-block cursor-pointer">
                <h6 class="mb-0">Services</h6>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link d-none d-lg-block d-xl-block cursor-pointer">
                <h6 class="mb-0">Enrollments</h6>
            </a>
        </li>
    </ul>
    <ul class="navbar-nav flex-row profile-wrapper">
        <li class="nav-item">
            <div class="cursor-pointer" [matMenuTriggerFor]="menu">
                <div class="d-flex align-items-center flex-row">
                    <div class="d-flex flex-column align-items-end ml-2 mr-2">
                        <div class="label-role">Ted Tyler</div>
                        <!-- <div class="label-did">0x5B1B89A48C1fB….6d45</div> -->
                    </div>
                    <img class="img-thumbnail rounded-circle" src="../assets/img/identity-image.png" width="34"
                        height="34" alt="avatar">
                </div>
            </div>
        </li>
    </ul>
    <!-- END navbar header-->
</nav>
<!-- END Top Navbar-->
<mat-menu #menu="matMenu" xPosition="before" class="px-2">
    <button class="color-white" mat-menu-item (click)="openDialogUser()">Update Identity</button>
    <button class="color-white" mat-menu-item (click)="logout()">Logout</button>
</mat-menu>
