<div class="col-xl-12">
    <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center">
        <h4 class="color-white strong my-4">My Assets</h4>
        <div class="d-flex align-item-center">
            <button mat-raised-button class="btn btn-primary btn-small mb-3 mb-lg-0" (click)="registerAsset()">
                Register Asset
            </button>
        </div>
    </div>
    <app-asset-list [additionalColumns]="['offeredTo', 'modifiedDate']" [list-type]="1"></app-asset-list>
</div>
