<h4 mat-dialog-title class="mb-0 d-flex justify-content-between align-items-center">
  Transfer Ownership
  <button mat-icon-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</h4>

<div mat-dialog-content>
  <!-- START: New Owner Form -->
  <ng-container *ngIf="!isProcessing">
    <app-card-info *ngIf="namespace" [description]="'NAMESPACE: ' + namespace"></app-card-info>
    <app-card-info *ngIf="assetDid" [description]="'ASSET: ' + assetDid"></app-card-info>

    <div class="card card-default d-flex shadow-none d-flex pt-3 mb-3">
      <div class="row">
        <div class="col-12">
          <app-select-did
            placeholder="New Owner DID"
            label="New Owner DID"
            [isRequired]="true"
            (didChange)="didChangeHandler($event)"></app-select-did>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end mb-3" *ngIf="!mySteps?.length">
      <button mat-stroked-button class="btn btn-small mr-2" (click)="closeDialog()">Cancel</button>
      <button mat-raised-button class="btn btn-small btn-primary" (click)="submit()" [disabled]="!didValid">
        Next
      </button>
    </div>
  </ng-container>
  <!-- END: New Owner Form -->

  <div class="mb-2 mt-3" *ngIf="isProcessing">
    <div class="row">
      <div class="w-100 card card-default d-flex shadow-none d-flex pt-3 mx-3">
        <div class="text-left my-3">
          <div class="label opacity-50 mb-2">Namespace</div>
          <span class="default-color mb-0">{{ namespace }}</span>
        </div>
        <mat-divider></mat-divider>
        <div class="text-left my-3">
          <div class="label opacity-50 mb-2">New Owner Address</div>
          <span class="default-color mb-0">{{ newOwnerDID }}</span>
        </div>
      </div>
      <mat-vertical-stepper class="w-100" [linear]="true" #stepper *ngIf="mySteps?.length">
        <ng-template matStepperIcon="edit">
          <mat-icon>check</mat-icon>
        </ng-template>
        <mat-step [completed]="false" *ngFor="let step of mySteps; let i = index">
          <ng-template matStepLabel>Transfer Ownership</ng-template>
          <app-card-info [description]="step.info"></app-card-info>
          <div
            class="card card-hint d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3">
            <mat-icon class="px-2">notifications_none</mat-icon>
            <span class="pl-3 pb-2"> Please confirm this transaction in your connected Wallet. </span>
          </div>
          <div class="d-flex justify-content-end mb-3">
            <button mat-stroked-button class="btn btn-small mr-2" (click)="closeDialog()">Cancel</button>
            <button
              mat-raised-button
              class="btn btn-small btn-primary"
              *ngIf="stepper.selectedIndex === i"
              (appRetryBtn)="retry()">
              Retry
            </button>
          </div>
        </mat-step>
        <mat-step [completed]="false">
          <ng-template matStepLabel>Complete</ng-template>
          <app-transactions-complete (completed)="closeDialog(true)"></app-transactions-complete>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>
