:host {
  display: flex;
  justify-content: space-between;
}

.stake-amount-btn {
  color: #32DCDC;
  border: 1px solid #32DCDC;
  padding: 8px 24px;
  text-align: center;
  border-radius: 16px;
  letter-spacing: 1.25px;
  font-weight: 700;
  font-size: 14px;

  @media screen and (max-width: 800px) {
    padding: 8px 5px;
  }
}

.btn-margin {
  margin: 0 0.5rem;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.selected {
  color: #FFFFFF;
  background: #32DCDC;
}
