<h4 mat-dialog-title class="mb-0 d-flex justify-content-between align-items-center">
  Register Single Asset
  <button mat-icon-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</h4>

<div mat-dialog-content>
  <div mat-dialog-actions class="d-flex justify-content-center" style="border-top: 0;">
    <button mat-raised-button class="btn btn-primary w-100" type="submit" data-qa-id="dialog-register-asset"
            (click)="registerAsset()">Register
    </button>
  </div>
</div>
