<form [formGroup]="form">
  <ng-container>
    <div class="card card-default d-flex shadow-none d-flex pt-3 mb-3">
      <mat-label class="ml-3 pl-1">{{ roleType }} Type</mat-label>
      <mat-form-field class="mt-2" appearance="outline">
        <mat-select
          placeholder="{{ roleType }} Type"
          data-qa-id="select-type"
          formControlName="type"
          (selectionChange)="typeChanged()"
          required>
          <mat-option *ngFor="let issuerType of roleTypes" [value]="issuerType" [attr.data-qa-id]="issuerType">
            {{ issuerType }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="isDIDType" class="card card-default d-flex shadow-none d-flex pt-3 mb-3">
      <app-role-type-did [type]="roleType" [dids]="list"></app-role-type-did>
    </div>
    <div *ngIf="isRoleType" class="card card-default d-flex shadow-none d-flex pt-3 mb-3">
      <app-search-issuer-role [type]="roleType" class="row mt-2" [role]="roleName"></app-search-issuer-role>
    </div>
  </ng-container>
  <div class="d-flex justify-content-end mb-2">
    <button mat-stroked-button class="btn btn-small mr-2" *ngIf="showCancelButton" (click)="cancel.emit()">
      Cancel
    </button>
    <button mat-stroked-button class="btn btn-small mr-2" *ngIf="showBackButton" (click)="back.emit()">Back</button>
    <button mat-raised-button class="btn btn-small btn-primary" [attr.data-qa-id]="'next-'+ roleType.toLowerCase()" (click)="onNextHandler()">
      Next
    </button>
  </div>
</form>
