:host {
  margin-top: 30px;
  display: block;
  padding: 30px;
  border: 1px solid #231F31;
}

.title {
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  line-height: 31px;
}

.list {
  font-family: Source Sans Pro, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;

  color: #828188;

  li {
    margin: 4px 0;
  }
}

.triangle {
  position: relative;
  padding-left: 8px;

  &:before {
    content: '';
    width: 0;
    height: 0;
    padding: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #32DCDC;
    position: absolute;
    left: 0;
    top: 6px;
  }
}

.circle {
  position: relative;
  padding-left: 10px;

  &:before {
    content: '';
    width: 0;
    height: 0;
    padding: 1px;
    border: 1px solid #32DCDC;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 10px;
  }
}