<mat-tab-group mat-align-tabs="start" (selectedTabChange)="showMe($event)">

  <mat-tab label="Organization Management">
    <div class="row mx-0 mt-1">
      <div class="col-xl-12">
        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center">
          <h4 class="color-white strong my-4">Organization Management</h4>
          <span>
            <button mat-raised-button class="btn btn-primary btn-small mb-3 mb-lg-0" (click)="openNewOrgComponent()">Create Organization
              </button>
          </span>
        </div>
        <app-governance-list list-type="org"></app-governance-list>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Application Management">
    <div class="row mx-0 mt-1">
      <div class="col-xl-12">
        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center">
          <h4 class="color-white strong my-4">Application Management</h4>
          <span>
            <button mat-raised-button class="btn btn-primary btn-small mb-3 ml-2 mb-lg-0" (click)="openNewAppComponent()">Create Application
              </button>
          </span>
        </div>
        {{ 'isAppShown' + isAppShown }}
        <ng-container *ngIf="isAppShown">
          <app-governance-list list-type="app"></app-governance-list>
        </ng-container>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Role Governance">
    <div class="row mx-0 mt-1">
      <div class="col-xl-12">
        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center">
          <h4 class="color-white strong my-4">Role Governance</h4>
          <span>
            <button mat-raised-button class="btn btn-primary btn-small mb-3 ml-2 mb-lg-0" (click)="openNewRoleComponent()">Create New Role
              </button>
          </span>
        </div>
        <ng-container *ngIf="isRoleShown">
          <app-governance-list list-type="role"></app-governance-list>
        </ng-container>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>