<mat-tab-group mat-align-tabs="start" #governanceTabGroup (selectedTabChange)="showMe($event)">

  <mat-tab label="Organization Management">
    <div class="row mx-0 mt-1">
      <div class="col-xl-12">
        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center">
          <h4 class="color-white strong my-4">Organization Management</h4>
          <div class="d-flex align-item-center">
            <!-- <button (click)="toggleFilter(ListType.ORG)" class="btn mat-stroked-filter-button btn-small mb-3 mb-lg-0 mr-2">Filter
            </button> -->
            <button mat-raised-button class="btn btn-primary btn-small mb-3 mb-lg-0"
                    *ngIf="(hierarchyLength$ | async) === 0; else subOrg" (click)="openNewOrgComponent()">Create
              Organization
            </button>
            <ng-template #subOrg>
              <button mat-raised-button class="btn btn-primary btn-small mb-3 mb-lg-0"
                      [disabled]="isSelectedOrgNotOwnedByUser$ | async"
                      (click)="createSubOrg()">Create
                Sub-Organization
              </button>
            </ng-template>
          </div>
        </div>
        <app-organization-list #listOrg (updateFilter)="updateFilter($event)"></app-organization-list>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Application Management">
    <div class="row mx-0 mt-1">
      <div class="col-xl-12">
        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center">
          <h4 class="color-white strong my-4">Application Management</h4>
          <div class="d-flex justify-content-end flex-column align-items-center mb-3 flex-md-row">
            <div class="d-flex align-item-center">
              <button (click)="toggleFilter(ListType.APP)"
                      class="btn mat-stroked-filter-button btn-small mb-lg-0 mr-2">Filter
              </button>
              <!--              <div class="d-flex align-item-center">-->
              <!--                <button class="btn mat-raised-header-button btn-small mb-lg-0 mr-2">-->
              <!--                  Add Asset Type-->
              <!--                </button>-->
              <!--              </div>-->
            </div>
          </div>
        </div>
        <ng-container *ngIf="isAppShown">
          <app-application-list listType="app" #listApp [isFilterShown]="showFilter.app"
                                [defaultFilterOptions]="defaultFilterOptions.app" (updateFilter)="updateFilter($event)">
          </app-application-list>
        </ng-container>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Role Governance">
    <div class="row mx-0 mt-1">
      <div class="col-xl-12">
        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center">
          <h4 class="color-white strong my-4">Role Governance</h4>
          <div class="d-flex align-item-center">
            <button (click)="toggleFilter(ListType.ROLE)"
                    class="btn mat-stroked-filter-button btn-small mb-3 mb-lg-0 mr-2">Filter
            </button>
          </div>
        </div>
        <ng-container *ngIf="isRoleShown">
          <app-role-list listType="role" #listRole [isFilterShown]="showFilter.role"
                         [defaultFilterOptions]="defaultFilterOptions.role"></app-role-list>
        </ng-container>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
