<mat-tab-group mat-align-tabs="start" #governanceTabGroup (selectedTabChange)="showMe($event)">
  <mat-tab label="Organization Management">
    <div class="row mx-0 mt-1">
      <div class="col-xl-12">
        <app-table-heading heading="Organization Management">
          <button
            mat-raised-button
            class="btn btn-primary btn-small mb-3 mb-lg-0"
            *ngIf="(hierarchyLength$ | async) === 0; else subOrg"
            (click)="openNewOrgComponent()">
            Create Organization
          </button>
          <ng-template #subOrg>
            <button
              mat-raised-button
              class="btn btn-primary btn-small mb-3 mb-lg-0"
              [disabled]="isSelectedOrgNotOwnedByUser$ | async"
              (click)="createSubOrg()">
              Create Sub-Organization
            </button>
          </ng-template>
        </app-table-heading>
        <app-organization-list #listOrg (updateFilter)="updateFilter($event)"></app-organization-list>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Application Management">
    <div class="row mx-0 mt-1">
      <div class="col-xl-12">
        <app-table-heading heading="Application Management">
          <button (click)="toggleFilter(ListType.APP)" class="btn mat-stroked-filter-button btn-small mb-lg-0 mr-2">
            Filter
          </button>
        </app-table-heading>
        <ng-container *ngIf="isAppShown">
          <app-application-list #listApp (updateFilter)="updateFilter($event)"></app-application-list>
        </ng-container>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Role Governance">
    <div class="row mx-0 mt-1">
      <div class="col-xl-12">
        <app-table-heading heading="Role Management">
          <button
            (click)="toggleFilter(ListType.ROLE)"
            class="btn mat-stroked-filter-button btn-small mb-3 mb-lg-0 mr-2">
            Filter
          </button>
        </app-table-heading>
        <ng-container *ngIf="isRoleShown">
          <app-role-list #listRole></app-role-list>
        </ng-container>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
