
.app {
  padding: var(--gutter) 0;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
  margin: 0 6px;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px;
  grid-template-rows: minmax(150px, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - var(--gutter) * 2);

  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}

.hs:before,
.hs:after {
  content: '';
  width: 10px;
}

.display-grid {
  display: grid;
  place-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

.app {
  overflow-y: auto;
}

.min-300 {
  min-width: 308px;
}

.shadow-none {
  box-shadow: none !important;
}

.hs > li,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

// Registration

.mat-card {
  border-radius: 5px !important;
}

.card-enroll {
  overflow-y: auto; 
  width: 500px; 
  height: 100%; 
  margin: 15px 15px 65px 15px;
  border-radius: 15px;
  border: 0;
  z-index: 7;

  // background-color: #181524;
  // border: 1px solid #1c1b2b;

  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255,255,255,0.05);
}

.img-container {
  background-color: #201F28 !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.img-wrapper{
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center center !important;
  width: 100%;
  height: 150px;
}

.side-panel {
  max-width: 300px;
  overflow-x: hidden;
}

.side-panel-content {
  max-width: 300px; 
  width: 300px;
}

mat-drawer {
  background-color: #242330 !important;
}

.mat-expansion-panel {
  background: #353540;
  color: #FFF;
}
.mat-expansion-panel-header-title, .mat-expansion-indicator::after {
  color: #9081ba !important;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
}

.mat-expansion-indicator::after {
  position: relative;
  top: -3px;

}


@include media-breakpoint-down(sm) {
  .card-enroll {
    width: 93%; 
  }

  .side-panel {
    width: 100%;
    overflow-x: hidden;
  }

  .side-panel-content {
    max-width: auto; 
    width: 100%;
  }

  .search-field {
    width: 100% !important;
  }
}

.search-field {
  width: 50%;
}

.search-field-results {
  width: 70%;
}

.card-search-body {
  background-color: #363443;
  color: #FFF;
  border-radius: 5px;

  h4 {
      font-weight: 600;
      font-size: 16px !important;
  }

  h5 {
      font-size: 12px !important;
  }

  p {
      font-size: 12px !important;
      opacity: 0.5;
  }
}

.did-wrapper {
  margin-top: 7px;
  background-color: #1f1b2d;
  padding: 8px 12px;
  border-radius: 50px;
  color: #FFF;
}

.card-register {
      width: 434px;
      padding: 35px 35px 25px 35px !important;
      border-radius: 15px;
      border: 0;
      background: transparent;
      color: #FFF !important;

          &::after {
              content: "";
              background-image: linear-gradient(180deg, #1D1929 0%, #161220 100%);
              border: 1px solid #2A2837;
              box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
              border-radius: 8px;
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
          }
  }

  .create-new-identity {
        &::after {
            content: "";
            background-image: none !important;
            background-color: rgba(42, 40, 55, 0.8) !important;
        }
}

  .card-profile {
    background: transparent;

    &:hover {
      background: rgba(132,131,144,0.06);
      cursor: pointer;
    }
  }

  .card-overlay {
    background-color: rgba(0,0,0,0.5);
    cursor: none;
    opacity: 0.5;

    &::before {
      content: '';
      position: relative;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    } 
  }

  .card-icon {
    background: rgba(132,131,144,0.06);
    border: 1px solid #232131;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14);
    cursor: pointer;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    
    &:hover {
      background: #A567FF;
      border: 1px solid #c6a0ff;
      top: -5px; 
      box-shadow: rgba(0,0,0,0.1) 0px 20px 20px 0px;
    }
  }

  .card-icon-disabled {
    background: rgb(24 21 35);
    border: 1px solid rgb(24 21 35);
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
    position: relative;
    top: 0;
  }

  .opacity-01 {
    opacity: 0.08;
  }

  .height-log {
    height: auto;
  }

  .card-filter {
    background-color: #302e3d;
    border-top-width: 0 !important; 
    border-color: transparent !important;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.28);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 6px 20px 15px 20px;

    .color-white {
      color: #FFF;
      font-size: 12px;
      font-weight: 500 !important;
      font-family: 'Source Sans Pro', sans-serif !important;
    }
  }

  .card-default {
    background-color: #242230 !important;
    border-top-width: 0 !important; 
    border-color: transparent !important;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.28);
    border-radius: 3px;
    padding: 6px 20px 15px 20px;

     .card-header {
      background-color: #242230 !important;
      padding: 0.1rem 0.1rem 0.1rem 0!important;
        h4 {
          font-weight: 600 !important;
          color: #B6B9C7;
        }
    }

    .card-widget {
      .mat-icon {
        width: 62px;
        height:auto;
        color: #46425f;
      }
      .qr-icon {
        width: 32px;
        height: auto;
        color: #FFF !important;
      }

      .cmd-icon {
        color: #FFF !important;
        height: 24px !important;
        width: 24px !important;
      }

      h1 {
        font-weight: 600 !important;
        color: #FFF;
        font-size: 26px !important;
      }
      .border-bottom-widget {
        border-bottom: 1px solid #414152;
      }

      .border-bottom-list {
        border-bottom: 1px solid #414152;
      }

      .f-16 {
        font-size: 16px;
        font-weight: 400 !important;
        color: #FFF;
      }

      .f-28 {
        font-size: 26px;
        font-weight: 200 !important;
        color: #7397D7;
      }

      .label {
        font-size: 14px;
        color: rgba(255,255,255,.70);
      }
      
    }

    .graph-label {
      color: #9080BA;
    } 
  }

  .label {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
  }

  .color-white {
    color: #FFF;
    font-weight: 500;
  }

  .color-white-flat {
    color: #FFF;
  }

  .color-link {
    color: #B6B2E1;
    font-weight: 600;
    font-family: 'Rajdhani', sans-serif;
  }

  .card-qr {
    mat-icon {
      width: 86px;
      height: auto;
      margin: 8px 0 0 0;
    }
    .label-qr {
      color: #FFF;
      margin: 10px 0 0 0;
      letter-spacing: 0.5px;
    }
    .label-btn-qr {
      color: #FFF;
      font-size: 16px;
      font-weight: 600;
    }
    .mat-stroked-button {
      padding: 8px 25px !important;
    }
  }

  @media (max-width: 800px){
    .widget-chart-container {
      overflow-y: scroll;
      width: 400px;
    }
  
    .chart-container {
      overflow: auto; 
      width: 600px;
    }

    .chart-pie-container {
      overflow: auto; 
      width: 600px;
    }

  }

  @media (max-width: 700px){
    // .card-enroll {
    //   box-shadow: none !important;
    
    //   &::after {
    //     content: "";
    //     background-image: none;
    //     background-color: transparent;
    //     backdrop-filter: blur(0px); 
    //     -webkit-backdrop-filter: blur(0px);
    //     -moz-backdrop-filter: blur(0px);
    //     -o-backdrop-filter: blur(0px);
    //     box-shadow: none;
    //     border: none !important;
    //     border-radius: 0 !important;
    //   }
    // }

    .card-register {
      height: 150px;
      width: 400px;
      box-shadow: none !important;
      position: unset !important;
      padding-top: 20px !important;
      padding-bottom: 0 !important;
      padding-right: 35px !important;
      padding-left: 35px !important;

      &::after {
        content: "";
        background-image: none;
        background-color: transparent;
        backdrop-filter: blur(0px); 
        -webkit-backdrop-filter: blur(0px);
        -moz-backdrop-filter: blur(0px);
        -o-backdrop-filter: blur(0px);
        box-shadow: none;
        border: none !important;
        border-radius: 0 !important;
      }

    }

    .height-log {
      height: 100% !important;
      margin-top: 30%;
    }

    .activation-label {
      display: none !important;
    }
  }

  .card-hint {
    border: 1px solid rgb(239 225 181 / 0.2);
    display: flex;
    padding: 10px;
    justify-content: center;
    background-color: rgb(81 78 81 / 0.2);
    border-radius: 5px;
    font-size: 12px;
    color: #fff2c1;

    .mat-icon {
      font-size: 16px;
    }
  }

  .card-success {
    border: 1px solid rgb(135 193 141 / 45%);
    padding: 10px;
    background-color: rgba(117, 254, 197, 0.05);
    border-radius: 5px;
    font-size: 12px;
    color: rgb(174 255 176 / 71%);

    .mat-icon {
      font-size: 21px;
      margin: 0 10px 0 8px;
    }
  }

  .card-info {
    border: 1px solid rgb(193 255 249 / 50%);
    display: flex;
    padding: 10px;
    justify-content: center;
    background-color: rgb(193 255 249 / 8%);
    border-radius: 5px;
    font-size: 12px;
    color: #c1fff9;

    .mat-icon {
      font-size: 21px;
      margin: 0 10px 0 8px;
    }
  }

  .card-result {
    padding: 14px 18px 13px 18px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #3c3b4d;
    width: 100%;
    background-color: transparent;

    .break-word {
      word-wrap: break-word !important; 
      width: 85%;
    }
  }

  .card-result-list {
    padding: 14px 18px 13px 18px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 100%;
    background-color: #2d2c3d;

    .break-word {
      word-wrap: break-word !important; 
      width: 85%;
    }
  }

  @media (max-width: 320px){

    // .card-enroll {
    //   box-shadow: none !important;
    //   position: unset !important;
    
    //   &::after {
    //     content: "";
    //     background-image: none;
    //     background-color: transparent;
    //     backdrop-filter: blur(0px); 
    //     -webkit-backdrop-filter: blur(0px);
    //     -moz-backdrop-filter: blur(0px);
    //     -o-backdrop-filter: blur(0px);
    //     box-shadow: none;
    //   }
    // }

    .card-register {
      width: 360px;
      border: none !important;
      border-radius: 0 !important;
      padding-top: 20px !important;
      padding-bottom: 0 !important;
      padding-right: 35px !important;
      padding-left: 35px !important;
      position: unset !important;

      &::after {
        content: "";
        background-image: none;
        background-color: transparent;
        backdrop-filter: blur(0px); 
        -webkit-backdrop-filter: blur(0px);
        -moz-backdrop-filter: blur(0px);
        -o-backdrop-filter: blur(0px);
        box-shadow: none;
      }

    }

    .height-log {
      height: 100% !important;
      margin-top: 30%;
    }
  }
