<!-- START TABLE -->
<div class="card card-default mb-3 pb-3">
  <div
    *ngIf="showDidFilter"
    class="card-header d-flex flex-column flex-lg-row justify-content-lg-start align-lg-items-center mb-3">
    <div class="d-flex align-items-center flex-column flex-lg-row mt-3 mt-lg-0 ml-0 ml-md-3">
      <mat-form-field
        appearance="outline"
        class="mat-filter-sort mr-0 mr-lg-0 mb-2 mb-lg-0"
        matTooltip="Filter by did - it will filter through Asset Did">
        <input matInput placeholder="DID" [formControl]="searchByDid" />
        <button
          matSuffix
          mat-icon-button
          class="qr-code"
          aria-label="Scan DID"
          appQrCodeScanner
          (scannedValue)="updateSearchByDidValue($event.data?.did)">
          <mat-icon>qr_code_2</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" matSort matSortActive="createdDate" matSortDirection="desc">
    <!-- Logo -->
    <ng-container matColumnDef="logo">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element; let i = index" data-label="">
        <div class="d-flex justify-content-center justify-content-md-start">
          <img
            class="img-logo-list"
            [src]="element.icon ? element.icon : defaultLogo"
            [attr.data-qa-id]="'logo-' + i" />
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ng-container *ngIf="isOwnedOrPreviouslyOwned"> Created Date</ng-container>
        <ng-container *ngIf="isOffered"> Offered Date</ng-container>
      </th>
      <td mat-cell *matCellDef="let element; let i = index" data-label="Created Date">
        <div *ngIf="isOwnedOrPreviouslyOwned" [attr.data-qa-id]="'create-date-' + i">
          {{ element.createdDate | defaultDate }}
        </div>
        <div *ngIf="isOffered" [attr.data-qa-id]="'modified-date-' + i">
          {{ element.modifiedDate | defaultDate }}
        </div>
      </td>
    </ng-container>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell class="d-flex align-items-center pt-1" *matHeaderCellDef mat-sort-header>
        Asset Name
        <mat-icon class="icon-disabled ml-2">visibility_off</mat-icon>
      </th>
      <td mat-cell *matCellDef="let element; let i = index" data-label="Name">
        <div class="d-flex flex-row align-items-center justify-content-between justify-content-lg-start">
          <div [attr.data-qa-id]="'name-' + i">
            {{ element.name ? element.name : 'Asset Name' }}
          </div>
          <div *ngIf="isOwned">
            <button
              class="btn mat-stroked-table-button ml-0 mr-2 mr-md-0 ml-md-2"
              [attr.data-qa-id]="'enrolments-' + i"
              *ngIf="element.hasEnrolments"
              (click)="viewAssetEnrolments(element)">
              Enrolments
            </button>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ng-container>Asset DID</ng-container>
      </th>
      <td mat-cell *matCellDef="let element; let i = index" data-label="Asset DID" class="cursor-pointer">
        <div
          matTooltip="{{ element.id }}"
          matTooltipClass="tooltip-full-width"
          [attr.data-qa-id]="'did-' + i"
          [appMinifiedDidViewer]="element.id">
          {{ element.id | didFormatMinifier }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="offeredTo" *ngIf="isOwnedOrPreviouslyOwned">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ng-container>Offered To</ng-container>
      </th>
      <td mat-cell *matCellDef="let element; let i = index" data-label="Offered To">
        <ng-container *ngIf="isOwned">
          <div
            matTooltip="{{ element.offeredTo }}"
            matTooltipClass="tooltip-full-width"
            [attr.data-qa-id]="'offered-to-did-' + i"
            [appMinifiedDidViewer]="element.offeredTo">
            {{ (element.offeredTo | didFormatMinifier) || '-' }}
          </div>
        </ng-container>
        <ng-container *ngIf="isPreviouslyOwned">
          <div
            matTooltip="{{ element.owner }}"
            matTooltipClass="tooltip-full-width"
            [attr.data-qa-id]="'owner-did-' + i"
            [appMinifiedDidViewer]="element.owner">
            {{ (element.owner | didFormatMinifier) || '-' }}
          </div>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ng-container>Offered By</ng-container>
      </th>
      <td mat-cell *matCellDef="let element; let i = index" data-label="Offered By">
        <div
          matTooltip="{{ element.owner }}"
          matTooltipClass="tooltip-full-width"
          [attr.data-qa-id]="'offered-by' + i"
          [appMinifiedDidViewer]="element.owner">
          {{ (element.owner | didFormatMinifier) || '-' }}
        </div>
      </td>
    </ng-container>

    <!-- Active Enrolments -->
    <ng-container matColumnDef="activeEnrolments">
      <th mat-header-cell *matHeaderCellDef>Active Enrolments</th>
      <td mat-cell *matCellDef="let element" data-label="Active Enrolments">
        {{ element.activeEnrolments }}
      </td>
    </ng-container>

    <!-- Type -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element" data-label="Type">
        {{ element.type }}
      </td>
    </ng-container>

    <!-- Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element" data-label="Type">
        <span class="color-success">{{ element.status }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="modifiedDate" *ngIf="isOwned">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ng-container>Last Updated Date</ng-container>
      </th>
      <td mat-cell *matCellDef="let element" data-label="Last Updated Date">
        {{ element.modifiedDate | defaultDate }}
      </td>
    </ng-container>

    <!-- Action -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-right"></th>
      <td mat-cell *matCellDef="let element; let i = index">
        <div class="d-flex justify-content-end">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Action button list"
            [attr.data-qa-id]="'menu-' + i">
            <mat-icon class="btn-color-primary">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <ng-container>
              <!-- View Ownership History -->
              <button
                mat-menu-item
                class="btn-color-primary"
                (click)="viewOwnershipHistory(element)"
                data-qa-id="history">
                <mat-icon class="btn-color-primary btn-action-3" svgIcon="view-application-icon"></mat-icon>
                <span>View Ownership History</span>
              </button>

              <button
                mat-menu-item
                class="btn-color-primary"
                *ngIf="isOwned"
                data-qa-id="verification-method"
                (click)="viewVerificationMethod(element)">
                <mat-icon class="btn-color-primary btn-action-3"> verified</mat-icon>
                <span>Verification Method</span>
              </button>

              <ng-container *ngIf="isOwned">
                <!-- Offer Ownership -->
                <button
                  mat-menu-item
                  class="btn-color-primary"
                  *ngIf="!element?.offeredTo"
                  data-qa-id="transfer-ownership"
                  (click)="transferOwnership(listType, element)">
                  <mat-icon class="btn-color-primary btn-action-1" svgIcon="transfer-ownership-icon"></mat-icon>
                  <span>Transfer Ownership</span>
                </button>

                <!-- Cancel Ownership Offer -->
                <button
                  mat-menu-item
                  class="btn-color-error"
                  *ngIf="element?.offeredTo"
                  data-qa-id="cancel-transfer"
                  (click)="cancelAssetOffer(element)">
                  <mat-icon class="btn-color-error">delete_outline</mat-icon>
                  <span>Cancel Transfer of Ownership</span>
                </button>
              </ng-container>

              <ng-container *ngIf="isOffered">
                <!-- Accept Ownership Offer -->
                <button
                  mat-menu-item
                  class="btn-color-primary"
                  (click)="approveAssetOffer(element)"
                  data-qa-id="accept-transfer">
                  <mat-icon class="btn-color-primary btn-action-3"> thumb_up_alt</mat-icon>
                  <span>Accept</span>
                </button>

                <!-- Reject Ownership Offer -->
                <button
                  mat-menu-item
                  class="btn-color-error"
                  (click)="rejectAssetOffer(element)"
                  data-qa-id="reject-offer">
                  <mat-icon class="btn-color-error">thumb_down_alt</mat-icon>
                  <span>Reject</span>
                </button>
              </ng-container>

              <!-- Edit -->
              <button mat-menu-item class="btn-color-primary" (click)="edit(element)" data-qa-id="edit">
                <mat-icon class="btn-color-primary btn-action-3"> create</mat-icon>
                <span>Edit</span>
              </button>

              <!-- QR-Code -->
              <button mat-menu-item class="btn-color-primary" (click)="generateQrCode(element)">
                <mat-icon class="btn-color-primary btn-action-3 icon-color" svgIcon="generate-qr-icon"></mat-icon>
                <span>Generate QR-Code</span>
              </button>

              <button mat-menu-item class="btn-color-primary" (click)="createVC(element)" *ngIf="issuesRoles">
                <mat-icon class="btn-color-primary btn-action-3"> contact_page</mat-icon>
                <span>Issue Claim to Asset</span>
              </button>

              <!-- Remove -->
              <!-- <button mat-menu-item class="btn-color-primary">
                  <mat-icon class="btn-color-error btn-action-3">delete_outline</mat-icon>
                  <span class="color-error">Remove</span>
              </button> -->
            </ng-container>
          </mat-menu>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <app-no-records *ngIf="!dataSource?.data?.length"></app-no-records>
  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" [hidePageSize]="true" showFirstLastButtons>
  </mat-paginator> -->
</div>
