<!-- START TABLE -->
<div class="card card-default mb-3 pb-3">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="createdDate" matSortDirection="desc">

        <!-- Logo -->
        <ng-container matColumnDef="logo">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" data-label="">
                <div class="d-flex justify-content-center justify-content-md-start">
                    <img class="img-logo-list" src="../assets/img/assets-icons/solar-energy.svg" />
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <ng-container *ngIf="listType !== AssetListType.OFFERED_ASSETS"> Created Date </ng-container>
                <ng-container *ngIf="listType === AssetListType.OFFERED_ASSETS"> Offered Date </ng-container>
            </th>
            <td mat-cell *matCellDef="let element" data-label="Created Date">
                <div *ngIf="listType !== AssetListType.OFFERED_ASSETS">
                    {{ element.createdDate | date: 'MM/dd/yyyy HH:mm:ss' }}
                </div>
                <div *ngIf="listType === AssetListType.OFFERED_ASSETS">
                    {{ element.modifiedDate | date: 'MM/dd/yyyy HH:mm:ss' }}
                </div>
            </td>
        </ng-container>

        <!-- Name -->
        <ng-container matColumnDef="name">
            <th mat-header-cell class="d-flex align-items-center" *matHeaderCellDef>Asset Name
                <mat-icon class="btn-color-disabled ml-2">visibility_off</mat-icon></th>
            <td mat-cell *matCellDef="let element" data-label="Name">
                <div class="d-flex flex-row align-items-center justify-content-between justify-content-lg-start">
                    <div class="text-blur">
                        {{element.name ? element.name : 'Asset Name'}}
                    </div>
                    <div>
                        <button class="btn mat-stroked-table-button ml-0 mr-2 mr-md-0 ml-md-2" (click)="viewAssetEnrolments(element)">Enrolments</button>
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <ng-container> Asset DID </ng-container>
            </th>
            <td mat-cell *matCellDef="let element" data-label="Asset DID">
                <div matTooltip="{{element.id}}" matTooltipClass="tooltip-full-width" [appMinifiedDidViewer]="element.id">{{ element.id | didFormatMinifier }}</div>
            </td>
        </ng-container>

        <ng-container matColumnDef="offeredTo" *ngIf="listType !== AssetListType.OFFERED_ASSETS">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <ng-container> Offered To </ng-container>
            </th>
            <td mat-cell *matCellDef="let element" data-label="Offered To">
                <ng-container *ngIf="listType === AssetListType.MY_ASSETS">
                    <div matTooltip="{{element.offeredTo}}" matTooltipClass="tooltip-full-width" [appMinifiedDidViewer]="element.offeredTo">{{ (element.offeredTo | didFormatMinifier) || '-' }}</div>
                </ng-container>
                <ng-container *ngIf="listType === AssetListType.PREV_OWNED_ASSETS">
                    <div matTooltip="{{element.owner}}" matTooltipClass="tooltip-full-width" [appMinifiedDidViewer]="element.owner">{{ (element.owner | didFormatMinifier) || '-' }}</div>
                </ng-container>
            </td>
        </ng-container>

        <ng-container matColumnDef="owner" *ngIf="listType === AssetListType.OFFERED_ASSETS">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <ng-container> Offered By </ng-container>
            </th>
            <td mat-cell *matCellDef="let element" data-label="Offered By">
                <div matTooltip="{{element.owner}}" matTooltipClass="tooltip-full-width" [appMinifiedDidViewer]="element.owner">{{ (element.owner | didFormatMinifier) || '-' }}</div>
            </td>
        </ng-container>

        <!-- Active Enrolments -->
        <ng-container matColumnDef="activeEnrolments">
            <th mat-header-cell *matHeaderCellDef>Active Enrolments
            </th>
            <td mat-cell *matCellDef="let element" data-label="Active Enrolments">
                {{element.activeEnrolments}}
            </td>
        </ng-container>

        <!-- Type -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let element" data-label="Type">{{element.type}}</td>
        </ng-container>

        <!-- Status -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element" data-label="Type"><span
                    class="color-success">{{element.status}}</span></td>
        </ng-container>

        <ng-container matColumnDef="modifiedDate" *ngIf="listType === AssetListType.MY_ASSETS">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <ng-container> Last Updated Date </ng-container>
            </th>
            <td mat-cell *matCellDef="let element" data-label="Last Updated Date">
                {{ element.modifiedDate | date: 'MM/dd/yyyy HH:mm:ss' }}
            </td>
        </ng-container>

        <!-- Action -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="text-right"> </th>
            <td mat-cell *matCellDef="let element">
                <div class="d-flex justify-content-end">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Action button list">
                        <mat-icon class="btn-color-primary">more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <ng-container>
                            <!-- View Ownership History -->
                            <button mat-menu-item class="btn-color-primary" (click)="viewOwnershipHistory(element)">
                                <mat-icon class="btn-color-primary btn-action-3" svgIcon="view-application-icon"></mat-icon>
                                <span>View Ownership History</span>
                            </button>
                            <button mat-menu-item class="btn-color-primary">
                                <mat-icon class="btn-color-primary btn-action-1" svgIcon="view-qr-icon"></mat-icon>
                                <span>Scan QR Code</span>
                            </button>

                            <ng-container *ngIf="listType === AssetListType.MY_ASSETS">
                                <!-- Offer Ownership -->
                                <button mat-menu-item class="btn-color-primary" *ngIf="!element?.offeredTo" (click)="transferOwnership(listType, element)">
                                    <mat-icon class="btn-color-primary btn-action-1" svgIcon="transfer-ownership-icon"></mat-icon>
                                    <span>Transfer Ownership</span>
                                </button>

                                <!-- Cancel Ownership Offer -->
                                <button mat-menu-item class="btn-color-error" *ngIf="element?.offeredTo" (click)="cancelAssetOffer(element)">
                                    <mat-icon class="btn-color-error">delete_outline</mat-icon>
                                    <span>Cancel Transfer of Ownership</span>
                                </button>
                            </ng-container>

                            <ng-container *ngIf="listType === AssetListType.OFFERED_ASSETS">
                                <!-- Accept Ownership Offer -->
                                <button mat-menu-item class="btn-color-primary" (click)="approveAssetOffer(element)">
                                    <mat-icon class="btn-color-primary btn-action-3">thumb_up_alt</mat-icon>
                                    <span>Accept</span>
                                </button>

                                <!-- Reject Ownership Offer -->
                                <button mat-menu-item class="btn-color-error" (click)="rejectAssetOffer(element)">
                                    <mat-icon class="btn-color-error">thumb_down_alt</mat-icon>
                                    <span>Reject</span>
                                </button>
                            </ng-container>

                            <!-- Edit -->
                            <button mat-menu-item class="btn-color-primary" (click)="edit(element)">
                                <mat-icon class="btn-color-primary btn-action-3">create</mat-icon>
                                <span>Edit</span>
                            </button>

                            <!-- Remove -->
                            <!-- <button mat-menu-item class="btn-color-primary">
                                <mat-icon class="btn-color-error btn-action-3">delete_outline</mat-icon>
                                <span class="color-error">Remove</span>
                            </button> -->
                        </ng-container>
                    </mat-menu>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- Shows when table is empty -->
    <div class="d-flex justify-content-center align-items-center mt-4 mb-3" *ngIf="!dataSource?.data?.length">
      <div class="d-flex align-items-center no-record color-white">
        <mat-icon class="mr-2">info</mat-icon>
        <i>No Record Found</i>
      </div>
    </div>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" [hidePageSize]="true" showFirstLastButtons>
    </mat-paginator> -->
</div>
