<div
  class="card d-flex justify-content-center align-items-center py-3 mb-3"
  [class.card-icon-disabled]="comingSoon"
  [attr.data-qa-id]="title"
  [class.card-icon]="!comingSoon">
  <div *ngIf="comingSoon" class="position-fixed d-flex align-items-center text-center">
    <h3 class="default-color opacity-50">Coming Soon</h3>
  </div>
  <img class="img-dashboard mt-4 m-3 m-lg-4" [src]="iconUrl" [class.opacity-01]="comingSoon" [alt]="title + 'image'" />
  <h4 class="default-color mt-3 mb-4 my-lg-4" [class.opacity-01]="comingSoon">
    {{ title }}
  </h4>
</div>
<mat-icon *ngIf="isExperimental" class="experimental-warning" matTooltip="This feature is experimental">
  report_problem
</mat-icon>
