// Bootstrap
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../app/variables';
@import '../app/material/colors';
@import './preloader';
$preloader-bg: #181423;
:root {
  --loader-color: #a567ff;
  --warning-color: #ffa500;

  // Preloader css properties
  --preloader-bg: #{$preloader-bg};
  --preloader-bg-darker: #{darken($preloader-bg, 5%)};

  --button-primary: #33cbcb;

  --nav-primary: #9080ba;
  --nav-primary-hover: #33cbcb;

  --scrollbar: #8d7db6;
  --scrollbar-hover: #33cbcb;

  --content-bg: #181423;
}

// LAYOUT

$aside-bg: #181423;

// NAVBAR TOP

$nav-top-bg: #181523;
$nav-top-bg-start: $nav-top-bg;
$nav-top-bg-end: $nav-top-bg;
$nav-header-bg: transparent;

$nav-top-item: #fff;
$nav-top-item-active: darken(#fff, 60%);

/* ========================================================================
   Component: layout
 ========================================================================== */
body,
.wrapper .section-container {
  background-color: var(--content-bg);
}

.wrapper .aside-container {
  background-color: var(--content-bg);
}

a {
  color: #33cbcb;

  &:hover {
    color: var(--nav-primary-hover);
  }
}

/* ========================================================================
   Component: top-navbar
 ========================================================================== */
.topnavbar {
  background-color: $nav-top-bg;

  @include media-breakpoint-up(lg) {
    border-bottom: 1px solid #ffffff08;
    .navbar-nav > .nav-item.show > .nav-link {
      &,
      &:hover,
      &:focus {
        box-shadow: 0 -3px 0 transparent inset;
      }
    }
  }

  .navbar-nav > .nav-item > .navbar-text {
    color: $nav-top-item;
  }

  .navbar-nav > .nav-item > .nav-link,
  .navbar-nav > .nav-item.show > .nav-link {
    color: var(--nav-primary);
    &:hover,
    &:focus {
      color: $inverse;
    }
  }

  .navbar-nav > .nav-item {
    padding: 12px 0;
  }

  .navbar-nav > .nav-item.active {
    background-color: transparent;
    &,
    &:hover,
    &:focus {
      color: var(--nav-primary-hover);
      background-color: transparent;
    }

    @include media-breakpoint-up(lg) {
      border-bottom: 1px solid var(--nav-primary-hover);
    }
    @include media-breakpoint-down(sm) {
      border-top: 1px solid var(--nav-primary-hover);
    }
  }

  .dropdown-item.active,
  .dropdown-item:active {
    background-color: $nav-top-bg;
  }
}

.header-notification-container,
.list-group-item {
  background-color: #2a2a37;
}

.list-group-item-action:hover {
  background-color: #21212b;
}

.logo-wrapper {
  background: url('/assets/img/ewflex-logo.svg') no-repeat;
  margin: 0 auto;
  width: 110px;
  max-width: 100%;
  height: 40.625px;
  margin-top: 22px;
}

.img-dashboard,
.link-footer {
  filter: grayscale(0);
}

.position-brand {
  .welcome-header-logo {
    background: url('/assets/img/logo-ew-switchboard.svg') no-repeat;
    height: 44px;
    width: 174px;
    background-size: contain;
  }
}

ul.menu-top {
  background-color: rgb(24 21 35);
}

.header-logo {
  background: url('/assets/img/logo-ew-switchboard.svg') no-repeat;
  width: 150px;
  height: 38px;
  background-size: 150px 38px;
}

.mat-menu-panel {
  background: #2a2837;
}

/* ========================================================================
   Cards
 ========================================================================== */

.card-register {
  background: transparent;
  color: #fff !important;
  &::after {
    content: '';
    background: transparent;
    background-image: linear-gradient(
      0deg,
      rgba(23, 23, 37, 0.52) 0%,
      rgba(57, 55, 101, 0.41) 100%
    );
    border: 1px solid #2a2837;
  }
}

.card-default {
  background-color: #242230 !important;

  .card-header {
    background-color: #242230 !important;
  }
}

.card-icon {
  background: rgba(132, 131, 144, 0.06);
  border: 1px solid #232131;
  &:hover {
    background: #a567ff;
    border: 1px solid #c6a0ff;
  }
}

.card-icon-disabled {
  background: rgb(24 21 35);
  border: 1px solid rgb(24 21 35);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}

.card-search-body {
  background-color: #363443;
  color: #fff;
}

.card-hint {
  border: 1px solid rgb(239 225 181 / 0.2);
  display: flex;
  padding: 10px;
  justify-content: center;
  background-color: rgb(81 78 81 / 0.2);
  border-radius: 5px;
  font-size: 12px;
  color: #fff2c1;

  .mat-icon {
    font-size: 16px;
  }
}

.card-success {
  border: 1px solid rgb(135 193 141 / 45%);
  padding: 10px;
  background-color: rgba(117, 254, 197, 0.05);
  border-radius: 5px;
  font-size: 12px;
  color: rgb(174 255 176 / 71%);

  .mat-icon {
    font-size: 21px;
    margin: 0 10px 0 8px;
  }
}

.card-info {
  border: 1px solid rgb(193 255 249 / 50%);
  background-color: rgb(193 255 249 / 8%);
  color: #c1fff9;
}

.card-warning {
  border: 1px solid rgb(255 165 0 / 50%);
  background-color: rgb(255 165 0 / 8%);
  color: var(--warning-color);
}

.card-result {
  border: 1px solid #3c3b4d;
  background-color: transparent;
}

.card-result-list {
  background-color: #2d2c3d;
}

mat-drawer {
  background-color: #242330 !important;
}

.mat-card-actions {
  background: #242230;
}

.text-subtitle {
  color: #a6a5ac;
}

.mat-expansion-panel {
  background: #353540;
  color: #fff;
}

.img-container {
  background-color: #201f28 !important;
}

.card-filter {
  background-color: #302e3d;

  .color-white {
    color: #fff;
  }
}

.bg-register {
  background-color: #181421;
  background-image: url('/assets/img/bg-energy.svg');
  bottom: 65px;
}

.color-white-flat {
  color: $white;
}

.mat-paginator-outer-container {
  background-color: transparent !important;
}

/* ========================================================================
   Table
 ========================================================================== */

th.mat-header-cell {
  background-color: #24222f !important;
  color: #ffffff !important;
}

.mat-row:nth-child(odd) {
  background-color: #2a2833 important;
}

tr.mat-row {
  border-bottom: 5px solid #24222f;
}

.mat-row:nth-child(odd) {
  background-color: #201e2b;
}

.mat-row:nth-child(even) {
  background-color: #1e1c29;
}

tr.mat-row {
  border-bottom: 5px solid #252230;
}

/* ========================================================================
   Tabs
 ========================================================================== */

.mat-tab-labels {
  background-color: #120e19;
}

.mat-tab-label {
  color: var(--nav-primary);
}

.mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #282239;
}

.mat-header-cell,
.mat-cell,
.mat-footer-cell {
  color: #fff !important;
}

.mat-tab-label-active {
  color: #ffffff;
}

.mat-row:nth-child(odd) {
  background-color: #201e2b;
}

.mat-row:nth-child(even) {
  background-color: #1e1c29;
}

/* ========================================================================
   Dialog
 ========================================================================== */

.cdk-overlay-dark-backdrop {
  background: rgba(38, 33, 51, 0.88) !important;
}

.mat-dialog-container {
  background: #2a2837;
  color: #ffffff;
}

.mat-dialog-title {
  color: #bcb1e0;
  border-bottom: 1px solid #363546;
}

.mat-dialog-container .mat-icon-button {
  color: #726690;
}

.mat-dialog-actions {
  border-top: 1px solid #272237;
}

.image-wrapper {
  border: 1px solid #353540;
}

.img-thumbnail {
  background-color: #181424;
  border: 1px solid #6e75aa;
}

.mat-divider {
  border-top-color: #d8d8d8 !important;
  opacity: 0.1;
}

.mat-step-header .mat-step-label.mat-step-label-active {
  color: #fff;
}

.header-notification-container {
  background-color: #2a2a37;
}

.account-title,
.account-name {
  color: #fff;
}

.did-wrapper {
  background-color: #231f32;
  color: #a6a5ab;

  &:hover {
    mat-icon {
      color: #33cbcb;
    }
  }
}

.mat-dialog-container .mat-icon-button:hover {
  color: var(--button-primary);
}

.mat-dialog-actions {
  border-top: 1px solid #363546 !important;
}

// Stepper

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  border: 1px solid #a467ff !important;
  color: #a467ff !important;
}

.mat-step-header .mat-step-icon-state-edit {
  color: transparent !important;
}

.mat-step-header .mat-step-icon-selected {
  background-color: #a467ff !important;
  border: 1px solid #a467ff !important;
  color: #fff !important;
}

.mat-step-header .mat-step-icon-state-edit {
  background-color: #a467ff !important;
  border: 1px solid #a467ff !important;
  color: #fff !important;
}

.mat-step-header .mat-step-icon {
  border: 1px solid #9080ba;
  background-color: transparent;
  color: #9080ba;
}

.mat-step-header .mat-step-label,
.mat-step-header .mat-step-optional {
  color: #9080ba;
}

.mat-stepper-vertical-line::before {
  border-left-color: #9080ba;
}

/* ========================================================================
   Input fields
 ========================================================================== */

.mat-form-field,
.mat-select {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.mat-option-text {
  font-size: 14px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  background: #1c1726;
  color: #52436e;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #a567ff;
}

.mat-input-element {
  color: #fff;
  caret-color: #fff;
  font-size: 14px;

  &[disabled] {
    color: rgba(255, 255, 255, 0.4);
  }
}

.mat-form-field-outline {
  background: #181522 !important;
  color: #554675;
}

.mat-select-value {
  color: #ffffff;
}

.mat-select-arrow {
  color: #4d4d4d;
}

mat-label {
  color: #fff;
}

.mat-filter-sort {
  .mat-label {
    color: #ffffff;
  }

  .mat-input-element {
    color: #fff;
  }

  .mat-form-field-outline {
    background: #181522 !important;
    color: #554675;
  }

  .mat-select-placeholder {
    color: #9080bb !important;
  }
}

// Button

.btn-primary {
  background-color: var(--button-primary);
  color: #ffffff;

  &:hover {
    background-color: #5bd6d6;
    color: #ffffff;
  }
}

.btn-color-primary {
  color: var(--button-primary);
}

.btn-connect {
  background-color: #ffffff;
  color: #000000;
}

.mat-slide-toggle-thumb {
  background-color: #bcb0df;
}

.mat-slide-toggle.mat-checked {
  .mat-slide-toggle-thumb {
    background-color: #a467ff;
  }
  .mat-slide-toggle-bar {
    background-color: rgba(164, 103, 255, 0.3);
  }
  .mat-slide-toggle-content {
    color: #fff !important;
  }
}

.mat-slide-toggle-content {
  font-size: 13px;
  color: #9080ba !important;
}

.mat-slide-toggle-bar {
  background-color: rgba(51, 46, 70, 1);
}

.mat-stroked-filter-button {
  border-color: var(--button-primary) !important;
  color: var(--button-primary) !important;

  &:hover {
    border-color: #5bd6d6 !important;
    color: #5bd6d6 !important;
  }
}

.md-search.mat-form-field .mat-input-element {
  color: #ffffff;
}

.mat-stroked-button {
  border-color: var(--button-primary) !important;
  color: var(--button-primary) !important;
  text-transform: uppercase;

  &:hover {
    border-color: #5bd6d6 !important;
    color: #5bd6d6 !important;
  }
}

.mat-stroked-table-button {
  border-color: #8677ae !important;
  color: #8677ae !important;

  &:hover {
    border-color: var(--button-primary) !important;
    color: var(--button-primary) !important;
  }
}

.mat-button-toggle-group {
  border: solid 1px var(--button-primary);
}

.mat-button-toggle {
  color: var(--button-primary) !important;
}

.mat-button-toggle-checked {
  background-color: var(--button-primary);
}

.mat-button-toggle-checked .mat-button-toggle-label-content {
  color: white;
}

.btn-color-primary {
  color: var(--button-primary) !important;
}

.btn-color-disabled {
  color: rgb(207 207 207 / 25%) !important;
}

.btn-color-error {
  color: #c82e2e !important;
}
.btn-color-success {
  color: #0fb544;
}
.btn-color-warn {
  color: #ffa500;
}

.label-role {
  color: #ffffff;
}

.btn-connect:not(:disabled):not(.disabled):active:focus,
.btn-connect :not(:disabled):not(.disabled).active:focus,
.btn-connect .show > .dropdown-toggle:focus {
  background-color: #fff;
}

.btn-connect:hover {
  box-shadow: 0 8px 20px 0 #131214 !important;
}

.mat-raised-button.mat-button-disabled.mat-button-disabled,
.mat-raised-button[disabled] {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(33, 29, 47);
}

.icon-color {
  color: #9080ba;
}

.sub-btn {
  border: 1px solid #a567ff;
  color: rgba(255, 255, 255, 1);
}

.mat-form-field:not(.mat-form-field-appearance-legacy)
  .mat-form-field-suffix
  .mat-icon-button {
  background-color: var(--button-primary);
  color: #fff;
}

.mat-select-placeholder {
  color: #9080bb !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #673ab7;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: rgba(0, 0, 0, 0.12);
  color: rgba(255, 255, 255, 0.8);
}

.mat-form-field {
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b0addc;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b0addc;
  }
}

.help-wrapper {
  .help-color {
    color: var(--nav-primary);

    &:hover {
      color: var(--nav-primary-hover);
    }
  }
}

// dashboard

.color-white {
  color: #ffffff;
}

.mat-option:nth-child(odd) {
  background: #383746;
}

.mat-option {
  color: #fff;
  background: #343242;
}

.mat-expansion-panel-header-title,
.mat-expansion-indicator::after {
  color: #9081ba !important;
}

.mat-option:hover:not(.mat-option-disabled),
.mat-option:focus:not(.mat-option-disabled) {
  background: rgba(218, 218, 218, 0.08);
}

.mat-option.mat-active {
  color: #fff;
  background: #2a2837;
}

.mat-autocomplete-panel {
  background: #2a2837;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 10px;
}

::-moz-scrollbar-thumb {
  background: var(--scrollbar);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}

::-moz-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}

.border-bottom-1 {
  border-bottom: 1px solid #3c3b4c;
}

.color-link {
  color: #b6b2e1;
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent
  .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.md-create.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background: #a567ff !important;
}

.field-list-item,
.bg-status,
.bg-type {
  background-color: #363446;
}

.bg-sub-row {
  background-color: #302e40;
}

// others

.color-info {
  color: #c1fff9;
}

.color-primary {
  color: #33cbcb !important;
}

.border-default {
  border-left: 3px solid #fff;
}

.color-default {
  color: #fff !important;
}

.border-warned {
  border-left: 3px solid #ffa500 !important;
}

.color-warned {
  color: #ffa500 !important;
}

.border-error {
  border-left: 3px solid #c82e2e !important;
}

.color-error {
  color: #c82e2e !important;
}

.border-success {
  border-left: 3px solid #0fb544 !important;
}

.color-success {
  color: #0fb544 !important;
}

.tooltip-color {
  color: #9080ba;
}

// Calendar

.mat-datepicker-content {
  background-color: #2a2937 !important;
  color: rgba(255, 255, 255, 0.87) !important;
}

.mat-calendar-body-cell-content {
  color: rgba(255, 255, 255, 0.87) !important;
}

.mat-datepicker-content .mat-calendar-next-button,
.mat-datepicker-content .mat-calendar-previous-button,
.mat-datepicker-toggle {
  color: rgba(255, 255, 255, 0.54);
}

.mat-calendar-body-label {
  color: rgba(255, 255, 255, 0.54) !important;
}

.mat-calendar-table-header-divider {
  color: rgba(255, 255, 255, 0.38) !important;
}

.mat-calendar-arrow {
  border-top-color: rgba(255, 255, 255, 0.54) !important;
}

.mat-calendar-table-header {
  color: rgba(255, 255, 255, 0.38) !important;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border-color: rgba(255, 255, 255, 0.38) !important;
}

.mat-calendar-body-selected {
  background-color: #673ab7 !important;
}

.mat-calendar-table-header-divider::after {
  background: rgba(255, 255, 255, 0.12);
}

.mat-datetimepicker-calendar-body-selected {
  background-color: #a466ff !important;
}

.text-blur {
  color: transparent;
  text-shadow: 0 0 5px rgb(255 255 255 / 50%);
}

.history-list-item {
  background-color: #363446;
}

.border-vertical {
  border-left: 1px solid #c1fff9;

  mat-icon {
    color: #c1fff9;
  }
}

//   Welcome Page

.header-enroll {
  background-color: #181524;
}

.footer-enroll {
  background-color: #382856;
  color: rgba(255, 255, 255, 0.5);
}

.welcome-bottom-footer {
  background-color: #382856;
  color: rgba(255, 255, 255, 0.5);
}

// Enrolment page

.md-enroll.btn-primary {
  color: #fff;
  background: var(--button-primary);
}

.md-enroll.mat-form-field-appearance-outline .mat-form-field-outline {
  background: rgba(255, 255, 255, 0.03);
  color: currentColor;
}

.md-enroll.mat-datepicker-content .mat-calendar-next-button,
.mat-datepicker-content .mat-calendar-previous-button,
.mat-datepicker-toggle {
  color: currentColor !important;
}

.md-enroll.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background: currentColor;
}

.md-enroll.mat-input-element {
  color: currentColor;
  caret-color: currentColor;
}

.md-enroll.mat-option.mat-selected:not(.mat-option-disabled) {
  color: #fff;
}

.mat-search_icon-close,
.mat-search_icon-search {
  color: #33cbcb;
}

.md-enroll {
  .mat-option {
    color: currentColor;
    background: currentColor;

    &:nth-child(odd) {
      background: currentColor;
    }

    .mat-active {
      background: currentColor;
    }
  }
  .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: currentColor;
  }
}

::ng-deep .md-enroll {
  .mat-select-placeholder,
  .mat-placeholder {
    color: currentColor;
  }

  .mat-select-value {
    color: currentColor;
  }

  .mat-select-arrow {
    color: currentColor;
  }

  .mat-input-element {
    color: currentColor;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: currentColor;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: currentColor;
  }
}

::ng-deep
  .mat-checkbox-disabled:not(.mat-checkbox-checked)
  .mat-checkbox-frame {
  opacity: 0.5;
  border-color: currentColor;
}

::ng-deep .mat-checkbox-disabled .mat-checkbox-label {
  color: currentColor;
  opacity: 0.3;
}

// pop up/message

.swal-overlay {
  background-color: rgba(66, 59, 90, 0.28);
}

.swal-modal {
  background-color: #2a2837;
}

.swal-title {
  color: #fff;
}

.swal-button {
  &:not([disabled]):hover {
    background-color: #289b9b;
    border: 1px solid #289b9b;
  }

  .swal-button--cancel {
    &:not([disabled]):hover {
      border: 1px solid #289b9b;
      color: #289b9b;
    }
  }

  .swal-button--confirm {
    &:not([disabled]):hover {
      background-color: #289b9b;
    }
  }
}

.swal-button.swal-button--viewMyEnrolments,
.swal-button--enrolForAsset {
  color: #fff !important;
  background-color: var(--button-primary);
  border: 1px solid var(--button-primary);

  &:hover {
    background-color: #289b9b;
    border: 1px solid #289b9b;
  }
}

.swal-icon--success__line,
.swal-icon--success__line--long {
  background-color: #a467ff;
}

.swal-icon--warning__body,
.swal-icon--warning__dot {
  background-color: #ffa500;
}

.swal-text {
  color: rgba(255, 255, 255, 0.8) !important;
}

.swal-icon--success:after,
.swal-icon--success:before {
  background: #2a2837;
}

.swal-icon--success__hide-corners {
  background: #2a2837;
}

.swal-button--cancel {
  color: var(--button-primary);
  border: 1px solid var(--button-primary);
  background-color: transparent;
}
.swal-button--confirm {
  background-color: var(--button-primary);
  color: #fff;
  border: 1px solid var(--button-primary);
}

.swal-footer {
  border-top: 1px solid #363546 !important;
}

.swal-overlay {
  background-color: rgba(16, 14, 22, 0.9) !important;
}

// Preloader
.preloader-progress-bar {
  background: url('/assets/img/preloader/preloader.empty.png') no-repeat;
}

.preloader-progress {
  width: 200px;
  height: 65.5px;
  background-size: 200px 65.5px;
}

.preloader-progress-bar {
  background: url('/assets/img/preloader/preloader.full.png') no-repeat;
  width: 200px;
  height: 65.5px;
  background-size: 200px 65.5px;
}
