// Preloader
.preloader {
  background-color: var(--preloader-bg);
  background-image: -webkit-linear-gradient(
    90deg,
    var(--preloader-bg) 10%,
    var(--preloader-bg-darker) 90%
  ); /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(
    90deg,
    var(--preloader-bg) 10%,
    var(--preloader-bg-darker) 90%
  ); /* FF3.6+ */
  background-image: -ms-linear-gradient(
    90deg,
    var(--preloader-bg) 10%,
    var(--preloader-bg-darker) 90%
  ); /* IE10 */
  background-image: -o-linear-gradient(
    90deg,
    var(--preloader-bg) 10%,
    var(--preloader-bg-darker) 90%
  ); /* Opera 11.10+ */
  background-image: linear-gradient(
    90deg,
    var(--preloader-bg) 10%,
    var(--preloader-bg-darker) 90%
  ); /* W3C */
}
