// Stedin Theme

// Bootstrap
@import "../bootstrap/functions";
@import "../bootstrap/variables";
@import "../bootstrap/mixins";
@import '../app/variables';
@import '../app/material/colors';

// VARIABLES
:root {
    --loader-color: #FFD100;
}
// Cutoms Gray colors for theme
$stedin-gray:           #4D4D4D;
$stedin-gray-light:     #97999B;
$stedin-gray-lighter:   #EAEAEA;
$stedin-gray-ultralight:#F0F0F0;

// Custom brand colors for theme
$stedin-yellow: #FFD100;
$stedin-yellow-light: #FFE053;

$stedin-blue: #62B5E5;
$stedin-orange: #FF9614;
$stedin-violet: #009688;
$stedin-green: #BFB800;
$stedin-purple: #BB76CF;
$stedin-red: #EB5764;
$white: #FFFFFF;


// LAYOUT

$content-bg: $stedin-gray-ultralight;
$aside-bg: $stedin-gray-ultralight;

// NAVBAR TOP

$nav-top-bg: $stedin-gray-light;
$nav-top-bg-start:              $nav-top-bg;
$nav-top-bg-end:                $nav-top-bg;
$nav-header-bg:                 transparent;

$nav-top-item:                  $white;
$nav-top-item-active:           darken($white, 60%);

// SIDEBAR

$sidebar-bg:                      $aside-bg;

$sidebar-item-color:              #515253;
$sidebar-item-color-active:       $nav-top-bg;
$sidebar-item-bg-active:          darken($sidebar-bg, 3%);

$sidebar-icon-color:              inherits;
$sidebar-icon-color-active:       $nav-top-bg;
$sidebar-icon-color-inactive:     #9080BA;

$sidebar-bullet-color:            rgba(0,0,0,.25);
$sidebar-bullet-color-active:     $sidebar-icon-color-active;

$sidebar-heading-color:           #919DA8;
$sidebar-label-color:             $sidebar-item-color;

// OFFSIDEBAR

$offsidebar-bg:           $white;
$offsidebar-border-color: greyscale(darken($offsidebar-bg, 20%));
$offsidebar-color:        $body-color;


/* ========================================================================
   Component: layout
 ========================================================================== */
body, .wrapper .section-container {
    background-color: $content-bg;
}

.wrapper .aside-container {
    background-color: $aside-bg;
}

a {
    color: $stedin-gray;

    &:hover {
        color: $stedin-blue;
    }
}

/* ========================================================================
   Component: top-navbar
 ========================================================================== */
.topnavbar {
    background-color: $stedin-gray-ultralight;

    @include media-breakpoint-up(lg) {
        border-bottom: 1px solid #ffffff08;
        .navbar-nav > .nav-item.show > .nav-link {
            &, &:hover, &:focus {
                box-shadow: 0 -3px 0 transparent inset;
            }
        }
    }


    .navbar-nav > .nav-item > .navbar-text {
        color: $nav-top-item;
    }

    .navbar-nav > .nav-item > .nav-link,
    .navbar-nav > .nav-item.show > .nav-link {
        color: $stedin-gray;
        &:hover, &:focus {
            color: $stedin-blue;
        }
    }

    .navbar-nav>.nav-item {
        padding: 12px 0;
    }

    .navbar-nav>.nav-item.active {
        background-color: transparent;
        &,
        &:hover,
        &:focus {
            color: $stedin-yellow;
            background-color: transparent;
        }

        @include media-breakpoint-up(lg) {
            border-bottom: 2px solid $stedin-yellow;
        }
        @include media-breakpoint-down(sm) {
            border-top: 1px solid $stedin-yellow;
        }
    }

    .dropdown-item.active, .dropdown-item:active {
        background-color: $nav-top-bg;
    }
}

.header-notification-container,.list-group-item {
    background-color: $white;
}

.list-group-item-action:hover {
    background-color: $white;
}

.img-dashboard, .link-footer {
    filter: grayscale(1);
}

.logo-wrapper {
    background: url("/assets/img/stedin-logo.png") no-repeat;
    margin: 0 auto;
    width: 110px;
    max-width: 100%;
    height: 40.625px;
    margin-top: 22px;
}
.position-brand {
    .welcome-header-logo {
        background: url("/assets/img/stedin-logo.png") no-repeat;
        height: 44px;
        width: 174px;
        background-size: contain;
    }
}

.header-logo {
    background: url("/assets/img/stedin-logo.png") no-repeat;
    width: 150px;
    height: 30px;
    background-size: 150px 30px;
}

/* ========================================================================
   Component: sidebar
 ========================================================================== */
.sidebar {
    background-color: $sidebar-bg;

    .nav-heading {
        color: $sidebar-heading-color;
    }
}

// Items
.sidebar-nav {
    > li {
        > a, > .nav-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $sidebar-icon-color-inactive;

            &:focus, &:hover {
                color: $sidebar-item-color;
            }

            // Item icon
            > em {
                color: $sidebar-icon-color;
            }

        }

        // Active item state
        &.active, &.open {
            &, > a, > .nav-item, .sidebar-nav {
                background-color: $sidebar-item-bg-active;
                color: $sidebar-item-color;
            }

            > .nav-item > em, > a > em {
                color: $sidebar-item-color;
            }

        }

        &.active {
            border-left-color: $sidebar-item-color;
        }

    }

}

.mat-menu-panel {
    background: $white;
}

.account-title, .account-name {
    color: $stedin-gray;
}

.did-wrapper {
    background-color: #D6D6D6;
    color: #4B4B4B;
    &:hover {
        mat-icon {
          color: #4B4B4B;
        }
      }
}
    ul.menu-top {
        background-color: $stedin-gray-ultralight;
    }


.sidebar-subnav {
    background-color: $sidebar-bg;

    > .sidebar-subnav-header {
        color: $sidebar-item-color;
    }

    > li {
        > a, > .nav-item {
            color: $sidebar-item-color;

            &:focus, &:hover {
                color: $sidebar-item-color;
            }

        }

        &.active {
            > a, > .nav-item {
                color: $sidebar-icon-color-active;

                &:after {
                    border-color: $sidebar-bullet-color-active;
                    background-color: $sidebar-bullet-color-active;
                }

            }

        }

    }

}


/* ========================================================================
   Cards
 ========================================================================== */

 .card-register {
    color: $stedin-gray !important;
    &::after {
        content: "";
        background: $stedin-gray-ultralight;
        background-image: none;
        border: 1px solid transparent;
    }
}

.card-default {
    background-color: $white !important;

    .card-header {
        background-color: $white !important;
    }
}

.card-icon {
    background: $white;
    border: 1px solid transparent;
    &:hover {
      background: $stedin-yellow;
      border: 1px solid transparent;
    }
  }

.card-icon-disabled {
    background: $stedin-gray-lighter;
    border: 1px solid transparent;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
}

.card-search-body {
    background-color: $white;
    color: $stedin-gray;
}

mat-drawer {
    background-color: $white !important;
}

.staking-card, .mat-card-actions {
    background: $white;
}

.text-subtitle {
    color: $stedin-gray-light;
}

.mat-expansion-panel {
    background: $white;
    color: $stedin-gray;
}

.img-container {
    background-color: $white !important;
}

.card-filter {
    background-color: $white;
    .color-white {
      color: #000000;
    }
}

.bg-register {
    background-color: $white;
    background-image: none;
    bottom: 0;
}

.color-white-flat {
    color: $stedin-gray;
}

.mat-paginator-outer-container {
    background-color: transparent !important;
}

.card-hint {
    border: 1px solid $stedin-gray;
    background-color: $stedin-gray-ultralight;
    color: $stedin-gray;
}

.card-success {
    border: 1px solid $stedin-green;
    background-color: lighten($stedin-green, 60%);
    color: $stedin-green;
}

.card-info {
    border: 1px solid $stedin-blue;
    background-color: lighten($stedin-blue, 30%);
    color: $stedin-blue;
}

.card-warning {
    border: 1px solid $stedin-orange;
    background-color: lighten($stedin-orange, 60%);
    color: $stedin-orange;
}

.card-result {
    border: 1px solid $stedin-gray;
    background-color: transparent;
}

.card-result-list {
    background-color: #2d2c3d;
}

/* ========================================================================
   Table
 ========================================================================== */

 th.mat-header-cell {
    background-color: $white!important;
    color: $stedin-gray !important;
 }

.mat-row:nth-child(odd){
    background-color: $white important;
}

tr.mat-row {
    border-bottom: 5px solid #24222F;
}

.mat-row:nth-child(odd){
    background-color: #F8F8F8;
}

.mat-row:nth-child(even){
    background-color: $white;
}

tr.mat-row {
    border-bottom: 5px solid $white;
}

/* ========================================================================
   Tabs
 ========================================================================== */

.mat-tab-labels {
    background-color: #DEDEDE;
}

.mat-tab-label {
    color: $stedin-gray-light;
}

.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: $white;
}

.mat-header-cell, .mat-cell, .mat-footer-cell {
    color: $stedin-gray !important;
}

.mat-tab-label-active {
    color: $stedin-gray;
}

/* ========================================================================
   Dialog
 ========================================================================== */

.cdk-overlay-dark-backdrop {
    background: rgba(255,255,255,0.70) !important;
}

.mat-dialog-container {
    background: $white;
    color: $stedin-gray;
}

.mat-dialog-title {
    color: $stedin-gray;
    border-bottom: 1px solid #DFDFDF;
}

.mat-dialog-container .mat-icon-button {
    color: $stedin-gray;
}

.mat-dialog-actions {
    border-top: 1px solid #272237;
}

.image-wrapper {
    border: 1px solid $white;
}

.img-thumbnail {
    background-color: $stedin-gray-ultralight;
    border: $thumbnail-border-width solid $stedin-gray-light;
}

.mat-divider {
    border-top-color: #000000 !important;
    opacity: 0.1;
}

.mat-step-header .mat-step-label.mat-step-label-active {
    color: $stedin-gray;
}

.header-notification-container {
    background-color: $white;
}

.mat-dialog-container .mat-icon-button:hover {
    color: $stedin-yellow;
}

.mat-dialog-actions {
    border-top: 1px solid #363546 !important;
}

// Stepper

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    border: 1px solid $stedin-yellow !important;
    color: $stedin-yellow !important;
}

.mat-step-header .mat-step-icon-state-edit {
    color: transparent !important;
}

.mat-step-header .mat-step-icon-selected {
    background-color: $stedin-yellow!important;
    border: 1px solid $stedin-yellow !important;
    color: $stedin-gray !important;
}

.mat-step-header .mat-step-icon-state-edit {
    background-color: $stedin-yellow!important;
    border: 1px solid $stedin-yellow !important;
    color: $stedin-gray !important;
}

.mat-step-header .mat-step-icon {
    border: 1px solid $stedin-gray;
    background-color: transparent;
    color: $stedin-gray;
}

.mat-step-header .mat-step-label, .mat-step-header .mat-step-optional {
    color: $stedin-gray;
}

.mat-stepper-vertical-line::before {
    border-left-color: $stedin-gray;
}

/* ========================================================================
   Input fields
 ========================================================================== */

.mat-form-field, .mat-select {
    font-family: 'Source Sans Pro', sans-serif !important;
  }

.mat-option-text {
    font-size: 14px;
}

.mat-form-field {
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #B0ADDC;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #B0ADDC;
    }

  }

.mat-form-field-appearance-outline .mat-form-field-outline {
    background: $white;
    color: $stedin-gray-light;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $stedin-gray;
}

.mat-input-element {
    color: $white;
    font-size: 14px;
}

.mat-form-field-outline {
    background: $white !important;
    color: $stedin-gray;
}

.mat-form-field {
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $stedin-gray-light;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $stedin-gray-light;
    }

}

.mat-select-value {
    color: $stedin-gray;
}

.mat-select-arrow {
    color: $stedin-gray;
}

.btn-primary {
    background-color: $stedin-yellow;
    color: $stedin-gray;

    &:hover {
        background-color: $stedin-yellow;
        color: $stedin-gray;
    }
}

.btn-connect {
    background-color: $white;
    color: $stedin-gray;
}

.mat-input-element {
    color: $stedin-gray;
    caret-color: $stedin-gray;
}

.md-search.mat-form-field .mat-input-element {
    color: #000000;
}

mat-label {
    color: $stedin-gray;
}

.border-bottom-1 {
    border-bottom: 1px solid transparent;
}

.color-link {
    color: $stedin-gray;
}

.mat-filter-sort {
    .mat-label {
        color: $stedin-gray;
    }

    .mat-input-element {
        color: $stedin-gray;
    }

    .mat-form-field-outline {
        background: $white !important;
        color: $stedin-gray;
    }

    .mat-select-placeholder {
        color: $stedin-gray !important;
    }
}

// Button

.btn-color-primary {
    color: $stedin-gray;
}

.mat-stroked-button {
    border-color: $stedin-gray !important;
    color: $stedin-gray !important;
    text-transform: uppercase;

    &:hover {
        border-color: #000000 !important;
        color: #000000 !important;
    }
}

.btn-color-primary {
    color: $stedin-gray !important;
}

.mat-stroked-filter-button {
    border-color: $stedin-gray !important;
    color: $stedin-gray !important;

    &:hover {
        border-color: $stedin-blue !important;
        color: $stedin-blue !important;
    }
}

.mat-stroked-table-button {
    border-color: $stedin-gray !important;
    color: $stedin-gray !important;

    &:hover {
        border-color: $stedin-blue !important;
        color: $stedin-blue !important;
    }
}

.mat-button-toggle-group {
    border: solid 1px transparent;
}

.mat-button-toggle {
    color: $stedin-gray!important;
}

.mat-button-toggle-checked {
    background-color: $stedin-yellow;
}

.mat-button-toggle-checked .mat-button-toggle-label-content {
    color: $stedin-gray;
}

.btn-color-disabled {
    color: rgb(75 75 75 / 25%) !important;
}

.btn-color-error {
    color: $stedin-red !important;
}
.btn-color-success {
    color: $stedin-green;
}
.btn-color-warn {
    color: $stedin-orange;
}

.label-role {
    color: $white;
}

.btn-connect:not(:disabled):not(.disabled):active:focus, .btn-connect :not(:disabled):not(.disabled).active:focus, .btn-connect .show > .dropdown-toggle:focus {
    background-color: #FFF;
}

.btn-connect:hover {
    box-shadow: 0 8px 20px 0 #d9d9d9 !important;
}

.icon-color {
    color: $stedin-gray;
}

.sub-btn {
    border: 1px solid $stedin-blue;
    color: $stedin-gray;
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    background-color: $stedin-gray-ultralight;
    color: $stedin-gray;
}

.mat-select-placeholder {
    color: $stedin-gray !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $stedin-gray;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: $stedin-gray-ultralight;
    color: $stedin-gray-light;
}

// Dashboard

.assets-icon, .governance-icon, .enrolments-icon, .applications-icon, .stake-icon {
    background-size: contain;
    width: 72;
    height: 70px;
}

.assets-icon {
    background: url("/assets/img/icons/stedin-icons/assets-icon-stroked.png") no-repeat;
}

.governance-icon {
    background: url("/assets/img/icons/stedin-icons/governance-icon-stroked.png") no-repeat;
}

.enrolments-icon {
    background: url("/assets/img/icons/stedin-icons/enrollment-icon-stroked.png") no-repeat;
}

.applications-icon {
    background: url("/assets/img/icons/stedin-icons/applications-icon-stroked.png") no-repeat;
}

.stake-icon {
    background: url("/assets/img/icons/stedin-icons/stake-icon-stroked.svg") no-repeat;
}

.color-white {
    color: $stedin-gray;
}

.mat-option:nth-child(odd) {
    background: $stedin-gray-light;;
}

.mat-option {
    color: $stedin-gray;
    background: $white;
}

.mat-expansion-panel-header-title, .mat-expansion-indicator::after {
    color: $stedin-gray !important;
  }

.mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
    background: rgb(215,215,215);
}

.mat-option.mat-active {
    color: #000000;
    background: rgb(215,215,215);
  }

.mat-autocomplete-panel {
    background: #f7f7f7;
  }

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7E7E7E;
    border-radius: 10px;
}

::-moz-scrollbar-thumb {
    background: #7E7E7E;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #646363;
}

::-moz-scrollbar-thumb:hover {
    background: #646363;
}

// others

.color-info {
    color: $stedin-blue;
}

.color-primary {
    color: $stedin-gray!important;
}

.border-default {
    border-left: 3px solid $stedin-gray;
  }

.color-default {
    color: $stedin-gray !important;
}

.border-warned {
    border-left: 3px solid $stedin-orange !important;
}

.color-warned {
    color: $stedin-orange !important;
}

.border-error {
    border-left: 3px solid $stedin-red !important;
}

.color-error {
    color: $stedin-red !important;
}

.border-success {
    border-left: 3px solid $stedin-green !important;
}

.color-success {
    color: $stedin-green !important;
}

.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element, .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.md-create.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background: $stedin-yellow !important;
}

.field-list-item {
    background-color: $stedin-gray-ultralight;
}

.bg-sub-row, .bg-status, .bg-type {
    background-color: $white;
}

.tooltip-color {
    color:$stedin-blue;
}

// Calendar

.mat-datepicker-content {
    background-color: $white !important;
    color: $stedin-gray !important;
  }

.mat-calendar-body-cell-content {
    color: $stedin-gray !important;
  }

.mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button, .mat-datepicker-toggle {
    color: $stedin-gray;
  }

.mat-calendar-body-label {
    color: $stedin-gray !important;
  }

.mat-calendar-table-header-divider {
    color: $stedin-gray !important;
  }

.mat-calendar-arrow {
    border-top-color: $stedin-gray !important;
  }

.mat-calendar-table-header {
    color: $stedin-gray !important;
  }

.mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: $stedin-gray !important;
  }

.mat-calendar-body-selected {
    background-color: $stedin-yellow !important;
  }

.mat-calendar-table-header-divider::after {
    background: $stedin-gray-light;
  }

  .mat-datetimepicker-calendar-body-selected {
    background-color: $stedin-yellow !important;
}

.text-blur {
    color: transparent;
    text-shadow: 0 0 5px rgb(0 0 0 / 50%);
}

.history-list-item {
    background-color: $stedin-gray-ultralight;
}

.border-vertical {
    border-left: 1px solid $stedin-gray;

    mat-icon {
      color: $stedin-gray;
    }
  }

//   Welcome Page

.header-enroll {
    background-color: $stedin-gray-ultralight;
}

.footer-enroll {
    background-color: $white;
    color: $stedin-gray;
}

.welcome-bottom-footer {
    background-color: $white;
    color: $stedin-gray;
}

.help-wrapper {
    .help-color {
        color: $stedin-gray;

        &:hover {
            color: $stedin-blue;
        }
    }
}

// enrolment page

.md-enroll.btn-primary {
    color:$stedin-gray;
    background: $stedin-yellow;
}

.md-enroll.mat-form-field-appearance-outline .mat-form-field-outline {
    background: rgba(255,255,255,0.03);
    color: $stedin-gray;
}

.md-enroll.mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button, .mat-datepicker-toggle {
  color: $stedin-gray !important;
}

.md-enroll.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background: $stedin-yellow
}

.md-enroll.mat-input-element {
color: $stedin-gray;
caret-color: $stedin-gray;
}

.md-enroll.mat-option.mat-selected:not(.mat-option-disabled) {
color: $stedin-gray;
}

.mat-search_icon-close, .mat-search_icon-search {
color: $stedin-gray;
}


.md-enroll {
.mat-option {
  color: $stedin-gray;
  background: $white;

  &:nth-child(odd) {
    background: $stedin-gray-ultralight;
  }

  .mat-active {
    background: $stedin-gray-light;
  }
}
    .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
        color: $stedin-gray;
    }
}

::ng-deep .md-enroll {

    .mat-select-placeholder, .mat-placeholder {
      color: $stedin-gray-light;
    }

    .mat-select-value {
      color: $stedin-gray;
    }

    .mat-select-arrow {
      color: $stedin-gray;
    }

    .mat-input-element {
      color: $stedin-gray;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $stedin-gray;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $stedin-gray;
    }

}

::ng-deep .mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame {
    opacity: 0.5;
    border-color: currentColor;
  }

::ng-deep .mat-checkbox-disabled .mat-checkbox-label {
    color: currentColor;
    opacity: 0.3;
  }

// pop up/message

.swal-overlay {
    background-color: rgba(255, 255, 255, 0.70);
}

.swal-modal {
    background-color: $white;
}

.swal-title {
    color: $stedin-gray;
}

.swal-button {
    &:not([disabled]):hover {
        background-color: $stedin-yellow;
        border: 1px solid $stedin-yellow;
    }

    .swal-button--cancel {
        &:not([disabled]):hover {
            border: 1px solid $stedin-gray;
            color: $stedin-gray;
        }
    }

    .swal-button--confirm {
        &:not([disabled]):hover {
            background-color: $stedin-yellow-light;
        }
    }
}

.swal-button.swal-button--viewMyEnrolments, .swal-button--enrolForAsset {
    color: #FFF !important;
    background-color: $stedin-yellow;
    border: 1px solid $stedin-yellow;

    &:hover {
        background-color: $stedin-yellow-light;
        border: 1px solid $stedin-yellow-light;
    }
}

.swal-icon--success__line, .swal-icon--success__line--long {
    background-color: $stedin-green;
}

.swal-icon--warning__body, .swal-icon--warning__dot {
    background-color: $stedin-orange;
}

.swal-text {
    color: $stedin-gray-light !important;
}

.swal-icon--success:after, .swal-icon--success:before {
    background: $white;
}

.swal-icon--success__hide-corners {
    background: $white;
}

.swal-button--cancel {
    color: $stedin-gray;
    border: 1px solid $stedin-gray;
    background-color: transparent;
}
.swal-button--confirm {
    background-color: $stedin-yellow;
    color: $stedin-gray;
    border: 1px solid $stedin-yellow;
}

.swal-footer {
    border-top: 1px solid $stedin-gray-lighter !important;
}

.swal-overlay {
    background-color: rgba(255, 255, 255, 0.70) !important;
}

// Text Editor


    .editor {
      border: 1px solid $stedin-gray-light;

        &:focus-within {
        border: 1px solid $stedin-gray;
      }

        .NgxEditor {
        background: $white;
        color: $stedin-gray;
        border: 1px solid $stedin-gray;

        &__Placeholder::before {
          color: $stedin-gray-light;
        }

        &__Popup {
          color: $stedin-gray;
          background: $white;
        }

            &__MenuBar {
          border-bottom: 1px solid $stedin-gray-lighter;
          color: $stedin-gray;
          background: $white;
        }

            &__MenuItem {
          background-color: $white;

                svg {
            fill: $stedin-gray;
          }

                &:hover {
            background-color: $stedin-gray-light;

                    svg {
              fill: $stedin-gray;
            }
          }

                &.NgxEditor__MenuItem--Active {
            background-color: #1C1726;

                    svg {
              fill: $stedin-gray;
            }
          }

            }
      }

        .CodeMirror {
        border: 1px solid $stedin-gray;

      }
    }

// Preloader
.preloader {
    background-color: $stedin-yellow;
    background-image: -webkit-linear-gradient(90deg, $stedin-yellow 10%, darken($stedin-yellow, 5%) 90%); /* Chrome 10+, Saf5.1+ */
    background-image: -moz-linear-gradient(90deg, $stedin-yellow 10%, darken($stedin-yellow, 5%) 90%); /* FF3.6+ */
    background-image: -ms-linear-gradient(90deg, $stedin-yellow 10%, darken($stedin-yellow, 5%) 90%); /* IE10 */
    background-image: -o-linear-gradient(90deg, $stedin-yellow 10%, darken($stedin-yellow, 5%) 90%); /* Opera 11.10+ */
    background-image: linear-gradient(90deg, $stedin-yellow 10%, darken($stedin-yellow, 5%) 90%); /* W3C */
}

.preloader-progress {
    background: url("/assets/img/preloader/stedin-preloader.empty.png") no-repeat;
    width: 200px;
    height: 37.5px;
    background-size: 200px 37.5px;
}

  /*@noflip*/
.preloader-progress-bar {
    background: url("/assets/img/preloader/stedin-preloader.full.png") no-repeat;
    width: 200px;
    height: 37.5px;
    background-size: 200px 37.5px;
}
