// Bootstrap
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '../app/variables';
@import '../app/material/colors';

// LAYOUT

$content-bg: #1e223e;
$aside-bg: #1e223e;

// NAVBAR TOP

$nav-top-bg: #1e223e;
$nav-top-bg-start: $nav-top-bg;
$nav-top-bg-end: $nav-top-bg;
$nav-header-bg: transparent;

$nav-top-item: #fff;
$nav-top-item-active: darken(#fff, 60%);

// SIDEBAR

$sidebar-bg: $aside-bg;

$sidebar-item-color: #fff;
$sidebar-item-color-active: $nav-top-bg;
$sidebar-item-bg-active: darken($sidebar-bg, 3%);

$sidebar-icon-color: inherits;
$sidebar-icon-color-active: $nav-top-bg;
$sidebar-icon-color-inactive: #6e76aa;

$sidebar-bullet-color: rgba(0, 0, 0, 0.25);
$sidebar-bullet-color-active: $sidebar-icon-color-active;

$sidebar-heading-color: #919da8;
$sidebar-label-color: $sidebar-item-color;

// OFFSIDEBAR

$offsidebar-bg: #fff;
$offsidebar-border-color: greyscale(darken($offsidebar-bg, 20%));
$offsidebar-color: $body-color;

/* ========================================================================
   Component: layout
 ========================================================================== */
body,
.wrapper .section-container {
  background-color: $content-bg;
}

.wrapper .aside-container {
  background-color: $aside-bg;
}

/* ========================================================================
   Component: top-navbar
 ========================================================================== */
.topnavbar {
  background-color: $nav-top-bg;

  @include media-breakpoint-up(lg) {
    .navbar-nav > .nav-item.show > .nav-link {
      &,
      &:hover,
      &:focus {
        box-shadow: 0 -3px 0 darken($nav-top-bg, 6%) inset;
      }
    }
  }

  .navbar-nav > .nav-item > .navbar-text {
    color: $nav-top-item;
  }

  .navbar-nav > .nav-item > .nav-link,
  .navbar-nav > .nav-item.show > .nav-link {
    color: $nav-top-item;
    &:hover,
    &:focus {
      color: $nav-top-item-active;
    }
  }

  .dropdown-item.active,
  .dropdown-item:active {
    background-color: $nav-top-bg;
  }
}

/* ========================================================================
   Component: sidebar
 ========================================================================== */
.sidebar {
  background-color: $sidebar-bg;

  .nav-heading {
    color: $sidebar-heading-color;
  }
}

// Items
.sidebar-nav {
  > li {
    > a,
    > .nav-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $sidebar-icon-color-inactive;

      &:focus,
      &:hover {
        color: $sidebar-item-color;
      }

      // Item icon
      > em {
        color: $sidebar-icon-color;
      }
    }

    // Active item state
    &.active,
    &.open {
      &,
      > a,
      > .nav-item,
      .sidebar-nav {
        background-color: $sidebar-item-bg-active;
        color: $sidebar-item-color;
      }

      > .nav-item > em,
      > a > em {
        color: $sidebar-item-color;
      }
    }

    &.active {
      border-left-color: $sidebar-item-color;
    }
  }
}

.logo-wrapper {
  background: url('/assets/img/ew-flex-logo.png') no-repeat;
  margin: 0 auto;
  width: 100px;
  max-width: 100%;
  height: 19.625px;
}

.mat-menu-panel {
  background: #12162e;
}

.sidebar-subnav {
  background-color: $sidebar-bg;

  > .sidebar-subnav-header {
    color: $sidebar-item-color;
  }

  > li {
    > a,
    > .nav-item {
      color: $sidebar-icon-color-inactive;

      &:focus,
      &:hover {
        color: $sidebar-item-color;
      }
    }

    &.active {
      > a,
      > .nav-item {
        color: $sidebar-icon-color-active;

        &:after {
          border-color: $sidebar-bullet-color-active;
          background-color: $sidebar-bullet-color-active;
        }
      }
    }
  }
}
