<div class="d-flex flex-column staking-widget py-3 p-5">
    <div class="row">
        <div class="col-12 col-lg-5 color-white">
            <h3>Stake</h3>
            <div class="staking-widget-xs-label color-white mb-2">Your account balance</div>
            <h3 class="mb-0 color-white">
                <ng-container *ngIf="(balance$ | async) as balance">{{balance | lastDigits}}</ng-container>
                <span class="staking-currency ml-2">VT</span></h3>
        </div>
        <div class="col-12 col-lg-7 pt-3 pt-lg-0">
            <mat-form-field class="staking-textfield" appearance="outline">
                <mat-label class="ml-3 pl-1">VT Stake Amount</mat-label>
                <input matInput class="amount-input" [formControl]="amountToStake" autocomplete="off" type="number"
                       [max]="tokenAmount" maxlength="256" (focus)="inputFocused = true"
                       (keydown)="inputChangeHandler()"/>
                <div matSuffix class="d-flex" *ngIf="inputFocused">
                    <button mat-icon-button class="bg-transparent" (click)="clear($event)">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <mat-error *ngIf="amountToStake.hasError('min')">Minimum value is 0</mat-error>
                <mat-error *ngIf="amountToStake.hasError('required')">This field is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <app-percent-buttons #percentButtons (percent)="calcStakeAmount($event)">
            </app-percent-buttons>
            <div class="mt-4 d-flex justify-content-between color-grey payment-details">
                <div class="info">
                    Reward payment interval
                </div>
                <div class="color-white">
                    Daily
                </div>
            </div>
            <div class="mt-1 d-flex justify-content-between payment-details color-grey">
                <div class="info">
                    Estimated daily reward
                </div>
                <div class="color-white"
                     matTooltip="0.0270% per day yields 10.355% per year when compounded daily or 9.855% per year not compounded."
                     matTooltipPosition="below">
                    0.03%
                </div>
            </div>
            <div class="mt-4 color-grey">
                By clicking "STAKE", you agree to the <span class="highlight">Terms & Conditions</span>.
            </div>
            <div class="mt-2 d-flex justify-content-end align-items-center color-white">
                <!-- <mat-slide-toggle [formControl]="compound" class="slide-toggle">Compound</mat-slide-toggle> -->
                <button mat-raised-button class="stake-btn color-white text-uppercase"
                        [disabled]="(isStakingDisabled$ | async) || isAmountInvalid()" (click)="stake()">
                    Stake
                </button>
            </div>
        </div>
    </div>
    <div>
        <app-divider></app-divider>
        <div class="mt-3 d-flex justify-content-between align-items-center color-white">
            <div>
                <div class="staking-widget-xs-label highlight mb-2">
                    Earned reward
                </div>
                <h3 class="mb-0 color-white">
                    <ng-container *ngIf="(earnedReward$ | async) as earnedReward">
                        {{earnedReward | lastDigits: 6}}
                    </ng-container>
                    <span class="staking-currency">VT</span>
                </h3>
            </div>
        </div>
        <div class="mt-3 d-flex justify-content-between align-items-center color-white">
            <div>
                <div class="staking-widget-xs-label color-white mb-2">
                    Currently staking
                </div>
                <h3 class="mb-0 color-white">
                    <ng-container *ngIf="(stakeAmount$ | async) as stakeAmount">
                        {{stakeAmount | lastDigits}}
                    </ng-container>
                    <span class="staking-currency">VT</span>
                </h3>
            </div>
            <div class="d-flex justify-content-end">
                <button mat-raised-button class="stake-btn color-white text-uppercase"
                        [disabled]="isWithdrawDisabled$ | async"
                        (click)="withdraw()">Withdraw
                </button>
            </div>
        </div>
    </div>
</div>
