<mat-card>
    <mat-card-header class="card-header">
        <div>
            <mat-card-title class="color-white-flat">{{organization}}</mat-card-title>
            <mat-card-subtitle class="text-subtitle">Provider Since {{providerDate}}</mat-card-subtitle>
        </div>
        <img src="/assets/img/{{organizationImage}}" ngs class="card-header-image img-fluid" alt="card header" />
    </mat-card-header>

    <mat-card-content>
        <p class="color-white-flat stake-amount">
          {{stakeAmount}} <span class="text-subtitle">EWT</span>
        </p>
        <span class="text-subtitle patrons">Accepting Patrons <i class="fas fa-check"></i></span>

        <div class="card-progress" [ngClass]="getStakeRatingClass()">
            <span>{{getStakeRatingText()}}</span>
            <mat-progress-bar color="0FB544" mode="determinate" [value]="stakeRating"></mat-progress-bar>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <span class="text-subtitle">Active Services <span class="color-white-flat ml-2 action-count">{{activeServices}}</span></span>
        <span class="text-subtitle">Number of Nodes <span class="color-white-flat ml-2 action-count">{{numberOfNodes}}</span></span>
    </mat-card-actions>
</mat-card>
