<h4 mat-dialog-title class="mb-0 d-flex justify-content-between align-items-center">
  Create VC
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</h4>

<div mat-dialog-content>
  <div class="mb-2 mt-4 mx-4 mx-lg-4">
    <form role="form" [formGroup]="form">
      <div class="row">
        <div class="col-lg-12">
          <mat-label class="ml-3 pl-1">DID</mat-label>
          <mat-form-field class="mt-2" appearance="outline">
            <input matInput formControlName="did" placeholder="DID" maxlength="256"
                   data-qa-id="issue-did"
                   required autocomplete="off">
            <button matSuffix mat-icon-button aria-label="Scan DID" appQrCodeScanner
                    (scannedValue)="scannedValue($event)">
              <mat-icon>qr_code_2</mat-icon>
            </button>
            <mat-error *ngIf="getControl('did').hasError('required')">DID is <strong>required</strong></mat-error>
            <mat-error *ngIf="getControl('did').hasError('invalidDid')">DID format is invalid</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <mat-label class="ml-3 pl-1">Name</mat-label>
          <mat-form-field class="mt-2" appearance="outline">
            <input matInput formControlName="name" placeholder="Name" maxlength="256"
                   data-qa-id="name"
                   required autocomplete="off">
            <mat-error *ngIf="getControl('name').hasError('required')">Name is <strong>required</strong></mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- Data Text fields -->
      <div class="mb-3">
        <mat-label class="ml-3 pl-1 mb-3">Set Fields</mat-label>
      </div>
      <app-role-field [dataSource]="dataSource" (updateData)="dataSourceChangeHandler($event)"></app-role-field>
    </form>
  </div>

  <div mat-dialog-actions class="d-flex justify-content-center" style="border-top: 0;">
    <button mat-raised-button class="btn btn-primary w-100" type="submit" [disabled]="isFormDisabled()"
            (click)="create()">
      Create
    </button>
  </div>
</div>
