<div class="d-flex justify-content-center align-items-center flex-column stake-success-container">
  <img src="../../../../assets/img/staking/staking-success-image.png" width="336px" height="223px">
  <h3 class="mt-4 mb-3">Congratulations!</h3>
  <p class="text-center">You just signed a new staking contract. EWT is <br> sent to the staking pool!</p>
  <app-divider></app-divider>
  <div class="d-flex justify-content-center mt-3">
    <button mat-raised-button mat-dialog-close class="stake-btn text-color text-uppercase">Close</button>
  </div>
</div>
