<div
  class="d-flex justify-content-center justify-content-lg-center align-items-lg-center align-items-center overflor-hidden">
  <div class="row w-100 mx-0 justify-content-lg-center">
    <div class="col-xl-12">
      <div class="card bg-transparent mt-0 mb-3 py-2">
        <app-user-info
          class="d-flex align-items-center justify-content-center"
          [userName]="userName$ | async"
          [accountDid]="userDid$ | async"></app-user-info>
        <div class="d-flex align-items-center justify-content-center w-100">
          <app-smart-search
            class="search-field px-0 px-md-2 pb-0 py-md-2"
            (selected)="goToSearchResult($event.namespace, $event.keyword)"
            [searchBy]="searchBy()"
            placeholderSearch="Search for any organization or application"></app-smart-search>
        </div>
      </div>
    </div>
    <app-card
      class="col-6 col-md-3 col-lg-2 col-lg-offset-1"
      image="assets-icon.png"
      title="Assets"
      (click)="goToAssets()"></app-card>
    <app-card
      class="col-6 col-md-3 col-lg-2"
      image="governance-icon.png"
      title="Governance"
      (click)="goToGovernance()"></app-card>
    <app-card
      class="col-6 col-md-3 col-lg-2"
      image="enrollment-icon.png"
      title="Enrolments"
      (click)="goToEnrolment()"></app-card>
  </div>
</div>
