<div class="d-flex justify-content-center justify-content-lg-center align-items-lg-center align-items-center overflor-hidden">
  <div class="row mx-0">
    <div class="col-xl-12">
      <div class="card bg-transparent mt-4 mb-3 py-2 py-lg-5">
          <div class="d-flex align-items-center justify-content-center">
            <div class="text-center cursor-pointer m-4" (click)="openUpdateIdentity()">
              <img class="img-thumbnail rounded-circle" src="../assets/img/identity-image.png" width="64" height="64"
                alt="identity image">
              <h2 class="color-white mt-4 mb-0">Ted Tyler</h2>
              <div class="label color-white">{{ accountAddress }}</div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-6 col-xl-3">
      <div class="card card-icon d-flex justify-content-center align-items-center p-4 mb-3">
        <img class="m-4" src="../assets/img/icons/assets-icon.png" width="auto" height="80"
                alt="assets image">
        <h4 class="color-white mt-4">Assets</h4>         
      </div>
    </div>
    <div class="col-6 col-xl-3">
      <div class="card card-icon d-flex justify-content-center align-items-center p-4 mb-3">
        <img class="m-4" src="../assets/img/icons/applications-icon.png" width="auto" height="80"
                alt="assets image">
        <h4 class="color-white mt-4">Applications</h4>        
      </div>
    </div>
    <div class="col-6 col-xl-3">
      <div class="card card-icon d-flex justify-content-center align-items-center p-4 mb-3">
        <img class="m-4" src="../assets/img/icons/services-icon.png" width="auto" height="80"
                alt="assets image">
        <h4 class="color-white mt-4">Services</h4> 
      </div>
    </div>
    <div class="col-6 col-xl-3">
      <div class="card card-icon d-flex justify-content-center align-items-center p-4 mb-3">
        <img class="m-4" src="../assets/img/icons/enrollment-icon.png" width="auto" height="80"
                alt="assets image">
        <h4 class="color-white mt-4">Enrollments</h4>         
      </div>
    </div>
  </div>
</div>