<div class="d-flex justify-content-center justify-content-lg-center align-items-lg-center align-items-center overflor-hidden">
  <div class="row w-100 mx-0 justify-content-lg-center">
    <div class="col-xl-12">
      <div class="card bg-transparent mt-0 mb-3 py-2">
          <div class="d-flex align-items-center justify-content-center">
            <div class="text-center d-flex flex-column align-items-center cursor-pointer m-4">
              <img class="img-thumbnail rounded-circle" src="../assets/img/identity-image.png" width="64" height="64"
                alt="identity image">
              <h2 class="color-white mt-4 mb-0" *ngIf="!userName">My Decentralised Identifier:</h2>
              <h2 class="color-white mt-4 mb-0" *ngIf="userName"> {{ userName }} </h2>
              <div class="opacity-50 text-truncate-middle did-wrapper" *ngIf="accountDid" (click)="copyToClipboard()">{{ accountDid }}</div>
              <div class="opacity-50 text-truncate-middle did-wrapper" *ngIf="!accountDid">Fetching decentralised identifier...</div>
            </div> 
          </div>
          <div class="d-flex align-items-center justify-content-center w-100">
            <form class="search-field px-0 px-md-2 pb-0 py-md-2">
              <mat-form-field class="md-search" appearance="outline">
                <input type="text"
                       placeholder="Search"
                       aria-label="Number"
                       matInput
                       [matAutocomplete]="auto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option>Organization</mat-option>
                  <mat-option>Application</mat-option>
                </mat-autocomplete>
                <button mat-button matSuffix mat-icon-button>
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
            </form>
            </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2 col-lg-offset-1">
      <div class="card card-icon-disabled d-flex justify-content-center align-items-center py-3 mb-3">
        <div class="position-fixed d-flex align-items-center text-center">
          <h3 class="color-white opacity-50">Coming Soon</h3>
        </div>
        <img class="img-dashboard opacity-01 mt-4 m-3 m-lg-4" src="../assets/img/icons/assets-icon.png"
                alt="assets image">
        <h4 class="color-white opacity-01 mt-3 mb-4 my-lg-4">Assets</h4>         
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <div class="card card-icon d-flex justify-content-center align-items-center py-3 mb-3" (click)="goToGovernance()">
        <img class="img-dashboard mt-4 m-3 m-lg-4" src="../assets/img/icons/governance-icon.png"
                alt="assets image">
        <h4 class="color-white mt-3 mb-4 my-lg-4">Governance</h4>        
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <div class="card card-icon-disabled d-flex justify-content-center align-items-center py-3 mb-3">
        <div class="position-fixed d-flex align-items-center text-center">
          <h3 class="color-white opacity-50">Coming Soon</h3>
        </div>
        <img class="img-dashboard opacity-01 mt-4 m-3 m-lg-4" src="../assets/img/icons/services-icon.png"
                alt="assets image">
                <h4 class="color-white opacity-01 mt-3 mb-4 my-lg-4">Services</h4> 
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <div class="card card-icon d-flex justify-content-center align-items-center py-3 mb-3" (click)="goToEnrolment()">
        <img class="img-dashboard mt-4 m-3 m-lg-4" src="../assets/img/icons/enrollment-icon.png" alt="assets image">
        <h4 class="color-white mt-3 mb-4 my-lg-4">Enrollments</h4>         
      </div>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <div class="card card-icon-disabled d-flex justify-content-center align-items-center py-3 mb-3" alt="applications image">
        <div class="position-fixed d-flex align-items-center text-center">
          <h3 class="color-white opacity-50">Coming Soon</h3>
        </div>
        <img class="img-dashboard opacity-01 mt-4 m-3 m-lg-4" src="../assets/img/icons/applications-icon.png" alt="applications image">
        <h4 class="color-white opacity-01 mt-3 mb-4 my-lg-4">Applications</h4>         
      </div>
    </div>
  </div>
</div>