<h4 mat-dialog-title class="mb-0 d-flex justify-content-between align-items-center">
    Settings
    <button mat-icon-button [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
</h4>

<div mat-dialog-content>
    <div class="my-4 mx-0">
        <div class="row">
            <div class="col-lg-12 mb-2">
                <div class="mb-4">
                    <p>Enabling experimental features will restart the application. You may experience some issues while using the experimental features.</p>
                </div>
                <mat-slide-toggle>Enable experimental</mat-slide-toggle>
            </div>
        </div>
    </div>
</div>