<!--<form>-->
<div class="card card-info d-flex flex-row justify-content-start align-items-center shadow-none d-flex mb-3">
  <mat-icon>info</mat-icon>
  <div class="d-flex flex-column">
    <mat-label>Seconds in different format</mat-label>
    <div class="f-14" data-qa-id="time-duration">{{ this.form.value | timeDuration }}</div>
  </div>
</div>
<div class="card card-default d-flex shadow-none d-flex pt-3 mb-3">
  <mat-label class="ml-3 pl-1">Validity Period</mat-label>
  <mat-form-field class="mt-2" appearance="outline">
    <input
      matInput
      placeholder="Add Validity Period in seconds"
      autocomplete="off"
      data-qa-id="period"
      [formControl]="form" />
  </mat-form-field>
  <mat-error *ngIf="form.hasError('min')"> Minimal value is 0 </mat-error>
</div>
<!--</form>-->
<div class="d-flex justify-content-end mb-2">
  <button mat-stroked-button class="btn btn-small mr-2" (click)="back.emit()">Back</button>
  <button
    mat-raised-button
    class="btn btn-small btn-primary"
    data-qa-id="period-next"
    [disabled]="form.invalid"
    (click)="onNextHandler()">
    Next
  </button>
</div>
