<mat-label class="ml-3 pl-1">Expiration Date</mat-label>
<app-expiration-info
  [defaultValidityPeriod]="defaultValidityPeriod"
  [expirationTime]="expirationTimeShift"></app-expiration-info>
<mat-form-field class="mt-2" appearance="outline">
  <input
    [matDatepicker]="picker"
    data-qa-id="expiration-date-input"
    [formControl]="expirationDate"
    matInput
    placeholder="Expiration Date"
    autocomplete="off" />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-icon matSuffix data-qa-id="reset-date" class="close-icon" (click)="setDefaultExpirationDate()">close</mat-icon>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<div class="d-flex justify-content-end">
  <button
    mat-stroked-button
    class="btn btn-small mr-2 back"
    data-qa-id="remove-expiration-date"
    (click)="removeHandler()">
    Remove expiration date
  </button>
</div>
