// Bootstrap
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
// Variables
@import 'app/variables';
// Globals
@import 'app/material/colors';
@import 'app/utils-mixins';
// Layout
@import 'app/layout';
@import 'app/layout-extra';
@import 'app/layout-animation';
@import 'app/top-navbar';
@import 'app/sidebar';
@import 'app/offsidebar';
@import 'app/user-block';
@import 'app/settings';
// Common
@import 'app/typo';
@import 'app/bootstrap-reset';
@import 'app/bootstrap-custom';
@import 'app/button-extra';
@import 'app/dropdown-extra';
@import 'app/animate';
@import 'app/slim-scroll';
@import 'app/datepicker';
@import 'app/utils';
@import 'app/popup';

// Elements

// Charts
@import 'app/radial-bar';
@import 'app/chart-easypie';
// Form elements
@import 'app/form-tags-input';
@import 'app/file-upload';
// Tables
@import 'app/table-extras';
// Material
@import 'app/material/welcome';
@import 'app/material/cards';
@import 'app/material/table';
@import 'app/material/tab';
@import 'app/material/button';
@import 'app/material/dialog';
@import 'app/material/md-forms';
@import 'app/material/md-list';
@import 'app/material/md-inputs';
@import 'app/material/ngmaterial';
