<h4 mat-dialog-title class="mb-0 d-flex justify-content-between align-items-center">
  Create VC
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</h4>

<div mat-dialog-content>
  <div class="mb-2 mt-4 mx-4 mx-lg-4">
    <form role="form" [formGroup]="form">
      <div class="row">
        <div class="col-lg-12">
          <mat-label class="ml-3 pl-1">Type</mat-label>
          <mat-form-field appearance="outline"
                          class="mr-0 mr-lg-0 mb-2 mb-lg-0">
            <mat-select formControlName="type" placeholder="Select Type" data-qa-id="select-type"
                        (selectionChange)="roleTypeSelected($event)">
              <mat-option *ngFor="let role of roles"
                          [value]="role" [attr.data-qa-id]="role.name">{{role.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <mat-label class="ml-3 pl-1">Subject</mat-label>
          <mat-form-field class="mt-2" appearance="outline">
            <input matInput formControlName="subject" placeholder="DID that is receiving the credential" maxlength="256"
                   data-qa-id="subject-did"
                   required autocomplete="off">
            <button *ngIf="!isDidPredefined()" matSuffix mat-icon-button aria-label="Scan DID" appQrCodeScanner
                    (scannedValue)="scannedValue($event)">
              <mat-icon>qr_code_2</mat-icon>
            </button>
            <mat-error *ngIf="getControl('subject').hasError('required')">Subject is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="getControl('subject').hasError('invalidDid')">Subject DID format is invalid</mat-error>
            <mat-error *ngIf="alreadyEnroled">You already enroled selected role type for this DID</mat-error>
          </mat-form-field>
        </div>
      </div>
      <ng-container *ngIf="!isPrecheckSuccess && rolePreconditionList?.length">
        <ng-container *ngFor="let precondition of rolePreconditionList">
          <!-- Role is Approved but NOT SYNCED -->
          <div *ngIf="isRolePreconditionApproved(precondition.status)"
               matTooltip="Please sync this role to your DID Document."
               class="card card-success d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-4">
            <mat-icon>check_circle</mat-icon>
            <span class="pb-2">{{  precondition.namespace }}</span>
          </div>
          <!-- Request is Pending or No Request at all -->
          <div *ngIf="isRolePreconditionPending(precondition.status)" matTooltip="You don't have this role yet."
               class="card card-warning d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-4">
            <mat-icon>pending_actions</mat-icon>
            <span class="pb-2">{{  precondition.namespace }}</span>
          </div>
        </ng-container>
      </ng-container>
      <app-enrolment-form [fieldList]="fieldList" [showRegistrationTypes]="false" [disabledSubmit]="isFormDisabled()"
                          (submitForm)="create($event)"></app-enrolment-form>
    </form>
  </div>
</div>
