<h4 mat-dialog-title class="mb-0 d-flex justify-content-between align-items-center">
  Create VC
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</h4>

<div mat-dialog-content>
  <div class="mb-2 mt-4 mx-4 mx-lg-4">
    <form role="form" [formGroup]="form">
      <div class="row">
        <div class="col-lg-12">
          <mat-label class="ml-3 pl-1">Type</mat-label>
          <mat-form-field appearance="outline"
                          class="mr-0 mr-lg-0 mb-2 mb-lg-0">
            <mat-select formControlName="type" placeholder="Select Type" data-qa-id="select-type">
              <mat-option [value]="'manufacturer'" data-qa-id="manufacturer">Manufacturer</mat-option>
              <mat-option [value]="'owner'" data-qa-id="owner">Owner</mat-option>
              <mat-option [value]="'installer'" data-qa-id="installer">Installer</mat-option>
              <mat-option [value]="'verifier'" data-qa-id="verifier">Verifier</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <mat-label class="ml-3 pl-1">DID</mat-label>
          <mat-form-field class="mt-2" appearance="outline">
            <input matInput formControlName="did" placeholder="DID" maxlength="256"
                   data-qa-id="issue-did"
                   required autocomplete="off">
            <button *ngIf="!isDidPredefined()" matSuffix mat-icon-button aria-label="Scan DID" appQrCodeScanner
                    (scannedValue)="scannedValue($event)">
              <mat-icon>qr_code_2</mat-icon>
            </button>
            <mat-error *ngIf="getControl('did').hasError('required')">DID is <strong>required</strong></mat-error>
            <mat-error *ngIf="getControl('did').hasError('invalidDid')">DID format is invalid</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-12">
          <mat-label class="ml-3 pl-1">Name</mat-label>
          <mat-form-field class="mt-2" appearance="outline">
            <input matInput formControlName="name" placeholder="Name" maxlength="256"
                   data-qa-id="name"
                   required autocomplete="off">
            <mat-error *ngIf="getControl('name').hasError('required')">Name is <strong>required</strong></mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- Data Text fields -->
      <div class="mb-3">
        <mat-label class="ml-3 pl-1 mb-3">Set Fields</mat-label>
      </div>
      <app-role-field [fieldsList]="fieldList" (updateData)="fieldListChangeHandler($event)"></app-role-field>
    </form>
  </div>

  <div mat-dialog-actions class="d-flex justify-content-center" style="border-top: 0;">
    <button mat-raised-button class="btn btn-primary w-100" data-qa-id="create" type="submit"
            [disabled]="isFormDisabled()"
            (click)="create()">
      Create
    </button>
  </div>
</div>
