.did-wrapper {
  margin-top: 7px;
  letter-spacing: 0.3px;
  border-radius: 12px;
  padding: 8px 12px;
  cursor: pointer;

  mat-icon {
    width: 18px;
    height: 18px;
    font-size: 14px;
    padding-top: 2px;
  }
}
