<app-cascading-filter showDIDFilter="true"></app-cascading-filter>
<app-generic-table [list]="revokersList$ | async" [columDefinitions]="columns"></app-generic-table>

<ng-template #actions let-element>
  <app-preview [element]="element" [enrolmentType]="enrolmentType" (refreshList)="updateList()"> </app-preview>
</ng-template>
<ng-template #status let-element>
  <app-enrolment-status [claim]="element"></app-enrolment-status>
</ng-template>

<ng-template #revoke let-element>
  <button
    mat-menu-item
    class="btn-color-primary"
    (click)="revokeOnChainClaim(element)"
    [disabled]="!element?.canRevokeOnChain">
    <mat-icon class="btn-color-primary">cancel_presentation</mat-icon>
    <span>Revoke On-Chain Enrolment</span>
  </button>

  <button
    mat-menu-item
    class="btn-color-primary"
    [disabled]="!element?.canRevokeOffChain"
    (click)="revokeOffChainClaim(element)">
    <mat-icon class="btn-color-primary">cancel_presentation</mat-icon>
    <span>Revoke Off-Chain Enrolment</span>
  </button>
</ng-template>
