<form [formGroup]="form">
  <div class="px-0">
    <mat-label class="ml-3 pl-1">Key</mat-label>
    <mat-form-field class="mt-2" appearance="outline">
      <input matInput type="text" placeholder="Key" autocomplete="off"
             data-qa-id="key"
             formControlName="key">
      <mat-error>This field is <strong>required</strong>.</mat-error>
    </mat-form-field>
  </div>
  <div class="px-0">
    <mat-label class="ml-3 pl-1">Value</mat-label>
    <mat-form-field class="mt-2" appearance="outline">
      <input matInput type="text" placeholder="Value" autocomplete="off"
             data-qa-id="value"
             formControlName="value">
      <mat-error>This field is <strong>required</strong>.</mat-error>
    </mat-form-field>
  </div>
  <div class="d-flex justify-content-end mb-2">
    <button mat-stroked-button class="btn-small mr-2" data-qa-id="cancel" (click)="reject()">Cancel</button>
    <button mat-raised-button
            class="btn btn-small btn btn-primary"
            type="submit"
            (click)="submit()"
            [disabled]="isFormInvalid"
            data-qa-id="add">
      Add
    </button>
  </div>
</form>
