<h4 mat-dialog-title class="mb-0 d-flex justify-content-between align-items-center">
    Asset Ownership History
    <button mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</h4>

<div mat-dialog-content>
    <!-- Asset Ownership list Layout -->
    <!-- <div class="history-list py-2">
        <div class="history-list-item my-3 px-2 pb-3">
            <div class="d-flex justify-content-between align-items-center pt-3 px-2">
                <h6 class="font-weight-600">03/31/2021, 18:37:20</h6>
                <div class="bg-status">Cancelled</div>
            </div>
            <div class="d-flex flex-column justify-content-start px-2">
                <div class="d-flex align-items-center pt-1">
                    <mat-icon class="color-info pr-2">account_circle</mat-icon>
                    <div class="d-flex flex-column pl-2">
                        <h4 class="small font-weight-600 mb-1">OWNER</h4> 
                        <span style="font-size:16px;">did:ethr:0x7dD4cF86e6f143300C4550220c4eD66690a655fc</span>
                    </div>
                </div>
                <div class="border-vertical"></div>
                <div class="d-flex align-items-center">
                    <mat-icon class="color-success pr-2">account_circle</mat-icon>
                    <div class="d-flex flex-column pl-2">
                        <h4 class="small font-weight-600 mb-1">OFFERED TO</h4> 
                        <span style="font-size:16px;">did:ethr:0x7dD4cF86e6f143300C4550220c4eD66690a655fc</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="history-list-item my-3 px-2 pb-3">
            <div class="d-flex justify-content-between align-items-center pt-3 px-2">
                <h6 class="font-weight-600">03/31/2021, 18:37:20</h6>
                <div class="bg-status">Cancelled</div>
            </div>
            <div class="d-flex flex-column justify-content-start px-2">
                <div class="d-flex align-items-center pt-1">
                    <mat-icon class="color-info pr-2">account_circle</mat-icon>
                    <div class="d-flex flex-column pl-2">
                        <h4 class="small font-weight-600 mb-1">OWNER</h4> 
                        <span style="font-size:16px;">did:ethr:0x7dD4cF86e6f143300C4550220c4eD66690a655fc</span>
                    </div>
                </div>
                <div class="border-vertical"></div>
                <div class="d-flex align-items-center">
                    <mat-icon class="color-success pr-2">account_circle</mat-icon>
                    <div class="d-flex flex-column pl-2">
                        <h4 class="small font-weight-600 mb-1">OFFERED TO</h4> 
                        <span style="font-size:16px;">did:ethr:0x7dD4cF86e6f143300C4550220c4eD66690a655fc</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="history-list-item my-3 px-2 pb-3">
            <div class="d-flex justify-content-between align-items-center pt-3 px-2">
                <h6 class="font-weight-600">03/31/2021, 18:37:20</h6>
                <div class="bg-status">Cancelled</div>
            </div>
            <div class="d-flex flex-column justify-content-start px-2">
                <div class="d-flex align-items-center pt-1">
                    <mat-icon class="color-info pr-2">account_circle</mat-icon>
                    <div class="d-flex flex-column pl-2">
                        <h4 class="small font-weight-600 mb-1">OWNER</h4> 
                        <span style="font-size:16px;">did:ethr:0x7dD4cF86e6f143300C4550220c4eD66690a655fc</span>
                    </div>
                </div>
                <div class="border-vertical"></div>
                <div class="d-flex align-items-center">
                    <mat-icon class="color-success pr-2">account_circle</mat-icon>
                    <div class="d-flex flex-column pl-2">
                        <h4 class="small font-weight-600 mb-1">OFFERED TO</h4> 
                        <span style="font-size:16px;">did:ethr:0x7dD4cF86e6f143300C4550220c4eD66690a655fc</span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Asset Ownership list Layout -->

    <table mat-table matSort [dataSource]="dataSource">

        <!-- Date -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <ng-container> Date </ng-container>
            </th>
            <td mat-cell *matCellDef="let element" data-label="Date">
                {{ element?.emittedDate | date : 'MM/dd/yyyy HH:mm:ss' }}
            </td>
        </ng-container>

        <!-- Owner -->
        <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <ng-container> Owner </ng-container>
            </th>
            <td mat-cell *matCellDef="let element" data-label="Owner">
                {{ element?.emittedBy }}
            </td>
        </ng-container>

        <!-- Offered To -->
        <ng-container matColumnDef="offeredTo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <ng-container> Offered To </ng-container>
            </th>
            <td mat-cell *matCellDef="let element" data-label="Offered To">
                {{ element?.relatedTo }}
            </td>
        </ng-container>

        <!-- Type -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let element" data-label="Type"> {{element?.type}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="cursor-pointer" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <!-- Shows when table is empty -->
    <div class="d-flex justify-content-center align-items-center mt-4 mb-3" *ngIf="!dataSource?.data?.length">
      <div class="d-flex align-items-center no-record color-white">
        <mat-icon class="mr-2">info</mat-icon>
        <i>No Record Found</i>
      </div>
    </div>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" [hidePageSize]="true" showFirstLastButtons>
    </mat-paginator> -->
</div>