<h4 mat-dialog-title class="mb-0 d-flex justify-content-between align-items-center">Create Organization
  <button mat-icon-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</h4>

<div mat-dialog-content>
  <div class="mb-2 mt-3">
    <div class="row">
      <mat-vertical-stepper class="w-100" [linear]="true" #stepper>
        <ng-template matStepperIcon="edit">
          <mat-icon>check</mat-icon>
        </ng-template>
        <mat-step [completed]="false">
          <form [formGroup]="orgForm">
            <ng-template matStepLabel>New Organization</ng-template>
            <div class="card card-default d-flex shadow-none d-flex pt-3 mb-3">
            <div class="row mt-2">
              <!-- <div class="col-lg-12">
                <div class="d-flex justify-content-start">
                  <div class="image-wrapper w-50 d-flex align-items-center justify-content-center mb-3">
                    <span class="opacity-50">Image Preview</span>
                  </div>
                </div>
              </div> -->
              <div class="col-lg-12" formGroupName="data">
                <mat-label class="ml-3 pl-1">Organization Image URL</mat-label>
                <mat-form-field class="mt-2" appearance="outline" floatPlaceholder="never">
                  <input matInput autocomplete="off" formControlName="logoUrl" type="text" maxlength="500" pattern="https?://.*" placeholder="https://www.example.com/images/logo.png"/>
                  <mat-error>URL format is incorrect</mat-error>
                </mat-form-field>
              </div>
            </div>
            </div>
            <div class="card card-default d-flex shadow-none d-flex pt-3 mb-3">
              <div class="row">
                <div class="col-lg-12">
                  <mat-label class="ml-3 pl-1">Organization Namespace</mat-label>
                  <mat-form-field class="mt-2" appearance="outline" floatPlaceholder="never">
                    <input matInput autocomplete="off" formControlName="orgName" type="text" placeholder="Organization Namespace" required
                      oninput="this.value = this.value.toLowerCase()" (keypress)="alphaNumericOnly($event)" minlength="3" maxlength="256"/>
                      <mat-error>Organization Namespace is <strong>required</strong></mat-error>
                  </mat-form-field>
                </div>
                <div *ngIf="orgForm.get('orgName').value" class="ml-3 card card-hint d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3">
                  <mat-icon>notifications_none</mat-icon>
                  <span class="pb-2">{{ orgForm.get('orgName').value + '.' + environment.orgNamespace}}</span>
                </div>
                <ng-container formGroupName="data">
                  <div class="col-lg-12">
                    <mat-label class="ml-3 pl-1">Organization Name</mat-label>
                    <mat-form-field class="mt-2" appearance="outline" floatPlaceholder="never">
                      <input matInput autocomplete="off" formControlName="organizationName" type="text" placeholder="Organization Name" minlength="3" maxlength="256"/>
                      <mat-error>Organization Name is <strong>required</strong></mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-12">
                    <mat-label class="ml-3 pl-1">Website URL</mat-label>
                    <mat-form-field class="mt-2" appearance="outline" floatPlaceholder="never">
                      <input matInput autocomplete="off" formControlName="websiteUrl" type="text" pattern="https?://.*" placeholder="http://www.example.com" maxlength="500"/>
                      <mat-error>URL format is incorrect</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-12">
                    <mat-label class="ml-3 pl-1">Description</mat-label>
                    <mat-form-field appearance="outline">
                      <textarea matInput formControlName="description" maxlength="1500"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-12">
                    <mat-label class="ml-3 pl-1">Others (JSON)</mat-label>
                    <mat-form-field appearance="outline">
                      <textarea matInput formControlName="others" maxlength="2000"></textarea>
                    </mat-form-field>
                  </div>
                </ng-container>
              </div>
            </div>
            <div class="d-flex justify-content-end mb-2">
              <button mat-stroked-button class="btn btn-small mr-2" (click)="closeDialog()">Cancel</button>
              <button mat-raised-button class="btn btn-small btn-primary" [disabled]="isChecking" (click)="createNewOrg()">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [editable]="false" [completed]="false">
            <ng-template matStepLabel>Confirm Details</ng-template>
            <div class="card card-default d-flex shadow-none d-flex pt-3 mb-3">
              <div class="d-flex justify-content-center">
                <div class="image-wrapper w-50 d-flex align-items-center justify-content-center mb-3">
                  <span class="opacity-50" *ngIf="!orgForm?.value?.data?.logoUrl">No image</span>
                  <img class="w-50" *ngIf="orgForm?.value?.data?.logoUrl" src="{{ orgForm?.value?.data?.logoUrl }}"/>
                </div>
              </div>
              <div class="text-left my-3">
                <div class="label opacity-50 mb-2">Organization Namespace</div>
                <span class="color-white mb-0">{{ orgForm?.value?.orgName + '.' + orgForm?.value?.namespace }}</span>
              </div>
              <mat-divider></mat-divider>
              <div class="text-left my-3">
                <div class="label opacity-50 mb-2">Organization Name</div>
                <span class="color-white mb-0">{{ orgForm?.value?.data?.organizationName }}</span>
              </div>
              <mat-divider></mat-divider>
              <div class="text-left my-3">
                <div class="label opacity-50 mb-2">Website URL</div>
                <span class="color-white mb-0">{{ orgForm?.value?.data?.websiteUrl || 'None' }}</span>
              </div>
              <mat-divider></mat-divider>
              <div class="text-left my-3">
                <div class="label opacity-50 mb-2">Description</div>
                <span class="color-white mb-0">{{ orgForm?.value?.data?.description || 'None' }}</span>
              </div>
              <mat-divider></mat-divider>
              <div class="text-left my-3">
                <div class="label opacity-50 mb-2">Others (JSON)</div>
                <span class="color-white mb-0">{{ orgForm?.value?.data?.others || 'None' }}</span>
              </div>
            </div>
            <div>
              <div class="d-flex justify-content-end mb-2">
                <button mat-stroked-button class="btn btn-small mr-2" (click)="cancelOrgDetails()">Back</button>
                <button mat-raised-button class="btn btn-small btn-primary" (click)="confirmOrg()">Next</button>
              </div>
            </div>
        </mat-step>
        <mat-step [editable]="false" [completed]="false">
          <ng-template matStepLabel>Creating Organization Namespace</ng-template>
          <div
            class="card card-hint d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3">
            <mat-icon>notifications_none</mat-icon><span class="pb-2">Please confirm this transaction in
              Metamask</span>
          </div>
          <div class="d-flex justify-content-end mb-2">
            <button mat-stroked-button class="btn btn-small mr-2" (click)="closeDialog()">Cancel</button>
            <button mat-raised-button class="btn btn-small btn-primary" [disabled]="true">Next</button>
          </div>
        </mat-step>
        <mat-step [editable]="false" [completed]="false">
          <ng-template matStepLabel>Registering Reverse Name for Namespace</ng-template>
          <div
            class="card card-hint d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3">
            <mat-icon>notifications_none</mat-icon><span class="pb-2">Please confirm this transaction in your connected Wallet.</span>
          </div>
          <div class="d-flex justify-content-end mb-2">
            <button mat-stroked-button class="btn btn-small mr-2">Cancel</button>
            <button mat-raised-button class="btn btn-small btn-primary" [disabled]="true">Next</button>
          </div>
        </mat-step>
        <mat-step [editable]="false" [completed]="false">
          <ng-template matStepLabel>Setting up definitions</ng-template>
          <div
            class="card card-hint d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3">
            <mat-icon>notifications_none</mat-icon><span class="pb-2">Please confirm this transaction in your connected Wallet.</span>
          </div>
          <div class="d-flex justify-content-end mb-2">
            <button mat-stroked-button class="btn btn-small mr-2">Cancel</button>
            <button mat-raised-button class="btn btn-small btn-primary" [disabled]="true">Next</button>
          </div>
        </mat-step>
        <mat-step [editable]="false" [completed]="false">
          <ng-template matStepLabel>Creating Role Sub-domain</ng-template>
          <div class="card card-hint d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3">
            <mat-icon>info</mat-icon><span class="pb-2">Creating below sub-domain: <br>{{ ENSPrefixes.Roles }}.{{ orgForm?.value?.orgName }}.{{ orgForm?.value?.namespace }}</span>
          </div>
          <div class="card card-hint d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3">
            <mat-icon>notifications_none</mat-icon><span class="pb-2">Please confirm this transaction in your connected Wallet.</span>
          </div>
          <div class="d-flex justify-content-end mb-2">
            <button mat-stroked-button class="btn btn-small mr-2">Cancel</button>
            <button mat-raised-button class="btn btn-small btn-primary" [disabled]="true">Next</button>
          </div>
        </mat-step>
        <mat-step [editable]="false" [completed]="false">
          <ng-template matStepLabel>Registering Reverse Name for Role Sub-domain</ng-template>
          <div class="card card-hint d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3">
            <mat-icon>notifications_none</mat-icon><span class="pb-2">Please confirm this transaction in your connected Wallet.</span>
          </div>
          <div class="d-flex justify-content-end mb-2">
            <button mat-stroked-button class="btn btn-small mr-2">Cancel</button>
            <button mat-raised-button class="btn btn-small btn-primary" [disabled]="true">Next</button>
          </div>
        </mat-step>
        <mat-step [editable]="false" [completed]="false">
          <ng-template matStepLabel>Creating Application Sub-domain</ng-template>
          <div class="card card-hint d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3">
            <mat-icon>info</mat-icon><span class="pb-2">Creating below sub-domain: <br>{{ ENSPrefixes.Application }}.{{ orgForm?.value?.orgName }}.{{ orgForm?.value?.namespace }}</span>
          </div>
          <div class="card card-hint d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3">
            <mat-icon>notifications_none</mat-icon><span class="pb-2">Please confirm this transaction in your connected Wallet.</span>
          </div>
          <div class="d-flex justify-content-end mb-2">
            <button mat-stroked-button class="btn btn-small mr-2">Cancel</button>
            <button mat-raised-button class="btn btn-small btn-primary" [disabled]="true">Next</button>
          </div>
        </mat-step>
        <mat-step [editable]="false" [completed]="false">
          <ng-template matStepLabel>Registering Reverse Name for Application Sub-domain</ng-template>
          <div class="card card-hint d-flex flex-row justify-content-start align-items-center shadow-none d-flex pt-3 pb-2 mb-3">
            <mat-icon>notifications_none</mat-icon><span class="pb-2">Please confirm this transaction in your connected Wallet.</span>
          </div>
          <div class="d-flex justify-content-end mb-2">
            <button mat-stroked-button class="btn btn-small mr-2">Cancel</button>
            <button mat-raised-button class="btn btn-small btn-primary" [disabled]="true">Next</button>
          </div>
        </mat-step>
        <mat-step [completed]="false">
            <ng-template matStepLabel>Organization Created</ng-template>
            <div class="card card-default d-flex shadow-none d-flex pt-3 mb-3">
              <div class="d-flex justify-content-center">
                <div class="image-wrapper w-50 d-flex align-items-center justify-content-center mb-3">
                  <span class="opacity-50" *ngIf="!orgForm?.value?.data?.logoUrl">No image</span>
                  <img class="w-50" *ngIf="orgForm?.value?.data?.logoUrl" src="{{ orgForm?.value?.data?.logoUrl }}"/>
                </div>
              </div>
              <div class="text-left my-3">
                <div class="label opacity-50 mb-2">Organization Namespace</div>
                <span class="color-white mb-0">{{ orgForm?.value?.orgName + '.' + orgForm?.value?.namespace }}</span>
              </div>
              <mat-divider></mat-divider>
              <div class="text-left my-3">
                <div class="label opacity-50 mb-2">Organization Name</div>
                <span class="color-white mb-0">{{ orgForm?.value?.data?.organizationName }}</span>
              </div>
              <mat-divider></mat-divider>
              <div class="text-left my-3">
                <div class="label opacity-50 mb-2">Website URL</div>
                <span class="color-white mb-0">{{ orgForm?.value?.data?.websiteUrl || 'None' }}</span>
              </div>
              <mat-divider></mat-divider>
              <div class="text-left my-3">
                <div class="label opacity-50 mb-2">Description</div>
                <span class="color-white mb-0">{{ orgForm?.value?.data?.description || 'None' }}</span>
              </div>
              <mat-divider></mat-divider>
              <div class="text-left my-3">
                <div class="label opacity-50 mb-2">Others (JSON)</div>
                <span class="color-white mb-0">{{ orgForm?.value?.data?.others || 'None' }}</span>
              </div>
              <mat-divider></mat-divider>
              <div class="text-left my-3">
                <div class="label opacity-50 mb-2">Roles Namespace</div>
                <span class="color-white mb-0">{{ ENSPrefixes.Roles }}.{{ orgForm?.value?.orgName }}.{{ orgForm?.value?.namespace }}</span>
              </div>
              <mat-divider></mat-divider>
              <div class="text-left my-3">
                <div class="label opacity-50 mb-2">Application Namespace</div>
                <span class="color-white mb-0">{{ ENSPrefixes.Application }}.{{ orgForm?.value?.orgName }}.{{ orgForm?.value?.namespace }}</span>
              </div>
            </div>
            <div>
              <div class="d-flex justify-content-end mb-2">
                <button mat-raised-button class="btn btn-small btn-primary" (click)="closeDialog(true)">Complete</button>
              </div>
            </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
  </div>
</div>
