<h4 mat-dialog-title class="mb-0 d-flex justify-content-between align-items-center">
  View Request
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</h4>
<div mat-dialog-content>
  <div class="mt-3">
    <div class="row">
      <div class="col-lg-12 w-100">
        <div class="card card-default text-center mb-3 p-3 shadow-none">
          <h3 class="default-color mb-2" data-qa-id="role-name">{{ claim?.roleName | uppercase }}</h3>
          <app-enrolment-status class="d-flex justify-content-center" [claim]="claim"></app-enrolment-status>
        </div>
      </div>

      <app-request-details data-qa-id="request-details" class="col-lg-12 mt-2" [claim]="claim"></app-request-details>

      <app-fields
        [showMergeButton]="true"
        (fieldToCopy)="handleMerge($event)"
        data-qa-id="requestor-fields"
        title="Requestor fields"
        [fieldsList]="requestorFields$ | async"
        [issuerFields]="fieldList">
      </app-fields>

      <app-fields data-qa-id="issuer-fields" title="Issuer fields" [fieldsList]="issuerFields$ | async"> </app-fields>

      <div class="col-lg-12 mt-2" *ngIf="!(requestorFields$ | async)?.length">
        <app-card-info description="Role did not require any field for enrolment request."></app-card-info>
      </div>
      <div class="col-lg-12 mt-2 mb-3" *ngIf="canAccept()">
        <div
          class="card card-default mb-3 pb-0 shadow-none"
          *ngIf="roleContainRequiredParams()"
          data-qa-id="enrolment-issuer-fields">
          <app-enrolment-form
            #issuerFields
            [fieldList]="fieldList"
            [showSubmit]="false"
            [toCopy]="requestorFields"></app-enrolment-form>
        </div>

        <app-expiration-date
          data-qa-id="expiration-date"
          [defaultValidityPeriod]="roleDefinition?.defaultValidityPeriod"
          (add)="setExpirationTimeUsingValidity($event)"
          (remove)="clearExpirationDate()">
        </app-expiration-date>
      </div>

      <div class="col-lg-12 mt-2" *ngIf="claim?.registrationTypes?.length === 2 && !claim.isAccepted">
        <app-card-info
          data-qa-id="signatures-info"
          description="Three signatures are required to issue a credential."></app-card-info>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <ng-container *ngIf="canAccept()">
      <button
        mat-raised-button
        class="btn btn-primary w-100 mx-3"
        data-qa-id="approve-btn"
        type="submit"
        [disabled]="isApproveDisabled"
        (click)="approve()">
        Approve
      </button>
      <button
        mat-raised-button
        data-qa-id="reject-btn"
        class="btn btn-secondary w-100 ml-0 mt-3 mx-3"
        type="submit"
        (click)="reject()">
        Reject
      </button>
    </ng-container>
    <app-revoke-buttons (revoked)="revokeSuccessHandler()" [claim]="claim"></app-revoke-buttons>
  </div>
</div>
