<button
  mat-menu-item
  class="btn-color-primary"
  [disabled]="!application?.containsRoles"
  data-qa-id="view-roles"
  (click)="viewRolesHandler()">
  <mat-icon class="btn-color-primary btn-action-3" svgIcon="view-role-icon"></mat-icon>
  <span>View Roles</span>
</button>

<button mat-menu-item class="btn-color-primary" data-qa-id="create-role" (click)="createRole()">
  <mat-icon class="btn-color-primary btn-action-3" svgIcon="add-role-icon"></mat-icon>
  <span>Create Role</span>
</button>

<button mat-menu-item class="btn-color-primary" data-qa-id="edit" (click)="edit()">
  <mat-icon class="btn-color-primary">edit</mat-icon>
  <span>Edit</span>
</button>

<button mat-menu-item class="btn-color-error" data-qa-id="delete" (click)="delete()">
  <mat-icon class="btn-color-error">delete_outline</mat-icon>
  <span>Delete</span>
</button>
