<div class="row mx-0 mt-1">
  <div class="col-xl-12">
    <div class="d-flex flex-row justify-content-start align-items-center mr-md-2">
      <h4 class='default-color strong my-4'>My Asset Enrolments</h4>
      <div></div>
    </div>
    <div class="card card-default mb-3 pb-0 shadow-none d-flex" *ngIf="asset$ | async as asset">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <button
          mat-icon-button
          class="btn-back-position"
          data-qa-id="back"
          matTooltip="Back to My Assets"
          (click)="back()">
          <mat-icon class="color-primary">arrow_back</mat-icon>
        </button>
        <img class="img-logo-asset-enrolled my-2" data-qa-id="logo" [src]="asset.icon ? asset.icon : defaultLogo" />
        <h4 class="my-2" data-qa-id="name">
          {{ asset?.name ? asset.name : 'Asset Name' }}
        </h4>
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-md-between mx-md-2">
        <div class="my-3">
          <div class='label opacity-50 mb-2 default-color'>Created Date</div>
          <span class='default-color mb-0' data-qa-id="created-date">
            {{ asset?.createdAt | date: 'MM/dd/yyyy HH:mm:ss' }}
          </span>
        </div>
        <div class="my-3">
          <div class='label opacity-50 mb-2 default-color'>Asset DID</div>
          <span class='default-color mb-0' data-qa-id="asset-did">
            {{ asset?.id }}
          </span>
        </div>
        <div class="my-3">
          <div class='label opacity-50 mb-2 default-color'>Offered To</div>
          <span class='default-color mb-0' data-qa-id="offered-to">
            {{ asset?.offeredTo ? asset?.offeredTo : '--' }}
          </span>
        </div>
        <div class="my-3">
          <div class='label opacity-50 mb-2 default-color'>Last Updated Date</div>
          <span class='default-color mb-0' data-qa-id="last-updated">
            {{ asset?.updatedAt | date: 'MM/dd/yyyy HH:mm:ss' }}
          </span>
        </div>
      </div>
    </div>
    <div class="card card-default mb-3 pb-0">
      <div class="card-header d-flex flex-column flex-lg-row justify-content-lg-start align-lg-items-center mb-3">
        <!-- Filter -->
        <div class="d-flex align-items-center flex-column flex-lg-row mt-3 mt-lg-0">
          <!-- <div class="filter-label mr-1">Group by:</div> -->
          <mat-form-field
            appearance="outline"
            floatPlaceholder="never"
            class="mat-input-sort mr-0 mr-lg-0 mb-2 mb-lg-0">
            <mat-select [formControl]="enrolmentDropdown" (selectionChange)="updateEnrolmentList($event)">
              <mat-option [value]="dropdownValue.all">All</mat-option>
              <mat-option [value]="dropdownValue.pending">Pending</mat-option>
              <mat-option [value]="dropdownValue.approved">Approved</mat-option>
              <mat-option [value]="dropdownValue.rejected">Rejected</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="d-flex align-items-center flex-column flex-lg-row mt-3 mt-lg-0 ml-0 ml-md-3">
          <mat-form-field
            appearance="outline"
            floatPlaceholder="never"
            class="mat-filter-sort mr-0 mr-lg-0 mb-2 mb-lg-0"
            matTooltip="Filter by namespace - Wildcard filtering, a short description?">
            <input matInput placeholder="Namespace" [formControl]="namespaceControlIssuer" />
          </mat-form-field>
        </div>
      </div>
      <app-enrolment-list
        [listType]="'asset'"
        [subject]="subject"
        #enrolmentList
        [namespaceFilterControl]="namespaceControlIssuer"></app-enrolment-list>
    </div>
  </div>
</div>
