<div class="nav-item" [matMenuTriggerFor]="menu" (menuClosed)="onHiddenNotificationList()">
  <a class="nav-link cursor-pointer">
    <em
      class="icon-bell"
      matBadgeColor="warn"
      matBadgeSize="small"
      [matBadgeHidden]="notificationNewItems === 0"
      [matBadge]="notificationNewItems"></em>
  </a>
</div>

<mat-menu #menu="matMenu">
  <ng-container *ngIf="notificationList?.length">
    <div class="d-flex flex-grow-1 list-group header-notification-container">
      <div class="d-flex justify-content-between pt-1 pb-3 px-3 mt-2 mb-2 align-items-center border-bottom-1">
        <h4 class="mb-0 f-16 color-white">Notification</h4>
        <a href="#" (click)="clearSwitchboardToaster()" class="color-primary"> Clear all </a>
      </div>

      <div class="list-group-item list-group-item-action border-0">
        <div class="media d-flex align-items-center notification-item" *ngFor="let item of notificationList">
          <div class="notification-icon align-self-start mr-2 ngx-toastr" [ngClass]="item.type"></div>
          <div class="media-body d-flex flex-row justify-content-between align-items-center">
            <p class="m-0 pr-2 color-white" [ngClass]="{ 'font-weight-bold': item.isNew }">
              {{ item.message }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</mat-menu>
