<div class="nav-link cursor-pointer" [matMenuTriggerFor]="menu" (menuClosed)="menuCloseHandler()">
  <em
    class="icon-bell icon-color"
    matBadgeColor="warn"
    matBadgeSize="small"
    [matBadgeHidden]="!areNewNotifications()"
    [matBadge]="notificationNewItems"></em>
</div>

<mat-menu #menu="matMenu">
  <app-notification-container>
    <app-notification-header
      title="Notification"
      (clear)="clearHandler()"
      [showClear]="areNewNotifications()"></app-notification-header>
    <ng-container *ngIf="notificationList?.length; else noNotifications">
      <div class="list-group-item list-group-item-action border-0">
        <div class="media d-flex align-items-center notification-item" *ngFor="let item of notificationList">
          <div class="notification-icon align-self-start mr-2 ngx-toastr" [ngClass]="item.type"></div>
          <div class="media-body d-flex flex-row justify-content-between align-items-center">
            <p class="m-0 pr-2 color-white" [ngClass]="{ 'font-weight-bold': item.isNew }">
              {{ item.message }}
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </app-notification-container>
  <ng-template #noNotifications>
    <div class="d-flex align-items-center justify-content-center no-notif">
      <div class="color-white no-record mt-3 mb-4"><i>No Notifications</i></div>
    </div>
  </ng-template>
</mat-menu>
