<div class="d-flex flex-row justify-content-between align-items-center border-bottom-1 mx-2">
  <div class="d-flex align-items-center pt-2 pb-2">
    <div class="d-flex flex-column">
      <h4 class="small font-weight-600 mb-1">Name</h4> 
      <span class="f-16" data-qa-id="label">{{element?.name}}</span> 
    </div>
  </div>
</div>
<div class="d-flex flex-row justify-content-between align-items-center border-bottom-1 my-2 mx-2">
  <div class="d-flex align-items-center py-2">
    <div class="d-flex flex-column">
      <h4 class="small font-weight-600 mb-1">Description</h4>
      <div class="desc-container f-16" data-qa-id="description">{{element?.description || defaultValue}}</div>
    </div>
  </div>
</div>
<div class="d-flex flex-row justify-content-between align-items-center mx-2">
  <div class="d-flex align-items-center pt-2">
    <div class="d-flex flex-column">
      <h4 class="small font-weight-600 mb-1">PATTERN</h4>
      <span class="f-16" data-qa-id="pattern">{{element?.pattern || defaultValue}}</span>
    </div>
  </div>
</div>
