<mat-tab-group mat-align-tabs="start" #assetsTabGroup (selectedTabChange)="showMe($event)">
    <!-- MY ASSETS -->
    <mat-tab label="My Assets">
        <div class="row mx-0 mt-1">
            <div class="col-xl-12">
                <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center">
                    <h4 class="color-white strong my-4">My Assets</h4>
                    <div class="d-flex align-item-center">
                        <button mat-raised-button class="btn btn-primary btn-small mb-3 mb-lg-0" (click)="registerAsset()">
                            Register Asset</button>
                    </div>
                </div>
                <app-asset-list #listMyAssets [list-type]="AssetListType.MY_ASSETS"></app-asset-list>
            </div>
        </div>
    </mat-tab>

    <!-- ASSETS OFFERED TO ME -->
    <mat-tab label="Assets Offered To Me">
        <div class="row mx-0 mt-1">
            <div class="col-xl-12">
                <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center">
                    <h4 class="color-white strong my-4">Assets Offered To Me</h4>
                </div>
                <app-asset-list #listOfferedAssets [list-type]="AssetListType.OFFERED_ASSETS" (selectTab)="setSelectedTab($event)"></app-asset-list>
            </div>
        </div>
    </mat-tab>

    <!-- PREVIOUSLY OWNED ASSETS -->
    <mat-tab label="Previously Owned Assets">
        <div class="row mx-0 mt-1">
            <div class="col-xl-12">
                <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center">
                    <h4 class="color-white strong my-4">Previously Owned Assets</h4>
                </div>
                <app-asset-list #listPreviousAssets [list-type]="AssetListType.PREV_OWNED_ASSETS"></app-asset-list>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>