<router-outlet></router-outlet>
<mat-tab-group
  mat-align-tabs="start"
  #assetsTabGroup
  (selectedTabChange)="showMe($event)">
  <!-- MY ASSETS -->
  <mat-tab label="My Assets" data-qa-id="my-assets-tab">
    <div class="row mx-0 mt-1">
      <div class="col-xl-12">
        <app-table-heading heading="My Assets">
          <button
            mat-raised-button
            class="btn btn-primary btn-small mb-3 mb-lg-0"
            data-qa-id="register-asset"
            (click)="registerAsset()">
            Register Asset
          </button>
        </app-table-heading>
        <app-asset-list
          #listMyAssets
          [listType]="AssetListType.MY_ASSETS"
          [showDidFilter]="true"></app-asset-list>
      </div>
    </div>
  </mat-tab>

  <!-- ASSETS OFFERED TO ME -->
  <mat-tab label="Assets Offered To Me" data-qa-id="assets-offered-to-tab">
    <div class="row mx-0 mt-1">
      <div class="col-xl-12">
        <app-table-heading heading="Assets Offered To Me"></app-table-heading>
        <app-asset-list
          #listOfferedAssets
          [listType]="AssetListType.OFFERED_ASSETS"
          (selectTab)="setSelectedTab($event)"></app-asset-list>
      </div>
    </div>
  </mat-tab>

  <!-- PREVIOUSLY OWNED ASSETS -->
  <mat-tab label="Previously Owned Assets" data-qa-id="assets-prev-owned-tab">
    <div class="row mx-0 mt-1">
      <div class="col-xl-12">
        <app-table-heading
          heading="Previously Owned Assets"></app-table-heading>
        <app-asset-list
          #listPreviousAssets
          [listType]="AssetListType.PREV_OWNED_ASSETS"></app-asset-list>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
