<div class="position-brand m-lg-5">
    <img src="assets/img/ew-flex-logo.png" />
</div>
<ngx-spinner [fullScreen]="false" type="ball-circus" size="medium" bdColor="#181424" bdOpacity=0.9 color="#A466FF">
    <p class="loading">Registering BRP...</p>
</ngx-spinner>
<div class="bg-register wrapper d-flex justify-content-center justify-content-lg-end align-items-lg-center align-items-center">
    <div class="mr-0 mr-lg-5 pr-0 pr-lg-5">
        <!-- START card-->
        <mat-card class="card-register mb-3">
            <div class="top-layer">
                <h1 class="font-weight-700">Register</h1>
                <h4 class="text-muted mb-4 pb-2">Provide your details to register</h4>
                <form role="form" [formGroup]="formGroupRegister" (ngSubmit)="onFormRegisterSubmit()">
                    <div class="row">
                        <div class="col-lg-12">
                            <mat-label class="ml-3 pl-1">Organization Type</mat-label>
                            <mat-form-field  class="mt-2 select-org" appearance="outline" floatPlaceholder="never">
                                <mat-select formControlName="organizationType" placeholder="Select Organization Type" (selectionChange)="onOrganizationType($event)">
                                    <mat-option value="TSO">TSO</mat-option>
                                    <mat-option value="DSO">DSO</mat-option>
                                    <mat-option value="BRP">BRP</mat-option>
                                    <!-- <mat-option value="Installer">Installer</mat-option> -->
                                    <mat-option value="OEM">OEM</mat-option>
                                    <!-- <mat-option value="Asset-owner">Asset Owner</mat-option> -->
                                    <!-- <mat-option value="Governing-body">Governing Body</mat-option> -->
                                </mat-select>
                                <mat-error *ngIf="formGroupRegister.controls.organizationType.invalid">Organization is <strong>required</strong></mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-12">
                            <mat-label class="ml-3 pl-1">Full Legal Name of Organization</mat-label>
                            <mat-form-field class="mt-2" appearance="outline" floatPlaceholder="never">
                                <input matInput formControlName="name" placeholder="Full Legal Name of Organization" autocomplete="off">
                                <mat-error *ngIf="formGroupRegister.controls.name.invalid">Full legal of name of organization is <strong>required</strong></mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-12">
                            <mat-label class="ml-3 pl-1">Email Address of Primary Contact</mat-label>
                            <mat-form-field class="mt-2" appearance="outline" floatPlaceholder="never">
                                <input formControlName="emailAddress" matInput placeholder="Email Address of Primary Contact" autocomplete="off">
                                <mat-error *ngIf="formGroupRegister.controls.emailAddress.invalid">Email address of primary contact is <strong>required</strong></mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-12">
                            <mat-label class="ml-3 pl-1">Postal Address of Primary Office</mat-label>
                            <mat-form-field class="mt-2" appearance="outline" floatPlaceholder="never">
                                <input formControlName="postalAddress" matInput placeholder="Postal Address of Primary Office" autocomplete="off">
                                <mat-error *ngIf="formGroupRegister.controls.postalAddress.invalid">Postal address of primary office is <strong>required</strong></mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="my-3 pb-2">
                        <button mat-raised-button class="btn btn-primary w-100" type="submit">Register</button>
                    </div>
                    <!-- <div class="d-flex justify-content-center mt-4 pt-2">
                        <mat-divider></mat-divider>
                        <h5 class="mt-4 py-2 mb-0"><span class="text-muted mr-2">Already registered?</span> <a
                                href="#">Sign in</a></h5>
                    </div> -->
                </form>
            </div>
        </mat-card>
        <!-- END card-->
    </div>
</div>