<h3 class="color-white">Stake EWT</h3>
<p class="description color-white">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet tempor donec nibh placerat pharetra euismod ac
    consectetur.
</p>
<div class="box color-white">
    <div class="box-line d-flex justify-content-between">
        <div>Minimum EWT Stake</div>
        <div>100 EWT</div>
    </div>
    <div class="box-line d-flex justify-content-between">
        <div>Minimum EWT Stake</div>
        <div>100 EWT</div>
    </div>
    <div class="box-line d-flex justify-content-between">
        <div>Minimum EWT Stake</div>
        <div>100 EWT</div>
    </div>
    <div class="box-line d-flex justify-content-between">
        <div>Minimum EWT Stake</div>
        <div>100 EWT</div>
    </div>

</div>