<h3 class="color-white">Stake EWT</h3>
<p class="description mb-4 color-white">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Amet tempor donec nibh placerat pharetra euismod ac
    consectetur.
</p>
<div class="row">
    <div class="col-12 col-md-10 col-lg-8">
        <div class="box mt-2 color-white">
            <div class="box-line d-flex justify-content-between">
                <div>Minimum EWT Stake</div>
                <div>100 EWT</div>
            </div>
            <div class="box-line d-flex justify-content-between">
                <div>Minimum EWT Stake</div>
                <div>100 EWT</div>
            </div>
            <div class="box-line d-flex justify-content-between">
                <div>Minimum EWT Stake</div>
                <div>100 EWT</div>
            </div>
            <div class="box-line d-flex justify-content-between">
                <div>Minimum EWT Stake</div>
                <div>100 EWT</div>
            </div>
        </div>
    </div>
</div>