<div class="d-flex justify-content-between align-items-center mb-2">
  <span class="label color-white opacity-50 pl-3">Key-Value pairs</span>
  <button mat-icon-button *ngIf="!formVisible"
          (click)="showForm()"
          matTooltip="Add field"
          data-qa-id="show-field">
    <mat-icon class="btn-color-primary">add</mat-icon>
  </button>
</div>

<app-key-value-form *ngIf="formVisible" (cancel)="hideForm()" (add)="addHandler($event)"></app-key-value-form>
<app-key-value-list [data]="pairsList" (delete)="removeHandler($event)"></app-key-value-list>
