<div class="card card-default d-flex shadow-none d-flex pt-3 mb-3">
  <div class="row">
    <div class="col-12">
      <mat-label class="ml-3 pl-1">New Owner DID</mat-label>
      <mat-form-field class="mt-2" appearance="outline">
        <input matInput autocomplete="off" [formControl]="newOwnerDID" type="text"
               placeholder="New Owner DID"
               [matAutocomplete]="auto"
               required maxlength="256"/>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of didBook$ | async" [value]="option.did">
            {{option.label}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="newOwnerDID?.errors?.required">
          New Owner Address is <strong>required</strong></mat-error>
        <mat-error *ngIf="newOwnerDID?.errors?.invalidDid">
          DID format is invalid
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</div>
