<h4 mat-dialog-title class="mb-0 d-flex justify-content-between align-items-center">
    Choose Asset Icon
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </h4>
  
  <div mat-dialog-content>
    <div class="m-4">
        <div class="row">
            <div class="col-4 col-md-3">
                <div class="cursor-pointer m-2">
                    <img class="img-logo select-asset p-1" src="../assets/img/icons/asset-icons/battery-2.svg" height="48px">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="cursor-pointer m-2">
                    <img class="img-logo p-1" src="../assets/img/icons/asset-icons/atomic.svg" height="48px">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="cursor-pointer m-2">
                    <img class="img-logo p-1" src="../assets/img/icons/asset-icons/building.svg" height="48px">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="cursor-pointer m-2">
                    <img class="img-logo p-1" src="../assets/img/icons/asset-icons/car.svg" height="48px">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="cursor-pointer m-2">
                    <img class="img-logo p-1" src="../assets/img/icons/asset-icons/cogwheel.svg" height="48px">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="cursor-pointer m-2">
                    <img class="img-logo p-1" src="../assets/img/icons/asset-icons/battery-5.svg" height="48px">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="cursor-pointer m-2">
                    <img class="img-logo p-1" src="../assets/img/icons/asset-icons/corn.svg" height="48px">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="cursor-pointer m-2">
                    <img class="img-logo p-1" src="../assets/img/icons/asset-icons/dam.svg" height="48px">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="cursor-pointer m-2">
                    <img class="img-logo p-1" src="../assets/img/icons/asset-icons/battery-8.svg" height="48px">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="cursor-pointer m-2">
                    <img class="img-logo p-1" src="../assets/img/icons/asset-icons/recycling.svg" height="48px">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="cursor-pointer m-2">
                    <img class="img-logo p-1" src="../assets/img/icons/asset-icons/earth-globe.svg" height="48px">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="cursor-pointer m-2">
                    <img class="img-logo p-1" src="../assets/img/icons/asset-icons/plug-1.svg" height="48px">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="cursor-pointer m-2">
                    <img class="img-logo p-1" src="../assets/img/icons/asset-icons/electric-tower-1.svg" height="48px">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="cursor-pointer m-2">
                    <img class="img-logo p-1" src="../assets/img/icons/asset-icons/eolic-energy-1.svg" height="48px">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="cursor-pointer m-2">
                    <img class="img-logo p-1" src="../assets/img/icons/asset-icons/factory-5.svg" height="48px">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="card-b cursor-pointer m-2">
                    <img class="img-logo p-1" src="../assets/img/icons/asset-icons/light-bulb.svg" height="48px">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="card-b cursor-pointer m-2">
                    <img class="img-logo p-1" src="../assets/img/icons/asset-icons/eolic-energy.svg" height="48px">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="card-b cursor-pointer m-2">
                    <img class="img-logo p-1" src="../assets/img/icons/asset-icons/plug-1.svg" height="48px">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="card-b cursor-pointer m-2">
                    <img class="img-logo p-1" src="../assets/img/icons/asset-icons/settings-1.svg" height="48px">
                </div>
            </div>
            <div class="col-4 col-md-3">
                <div class="card-b cursor-pointer m-2">
                    <img class="img-logo p-1" src="../assets/img/icons/asset-icons/snowflake.svg" height="48px">
                </div>
            </div>
        </div>
    </div>
