:host {
  display: flex;
  color: #FFFFFF;
  align-items: center;
  margin-bottom: 21px;
}

.title {
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 31px;
  padding-left: 5px;
}

img {
  height: auto;
  width: 28px;
}