:host {
  display: flex;
  flex-direction: column;
  text-align: right;

  ::ng-deep .mat-progress-bar-fill::after {
    border-radius: 1em;
  }

  ::ng-deep .mat-progress-bar-buffer {
    background: #181522;
  }

  ::ng-deep .mat-progress-bar {
    border-radius: 1em;
  }
}

:host(.short) {
  display: flex;
  flex-direction: row;
  text-align: left;
  max-width: 300px;
  align-items: center;

  .text {
    max-width: 100px;
  }
}

:host {
  &.card-progress-bad{
    color: #FF0000;

    ::ng-deep .mat-progress-bar-fill::after {
      background-color: #FF0000;
    }
  }
  &.card-progress-fair{
    color: #FFA500;

    ::ng-deep .mat-progress-bar-fill::after {
      background-color: #FFA500;
    }
  }
  &.card-progress-good{
    color: #40AD87;

    ::ng-deep .mat-progress-bar-fill::after {
      background-color: #40AD87;
    }
  }
  &.card-progress-excellent{
    color: #0FB544;

    ::ng-deep .mat-progress-bar-fill::after {
      background-color: #0FB544;
    }
  }
}