<!-- Filter Sub Organization -->
<div class="d-flex align-items-center flex-wrap mb-2" *ngIf="listType === ListType.ORG && orgHierarchy?.length">
  <div class="d-flex align-items-center my-1" *ngIf="orgHierarchy?.length">
    <div class="filter-list-item">
      <a href="#" (click)="resetOrgList($event)"><span class="filter-link">ALL Organizations</span></a>
    </div>
    <mat-icon class="color-white opacity-50">chevron_right</mat-icon>
  </div>
  <ng-container *ngFor="let orgItem of orgHierarchy; let i = index;">
    <div class="d-flex align-items-center my-1" *ngIf="i !== (orgHierarchy?.length - 1)">
      <div class="filter-list-item">
        <img class="img-logo-list-sm mr-2" *ngIf="!orgItem?.definition?.logoUrl"
             src="../assets/img/no-organization-image.png"/>
        <img class="img-logo-list-sm mr-2" *ngIf="orgItem?.definition?.logoUrl" [src]="orgItem?.definition?.logoUrl"/>
        <a href="#" (click)="resetOrgList($event, i)"><span
            class="filter-link">{{ orgItem?.definition?.orgName }}</span></a>
      </div>
      <mat-icon class="color-white opacity-50">chevron_right</mat-icon>
    </div>
    <div class="d-flex align-items-center my-1" *ngIf="i === (orgHierarchy?.length - 1)">
      <img class="img-logo-list-sm mr-2" *ngIf="!orgItem?.definition?.logoUrl"
           src="../assets/img/no-organization-image.png"/>
      <img class="img-logo-list-sm mr-2" *ngIf="orgItem?.definition?.logoUrl" [src]="orgItem?.definition?.logoUrl"/>
      <span class="filter-link color-white opacity-50">{{ orgItem?.definition?.orgName }}</span>
    </div>
  </ng-container>
</div>

<!-- START: Filter-->
<form [formGroup]="filterForm">
  <div *ngIf="isFilterShown && listType !== ListType.ORG"
       class="card card-filter d-flex justify-content-end pt-2 pb-3 mb-1">
    <div class="row">
      <div class="col-md-3" *ngIf="listType === ListType.APP || listType === ListType.ROLE">
        <mat-label class="color-white ml-2 pl-1">Organization</mat-label>
        <mat-form-field appearance="outline" floatPlaceholder="never"
                        class="mat-input-sort line-height-filter pt-1 mr-0 mr-lg-0 mb-2 mb-lg-0">
          <input matInput autocomplete="off" formControlName="organization" type="text" placeholder="Organization"
                 maxlength="256" (input)="filter()"/>
        </mat-form-field>
      </div>
      <div class="col-md-3" *ngIf="listType === ListType.ROLE">
        <mat-label class="color-white ml-2 pl-1">Application</mat-label>
        <mat-form-field appearance="outline" floatPlaceholder="never"
                        class="mat-input-sort line-height-filter pt-1 mr-0 mr-lg-0 mb-2 mb-lg-0">
          <input matInput autocomplete="off" formControlName="application" type="text" placeholder="Application"
                 maxlength="256" (input)="filter()"/>
        </mat-form-field>
      </div>
      <div class="col-md-3" *ngIf="listType === ListType.ROLE">
        <mat-label class="color-white ml-2 pl-1">Role</mat-label>
        <mat-form-field appearance="outline" floatPlaceholder="never"
                        class="mat-input-sort line-height-filter pt-1 mr-0 mr-lg-0 mb-2 mb-lg-0">
          <input matInput autocomplete="off" formControlName="role" type="text" placeholder="Role" maxlength="256"
                 (input)="filter()"/>
        </mat-form-field>
      </div>
      <div class="col-md-3" *ngIf="listType === ListType.APP"></div>
      <div class="col-md-3" *ngIf="listType === ListType.APP"></div>
      <div class="col-md-3 d-flex justify-content-center justify-content-lg-end align-items-end mb-1">
        <button mat-stroked-button class="btn btn-small mb-0 mt-2 mt-lg-0 mb-md-2 mb-lg-0" (click)="resetFilter()">Clear
          <ng-container *ngIf="listType !== ListType.APP">Filters</ng-container>
          <ng-container *ngIf="listType === ListType.APP">Filter</ng-container>
        </button>
      </div>
    </div>
  </div>
</form>

<!-- START TABLE -->
<div class="card card-default mb-3 pb-3">
  <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc">
    <!-- Logo Column -->
    <ng-container matColumnDef="logoUrl" *ngIf="ListType.ROLE !== listType">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" data-label="">
        <div class="d-flex justify-content-center justify-content-md-start">
          <ng-container *ngIf="!element?.definition?.logoUrl">
            <img class="img-logo-list" src="../assets/img/no-organization-image.png"
                 *ngIf="ListType.ORG === listType"/>
            <img class="img-logo-list" src="../assets/img/no-application-image.png" *ngIf="ListType.APP === listType"/>
          </ng-container>
          <img class="img-logo-list" [src]="element?.definition?.logoUrl" *ngIf="element?.definition?.logoUrl"/>
        </div>
      </td>
    </ng-container>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ listTypeLabel }} Name</th>
      <td mat-cell *matCellDef="let element" data-label="Name" (click)="viewSubOrgs(element)" class="cursor-pointer">
        <div class="d-flex flex-row justify-content-between justify-content-lg-start">
          <ng-container *ngIf="ListType.ORG === listType"> {{element?.definition?.orgName}} </ng-container>
          <ng-container *ngIf="ListType.APP === listType"> {{element?.definition?.appName}} </ng-container>
          <ng-container *ngIf="ListType.ROLE === listType"> {{element?.definition?.roleName }} </ng-container>
          <ng-container *ngIf="element?.subOrgs && element?.subOrgs?.length">
            <div>
            <span class="px-2 sub-btn" matTooltipClass="multiline-tooltip" matTooltip="{{ getTooltip(element) }}"
                  matTooltipPosition="below">
              +{{ element?.subOrgs?.length || 0 }}
            </span>
            </div>
          </ng-container>
        </div>
      </td>
    </ng-container>

    <!-- Role Type Column -->
    <ng-container matColumnDef="type" *ngIf="ListType.ROLE == listType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ng-container> Role Type</ng-container>
      </th>
      <td mat-cell *matCellDef="let element" data-label="Role Type">
        <ng-container *ngIf="element?.definition?.roleType === RoleType.ORG"> Organization</ng-container>
        <ng-container *ngIf="element?.definition?.roleType === RoleType.APP"> Application</ng-container>
        <ng-container *ngIf="element?.definition?.roleType === RoleType.CUSTOM"> Custom</ng-container>
      </td>
    </ng-container>

    <!-- Namespace Column -->
    <ng-container matColumnDef="namespace">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <ng-container> {{ listTypeLabel }} Namespace</ng-container>
      </th>
      <td mat-cell *matCellDef="let element" data-label="Namespace"> {{element.namespace}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-right"></th>
      <td mat-cell *matCellDef="let element">
        <div class="d-flex justify-content-end">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Action button list">
            <mat-icon class="btn-color-primary">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item class="btn-color-primary" (click)="viewDetails(listType, element)">
              <mat-icon class="btn-color-primary">preview</mat-icon>
              <span>View Details</span>
            </button>


            <ng-container *ngIf="element?.isOwnedByCurrentUser">
              <app-organization-actions *ngIf="listType === ListType.ORG"
                                        [element]="element"
                                        (organizationCreated)="newSubOrg(element)"
                                        (viewApps)="viewApps(ListType.ORG, element)"
                                        (viewRoles)="viewRoles(ListType.ORG, element)"
                                        (appCreated)="newApp(element)"
                                        (edited)="edit()"
                                        (transferred)="transferOwnership()"
                                        (deleteConfirmed)="remove(listType, element)">
              </app-organization-actions>

              <app-application-actions *ngIf="listType === ListType.APP"
                                       [element]="element"
                                       (viewRoles)="viewRoles(ListType.APP, element)"
                                       (roleCreated)="viewRoles(ListType.APP, element)"
                                       (edited)="edit()"
                                       (deleteConfirmed)="remove(listType, element)">
              </app-application-actions>

              <app-role-actions *ngIf="listType === ListType.ROLE"
                                [element]="element"
                                (edited)="edit()">
              </app-role-actions>

            </ng-container>
          </mat-menu>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!-- Shows when table is empty -->
  <div class="d-flex justify-content-center align-items-center mt-4 mb-3" *ngIf="!dataSource?.data?.length">
    <div class="d-flex align-items-center no-record color-white">
      <mat-icon class="mr-2">info</mat-icon>
      <i>No Record Found</i>
    </div>
  </div>
  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" [hidePageSize]="true" showFirstLastButtons>
  </mat-paginator> -->
</div>
