.patrons {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;

  text-align: right;
  letter-spacing: 0.05em;

  color: #8A898F;
}

.separator {
  border-top: 1px solid #2A2738;
}