<h4 mat-dialog-title class="mb-0 d-flex justify-content-between align-items-center">{{ data?.header || 'Confirm' }}
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</h4>

<div mat-dialog-content>
  <div class="mb-2 mt-3">
    {{ data?.message }}
  </div>
</div>

<div mat-dialog-actions class="d-flex justify-content-between">
  <button mat-raised-button class="btn btn-primary w-100" type="submit" (click)="closeMe(false)">Cancel</button>
  <button mat-raised-button class="btn btn-primary w-100" type="submit" (click)="closeMe(true)">Confirm</button>
</div>