<div class="header-wrapper d-flex flex-grow-1 justify-content-end">
  <ng-container *ngIf="(loggedIn$ | async)">
    <ng-container *ngIf="(accountInfo$ | async) as info">
      <div class="f-14">{{info.accountInfo.account | json}}</div>

      <div class="btn-user-info" [matMenuTriggerFor]="menu">
        <div class="d-flex align-items-center ml-3 ml-md-0 flex-row">
          <div class="d-none d-md-flex flex-column align-items-end ml-2 mr-2">
            <div class="account-title">{{info?.userName}}</div>

          </div>
          <img class="img-thumbnail rounded-circle" src="../assets/img/identity-image.png" width="34"
               height="34" alt="Identity image">
          <mat-icon>arrow_drop_down</mat-icon>
        </div>
      </div>
      <mat-menu #menu="matMenu" xPosition="before">
        <div class="d-flex justify-content-center flex-column py-2 px-3">
          <app-connected-network [chainName]="info.accountInfo.chainName"
                                 [wallet]="info.wallet">
          </app-connected-network>
          <div>
            <app-user-name [userName]="info?.userName"></app-user-name>
            <app-user-did [did]="info?.accountInfo?.account"></app-user-did>
          </div>
          <app-divider></app-divider>
          <button mat-raised-button data-qa-id="logout" class="connect-btn color-white text-uppercase my-2"
                  (click)="logOut()">Disconnect from Metamask
          </button>
        </div>
      </mat-menu>
    </ng-container>
  </ng-container>
</div>
