<div class="header-wrapper d-flex flex-grow-1 justify-content-end">
  <ng-container *ngIf="(loggedIn$ | async)">
    <!-- <button mat-raised-button data-qa-id="logout" class="connect-btn color-white text-uppercase mr-2"
            (click)="logOut()">Disconnect Wallet
    </button> -->
    <div class="btn-user-info" [matMenuTriggerFor]="menu">
      <div class="d-flex align-items-center ml-3 ml-md-0 flex-row">
        <div class="d-none d-md-flex flex-column align-items-end ml-2 mr-2">
          <div class="account-title"> Account Name </div>
        </div>
        <img class="img-thumbnail rounded-circle" src="../assets/img/identity-image.png" width="34"
             height="34" alt="Identity image">
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
    </div>
    <mat-menu #menu="matMenu">
      <div class="d-flex justify-content-center flex-column py-2 px-3">
        <div class="d-flex justify-content-between mb-2">
          <div class="network" matTooltip="Connected to Volta Network"><mat-icon class="color-success mr-1">circle</mat-icon>Volta Network</div>
          <!-- <div class="network"><mat-icon class="color-disabled mr-1">circle</mat-icon>Disconnected</div> -->
          <div class="wallet" matTooltip="Using Metamask"><img src="../assets/img/icons/metamask-logo.svg" width="28"/></div>
        </div>
        <div>
          <div class="d-flex flex-column align-items-center mt-3">
            <img class="img-thumbnail rounded-circle mb-3" src="../assets/img/identity-image.png" width="48"
              height="44" alt="Identity image">
            <div class="account-name">Account Name</div>
          </div>
          <div class="d-flex align-items-center justify-content-center did-wrapper mx-2 mb-3 px-3"
            matTooltip="Copy to clipboard">
            <div class="f-14">did:ethr:0x77Db...4f98</div>
            <mat-icon class="ml-2 color-white">content_copy</mat-icon>
          </div>
        </div>
        <app-divider></app-divider>
        <button mat-raised-button data-qa-id="logout" class="connect-btn color-white text-uppercase my-2"
            (click)="logOut()">Disconnect Wallet
        </button>
      </div>
    </mat-menu>
  </ng-container>
</div>