:host {
  height: 56px;
  background-color: transparent;
  width: 100%;
  display: block;
}

.header-wrapper {
  padding: 15px;
  width: 100%;
  max-width: 1402px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.btn-user-info {
  color: #FFF;
  position: relative;
  z-index: 3;
  cursor: pointer;

  mat-icon {
    position: relative;
    top: 1.3px;
    left: 1px;
  }
}

.text-color {
  color: #FFFFFF;
}

.color-disabled {
  color: #A6A5AC;
}

.connect-btn {
  font-family: Rajdhani, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px !important;
  border-radius: 16px;
  letter-spacing: 1.25px;
  background-color: #A566FF;
  padding: 0 24px !important;
  height: 42px;
  width: auto;

  &.mat-raised-button[disabled] {
    color: #AF76FF !important;
    background-color: rgb(165 102 255 / 20%) !important;
  }

  &:hover {
    background-color: #ad74ff;
  }
}


::ng-deep {
  .mat-menu-panel {
    color: #A6A5AC !important;
    background: #2E293E !important;
    min-width: 260px !important;
    max-width: 300px !important;
  }
}
