.separator {
  border-top: 1px solid #2A2738;
}


::ng-deep {
  .mat-step-label {
    //color: #8678AB;
  }

  .mat-step-header .mat-step-label.mat-step-label-active {
    color: #A566FF
  }
}

.text-white {
  color: #FFFFFF
}